{% extends "../../topic/inc/base.html" %}
{% block style %}
<script src="/static/admin/js/udeitor/ueditor.parse.min.js"></script>
{% endblock %}
{% block content %}
{%set cate = category.id|get_cate()%}
<!--
PAGE HEADER

CLASSES:
.page-header-xs	= 20px margins
.page-header-md	= 50px margins
.page-header-lg	= 80px margins
.page-header-xlg= 130px margins
.dark			= dark page header

.shadow-before-1 	= shadow 1 header top
.shadow-after-1 	= shadow 1 header bottom
.shadow-before-2 	= shadow 2 header top
.shadow-after-2 	= shadow 2 header bottom
.shadow-before-3 	= shadow 3 header top
.shadow-after-3 	= shadow 3 header bottom
-->
<section class="page-header page-header-xs parallax parallax-2 dark" style="background-image: url(/static/assets/images/wall3-min.jpg); background-position: 50% 59px;" >
    <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>
    <div class="container">

        <div class="testimonial clearfix">
            <div class="pull-left">
                <div class="row"><!-- item -->
                    <div class="col-md-2"><!-- company logo -->
                        <img src="{{info.pin|get_pic('m=1,w=241,h=241')}}" class="img-responsive thumbnail" alt="company logo">
                    </div>
                    <div class="col-md-10"><!-- company detail -->
                        <h4 class="margin-bottom-10 size-25 width-700">{{info.title}}</h4>
                        <ul class="list-inline">
                            <li><i class="fa fa-globe text-success"></i>网址: <a class="text-success" href="#">http://{{http.hostname}}/mod/artist/{{info.pinyin}}</a></li>
                            <li><i class="fa fa-briefcase"></i>作品: <span class="text-warning">0</span></li>
                            <li><i class="fa fa-eye"></i>浏览: <span class="text-warning">{{info.view}}</span></li>
                            <li><i class="fa fa-money"></i>润格: <span class="text-warning">{{info.runge}}</span>元/平尺</li>
                            <li><i class="fa fa-opencart"></i>已售: <span class="text-warning">0</span>幅</li>
                        </ul>
                        <p class="margin-bottom-10">{{info.description}}</p>
                        {%if focus.key_id%}
                        <a class="btn btn-default  " style="z-index: 10" >
                            取消关注 <span class="badge">{{topic.focus_count}}</span>
                        </a>

                        {%else%}
                        <a href="#" class="btn btn-3d btn-teal  "><i class="glyphicon glyphicon-plus"></i> 关注 <span class="badge">{{info.focus_count}}</span></a>
                        {%endif%}
                    </div>
                </div>
            </div>


        </div>



        <ul class="page-header-tabs list-inline">
            <li class="{%if mod.id==null%}active{%endif%}"><a href="/mod/author/index/detail/id/{{info.id}}">{{info.title}}介绍</a></li>
            <li ><a href="/mod/author/index/info/author_id/{{info.id}}/model_id/4"> {{info.title}}作品</a></li>
            <li ><a href="/t/{{key}},{{m.id}}"> {{info.title}}展览</a></li>
            <li ><a href="/mod/author/index/info/author_id/{{info.id}}/model_id/2"> {{info.title}}新闻</a></li>
        </ul>

        <!-- /page tabs -->
    </div>
</section>

<!-- -->
<section >
    <div class="container">
        <div class="box-light"><!-- .box-light OR .box-dark -->

            <div class="box-inner">
        <div id="contentcmswing">
        {{info.content|safe}}
        </div>
            </div>
        </div>
    </div>
</section>
<!-- / -->
{% endblock %}

{% block script %}
<script>
    uParse('#contentcmswing', {
        rootPath: '/static/admin/js/udeitor/'
    })
</script>
{% endblock %}