{% extends "view/admin/ext_admin.html" %}
{% block extadmin %}
<section class="panel panel-default">
    <header class="panel-heading text-right bg-light  clearfix">
        <ul class="nav nav-tabs pull-left">
            <li class="{{'active' if ctx.action == 'index'}}"><a  href="/{{ctx.controller}}/index">图片管理</a></li>
            <li class="{{'active' if ctx.action == 'file'}}"><a  href="/{{ctx.controller}}/file">文件管理</a></li>
            <li class="{{'active' if ctx.action == 'api'}}"><a  href="/{{ctx.controller}}/api">接口管理</a></li>
        </ul>
    </header>
    <div class="row wrapper">
        <!--按钮操作区 不需要可以删除-->
        <div class="col-sm-12 m-b-xs">
            <a href="/{{ctx.controller}}/addapi" class="btn btn-sm btn-primary">
                添加接口
            </a>
            <div class="btn-group" >

                {%for t in type%}
                <a href="/{{ctx.controller}}/index/?typeid={{t.typeid}}" class="btn btn-sm btn-default {%if typeid == t.typeid%}active{%endif%}">
                    {{t.name}}
                </a>
                {%endfor%}
            </div>
        </div>
        <!--//按钮操作区 不需要可以删除-->
    </div>
    <!--列表，可以根据自己的实际业务，些内容-->
    <div class="table-responsive">
        <table class="table table-striped b-t b-light">
            <thead>
            <tr>
                <th style="width:20px;"><label class="checkbox m-n i-checks"><input type="checkbox"><i></i></label></th>
                <th style="width:80px;">排序</th>
                <th style="">接口标示</th>
                <th class="">表单name值</th>
                <th class="">描述</th>
                <th class="">类型</th>
                <th class="">状态</th>
                <th >操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
            <tr>
                <td><label class="checkbox m-n i-checks"><input class="ids" type="checkbox" name="ids" value="{{item.id}}"><i></i></label></td>
                <td><input class="form-control form-control-text sort" value="{{item.sort}}" name="sort" data-id="{{item.id}}"/></td>
                <td>{{item.dis}}</td>
                <td>{{item.name if item.name else 'file'}}</td>
                <td>{{item.description}}</td>
                <td>{%if item.type ==0%}图片{%else%}文件{%endif%}</td>
                <td>{%if item.status==1%}启用{%else%}禁用{%endif%}</td>
                <td>

                    <a href="/{{ctx.controller}}/editapi/?id={{item.id}}" class="text-info" >修改</a>
                    <a href="/{{ctx.controller}}/del/?ids={{item.id}}" class="confirm ajax-get text-info">删除</a></td>

            </tr>
            {% else %}
            <tr><td colspan="8"><div class="alert alert-warning alert-block">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <p>这是后台插件模板的一个例子！</p>
            </div></td></tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
    <!--列表，可以根据自己的实际业务，些内容-->
    <!--分页底部导航-->
    <footer class="panel-footer">
        <div class="row">

            <div class="col-sm-6 text-center-xs">
                <div class="btn-group">
                    <a href="/{{ctx.controller}}/sort" class="btn btn-default ajax-post" target-form="sort">排序</a>
                    <a href="/{{ctx.controller}}/setstatus/?model=ext_attachment&status=1" class="btn btn-default ajax-post" target-form="ids">启用</a>
                    <a href="/{{ctx.controller}}/setstatus/?model=ext_attachment&status=0" class="btn btn-default ajax-post" target-form="ids">停用</a>
                </div>
            </div>

            <div class="col-sm-6 text-right text-center-xs">
                {{pagerData | safe}}
            </div>
        </div>
    </footer>
    <!--分页底部导航-->
</section>
{% endblock %}
