<!doctype html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>{{ctx.meta_title}}-{{ctx.app.config.sys.name}}</title>
    <meta name="keywords" content="{{ctx.keywords}}" />
    <meta name="description" content="{{ctx.description}}" />
    <meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- up to 10% speed up for external res -->
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <!-- preloading icon font is helping to speed up a little bit -->
    <link rel="preload" href="/public/cms/fonts/flaticon/Flaticon.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="/public/cms/css/core.min.css">
    <link rel="stylesheet" href="/public/cms/css/vendor_bundle.min.css">
     <link rel="stylesheet" href="/public/cms/css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link rel="shortcut icon" href="/public/cms/favicon.ico">
    <link rel="apple-touch-icon" href="/public/cms/demo.files/logo/icon_512x512.png">

  </head>

  <body {%block body%}{%endblock%}>
<!-- wrapper -->
    <div id="wrapper">
   {# 网站头部 #}
   {% include "./inc_header.html" %}
   {# 网站头部结束 #}

   {# 网站内容 #}
   {% block middle %}{% endblock %}
   {# 网站内容结束 #}
   
   {# 网站底部 #}
   {% include "./inc_footer.html" %}
   {# 网站底部结束 #}
    </div>
  <!-- /#wrapper -->
{#
    <!-- floating buttons (demos, buy now) -->
    <div class="text-rotate position-fixed start-0 bottom-0 mb-3" style="z-index:1021">
      <a href="#offcanvasDemos" data-bs-toggle="offcanvas" aria-controls="offcanvasDemos" class="btn btn-sm btn-primary bg-gradient rounded-xl rounded-start-0 mx-0 mt-1 ps-1 px-2">Licenses</a>
      <!-- <a href="../_rtl/html_frontend/index.html" target="_blank" rel="noopener nofollow" class="btn btn-sm btn-warning bg-gradient rounded-xl rounded-start-0 mx-0 mt-1 ps-1 px-2">RTL</a> -->
    </div>
    <!-- /floating buttons (demos, buy now) -->


    <!-- offcanvas : demos -->
    <div class="offcanvas offcanvas-lg offcanvas-start" tabindex="-1" id="offcanvasDemos" aria-labelledby="offcanvasDemosLabel">
      
      <!-- offcanvas : header -->
      <div class="offcanvas-header border-bottom">
        <div class="offcanvas-title lh-1" id="offcanvasDemosLabel">
          <span class="d-block fs-4 mb-1 text-danger-gradient fw-bold">Smarty 5</span>
          <span class="d-block small fw-medium">Frontend + Admin</span>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <!-- offcanvas : body -->
      <div class="offcanvas-body p-4 p-xl-5">

        <div class="d-flex align-items-center justify-content-between mb-2">
          <h3 class="h5 text-dark fw-bold">Licenses</h3>
          <a class="small fw-medium" href="https://support.wrapbootstrap.com/help/usage-licenses" target="_blank" rel="noopener nofollow">License FAQ</a>
        </div>

        <!-- licenses -->
        <div class="border border-dashed rounded p-3 mb-3">
          <h6 class="d-flex justify-content-between mb-0">
            <span>Single license</span>
            <span class="fs-5"><span class="smaller text-muted">$</span>24</span>
          </h6>
          <p class="mb-0 text-muted small">For single end product used by you or one client</p>

          <div class="border border-dashed border-bottom-0 my-3"><!-- divider --></div>

          <h6 class="d-flex justify-content-between mb-0">
            <span>Multiple license</span>
            <span class="fs-5"><span class="smaller text-muted">$</span>128</span>
          </h6>
          <p class="mb-0 text-muted small">Multiple instalations used by you or one client</p>

          <div class="border border-dashed border-bottom-0 my-3"><!-- divider --></div>

          <h6 class="d-flex justify-content-between mb-0">
            <span>Extended license</span>
            <span class="fs-5"><span class="smaller text-muted">$</span>1200</span>
          </h6>
          <p class="mb-0 text-muted small">For single SaaS app, paying users</p>
        </div>

        <div class="d-grid mb-5">
          <a href="https://wrapbootstrap.com/theme/smarty-website-admin-rtl-WB02DSN1B" target="_blank" rel="noopener nofollow" class="btn btn-primary bg-gradient w-100">
            Buy Now
          </a>
        </div>

        <!-- smarty performance -->
        <img width="403" height="167" class="img-fluid" src="/public/cms/demo.files/images/smarty_lighthouse_403.png" alt="smarty performance">

      </div>

    </div>
    <!-- /offcanvas : demos -->
#}
    <script src="/public/cms/js/core.min.js"></script>
    <div id="page_js_files">
      <script>
       //登录
        var mc_sign_callback = function(form,data){
          if(data.status===1000){
            $.SOW.core.toast.show('danger', 'Error', data.msg, 'top-end');
          }else{
            $.SOW.core.toast.show('success', 'Success', data.msg, 'top-end');
            location.reload();
          }
        }
        //注册
        var mc_signup_callback = function(form,data){
        if(data.status===1000){
          $.SOW.core.toast.show('danger', 'Error', data.msg, 'top-end');
        }else{
          $.SOW.core.toast.show('success', 'Success', data.msg, 'top-end');
          $(form)[0].reset();
          $("#accordionAccountSignUp").removeClass('show');
          $("#accordionAccountSignIn").addClass('show')
        }
        }
      </script>
      <!-- additional javascripts inside here -->
      {%block script%}{%endblock%}
    </div>
    
  </body>
</html>