<!-- Footer -->
			<footer id="footer" class="footer-dark">

				<!-- expandable : hidden by default -->
				<div id="footer_expand" class="collapse">
					<div class="container py-3">

						<ul class="mt-3 mb-0 breadcrumb bg-transparent p-0 block-xs"> 
							<li class="breadcrumb-item"><a href="#">联系我们</a></li> 
							<li class="breadcrumb-item"><a href="#">关于我们</a></li> 
							<li class="breadcrumb-item"><a href="#">团队介绍</a></li> 
							<li class="breadcrumb-item"><a href="#">服务协议 &amp; 隐私政策</a></li> 
							<li class="breadcrumb-item"><a href="#">商务合作</a></li> 
						</ul>

						<div class="text-muted mt-3">
							<p>CmsWing 企业级 Node.js WEB开发框架! 使用 Egg.js 和 GraphQ 构建更好的 NodeJS 应用程序，帮助开发人员降低开发和维护成本！</p>
						</div>

					</div>
				</div>
				<!-- /expandable : hidden by default -->


				<div class="bg-distinct py-3 clearfix">

					<div class="container clearfix fw-light text-center-xs position-relative">


						<div class="clearfix float-start float-none-xs">

							<!-- badge expand info -->
							<span id="footer_expand_badge" class="badge bg-secondary rounded-pill p-2 position-absolute start-0 mt-n5 mx-2 position-relative small fw-normal">
								<i class="arrow arrow-bottom border-secondary mx-1 mb-2"></i>
								单击展开
							</span>


							<!-- footer expand toggler -->
							<a href="#footer_expand" 
								data-toggle-target="#footer_expand_badge" 
								data-toggle-container-class="hide-force" 
								data-offset="-100%" 
								data-speed="600" 
								class="scroll-to btn-toggle btn float-start overlay-dark overlay-opacity-2 overflow-hidden text-decoration-none px-3 rounded mt-n2 mb-n2" data-bs-toggle="collapse" rel="noopener" aria-expanded="false">
								
								<span class="group-icon">
									<i class="fi fi-menu-dots fs-4"></i>
									<i class="fi fi-close fs-4"></i>
								</span>

							</a>

							<!-- copyright -->
							<div class="fs-6 py-2 float-start float-none-xs m-0-xs">
								&copy; <em class="text-danger-gradient fw-bold fs-5">CmsWing</em> 🧣 <span class="smaller bg-gradient-dark text-warning  border-start border-end border-dark border-2 rounded-xl p-1">
									NodeJS WEB开发框架!
								</span>
							</div>

							<div class="clearfix mt-2 d-block d-sm-none"><!-- mobile spacer --></div>
						</div>


						<!-- credit card -->
						<ul class="list-inline mb-0 mt-2 float-end float-none-xs"> 
							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="/public/cms/images/credit_card/visa.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="visa credit card icon">
							</li> 

							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="/public/cms/images/credit_card/mastercard.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="mastercard credit card icon">
							</li> 

							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="/public/cms/images/credit_card/discover.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="discover credit card icon">
							</li>

							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="/public/cms/images/credit_card/amazon.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="amazon credit card icon">
							</li>
							
							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="/public/cms/images/credit_card/paypal.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="paypal credit card icon">
							</li>

							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="/public/cms/images/credit_card/skrill.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="skrill credit card icon">
							</li>

							<!-- more vendors on /public/cms/images/credit_card/ -->

						</ul>
						<!-- /credit card -->

					</div>

				</div>

			</footer>
			<!-- /Footer -->