{% extends "./inc_base.njk" %}
{%block body%}class="header-scroll-reveal"{%endblock%}
{% block middle %}

			<div class="section pt-5 pb-5">
				<div class="container">

					<div class="row">

						<div class="col-12 col-lg-10 order-2">

							<div class="shadow-xs bg-white mb-4 p-3 rounded clearfix">

								<label class="h5 mb-0">
									{{classify.title}}
								</label>

								<div class="float-end position-relative mt-1 small">
									排序: &nbsp; <a href="{{ orderby.def.url }}" class="text-danger text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
										{{ orderby.def.name }}
										<i class="fi fi-arrow-down-slim smaller"></i>
									</a>

									<ul class="dropdown-menu border-0 mt-3 rounded fs-6">
										{% for item in orderby.list %}
										<li class="dropdown-item {% if ctx.query.orderby==item.id %}active{% endif %}"><a href="{{ item.url }}" class="text-muted small py-2 d-block">{{ item.name }}</a></li>
										{% endfor %}
									</ul>
								</div>
								<hr>
                 <h1 class="h6 mb-0">
									找到 <span class="text-danger">{{ list.count }}</span> 个相关结果
								</h1>

							</div>


         {%for item in list.rows%}
							<!-- item -->
							<div class="shadow-xs rounded mb-3 p-3">

								<div class="row g-0">

									<div class="col-12 col-md-3 p--0">

										<figure class="overflow-hidden text-center clearfix d-block m-0 position-relative">

											<a href="/cms/details/{{item.id}}" class="text-decoration-none">
											{%if not item.cover_url%}
												<svg class="d-block w-100 fs-1 rounded" xmlns="http://www.w3.org/2000/svg" role="img" style="text-anchor: middle;user-select: none;">
												<rect width="100%" height="100%" fill="#c6d3e6"></rect>
												<text x="50%" y="50%" fill="#869ab8" dy=".3em">暂无图片</text>
												</svg>
												{%else%}
												<img class="img-fluid rounded lazy" data-src="{{item.cover_url}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
												{%endif%}
											</a>
										</figure>

									</div>
									<div class="col-12 mt-3 d-block d-sm-none"><!-- mobile spacer --></div>
									<div class="col-12 col-md-9 order-xs-3 order-md-2 order-lg-2 p-0">

										<div class="p-0 p-lg-3">

											<h3 class="h5 mb-2">
												<a href="/cms/details/{{item.id}}">
													{{item.title}}
												</a>
											</h3>

                			<p class="mb-2">
                				{{item.description|truncate(80, true, "...")}}
                			</p>

											<ul class="list-inline text-gray-700 small mb-2">
											    <li class="list-inline-item">	{{item.pathTitle}}</li>
											    <li class="list-inline-item">/</li>
											    <li class="list-inline-item">{{helper.moment(item.createdAt).format('YYYY-MM-DD HH:mm:ss')}}</li>
											    <li class="list-inline-item">/</li>
											    <li class="list-inline-item">5 Baths</li>
											</ul>


										</div>

									</div>

								</div>

							</div>
							<!-- /item -->
        {%endfor%}
							<!-- pagination -->
							<nav aria-label="pagination" class="mt-5">
								{{pagination|safe}}
							</nav>
							<!-- pagination -->

						</div>


						<div class="col-12 col-lg-2 mb-3 order-1">
							<form method="get" action="{{ classify.url }}" class="input-group-over d-block mb-2">
								<div class="form-floating mb-3">
									<input placeholder="搜索..." id="doc_search" name="keywords" type="text" class="form-control" value="{{ ctx.query.keywords }}">
									{% if ctx.query.sub %}
									<input name="sub" type="hidden" value="{{ ctx.query.sub }}">
									{% endif %}
									<label for="doc_search">搜索...</label>
								</div>

								<button type="submit" class="btn smaller">
									<i class="fi fi-search m-0"></i>
								</button>

							</form>
							{%set classifyList = classify.id|@classify('top')%}

							{%if classifyList%}
							<!-- CATEGORIES -->
							<nav class="nav-deep nav-deep-light mb-3 shadow-xs shadow-none-md shadow-none-xs px-3 pb-3 p-0-md p-0-xs rounded">

								<!-- mobile trigger : categories -->
								<button class="clearfix btn btn-toggle btn-sm w-100 text-align-left shadow-md border rounded mb-1 d-block d-lg-none" data-bs-target="#nav_responsive" data-toggle-container-class="d-none d-sm-block bg-white shadow-md border animate-fadein rounded p-3">
									<span class="group-icon px-2 py-2 float-start">
										<i class="fi fi-bars-2"></i>
										<i class="fi fi-close"></i>
									</span>
									<span class="h5 py-2 m-0 float-start">
										分类
									</span>
								</button>

								<!-- desktop only -->
								<h5 class="py-3 m-0 d-none d-lg-block">
									分类
								</h5>


								<!-- navbar : navigation -->
								<ul id="nav_responsive" class="nav flex-column d-none d-lg-block">
                 {%for item in classifyList%}
									<li class="nav-item {%if (item.id ==classify.id) or (classify.id in (item.arrId or [])) %}active{%endif%}">
										{%if item.children%}
										<a class="nav-link px-0" href="#">
											<span class="group-icon">
												<i class="fi fi-arrow-end"></i>
												<i class="fi fi-arrow-down"></i>
											</span>
											<span class="px-2 d-inline-block">
												{{item.title}}
											</span>
										</a>
										{%else%}
											<a class="nav-link px-0" href="{{item.url}}">
											<i class="fi fi-arrow-end m-0 smaller"></i>
											<span class="px-2 d-inline-block">
												{{item.title}}
											</span>
										</a>
										{%endif%}
										{%if item.children%}
											<ul class="nav flex-column ps-2">
												{%for _item in item.children%}
											<li class="nav-item {%if _item.id ==classify.id%}active{%endif%}">
												<a class="nav-link" href="{{_item.url}}">
													{{_item.title}}
												</a>
											</li>
											{%endfor%}
										</ul>
										{%endif%}
									</li>
                  {%endfor%}
								</ul>

							</nav>
							<!-- /CATEGORIES -->
              {%endif%}
							{% set subclassify = classify.id|@classify('sub') %}
							{% for item in  subclassify%}
							<!-- Suggestions -->
							<div class="card border-0 shadow-xs d-block mb-3 px-3 pb-3 shadow-none-md shadow-none-xs p-0-md p-0-xs rounded">
								<!-- mobile trigger : categories -->
								<button class="clearfix btn btn-toggle btn-sm w-100 text-align-left shadow-md border rounded mb-1 d-block d-lg-none"
								data-bs-target="#nav_{{ item.name }}"
								data-toggle-container-class="d-none d-sm-block bg-white shadow-md border animate-fadein rounded p-3">
									<span class="group-icon px-2 py-2 float-start">
										<i class="fi fi-bars-2"></i>
										<i class="fi fi-close"></i>
									</span>
									<span class="h5 py-2 m-0 float-start">
										{{ item.label }}
									</span>
								</button>
								<!-- desktop only -->
								<h6 class="py-3 m-0 d-none d-lg-block">
									{{ item.label }}
								</h6>
			{% if item.type=='radios' %}
						<div id="nav_{{ item.name }}" class="checkgroup flex-column d-none d-lg-block classify-sub" data-type="{{ item.type }}" data-name="{{ item.name }}" data-url="{{ item.url }}" data-checkgroup-checkbox-single="true">
            {% for v in item.options %}
						<div class="form-check mb-1" ><!-- item -->
						<input class="form-check-input form-check-input-primary class-sub-input" name="{{ item.name }}" type="checkbox" value="{{ v.value }}" id="{{ item.name }}-{{ v.value }}" {% if v.check %}checked{% endif %}>
						<label class="form-check-label" for="{{ item.name }}-{{ v.value }}">
						{{ v.label }}
						</label>
						</div>
             {% endfor %}
						</div>
				{% elif item.type=='checkboxes' %}
				<div id="nav_{{ item.name }}" class="checkgroup flex-column d-none d-lg-block">
					<div class="form-check mb-2"><!-- check all -->
						<input data-checkall-container="#checkall-{{ item.name }}" class="form-check-input form-check-input-default class-sub-input" type="checkbox" value="" id="checkall-{{ item.name }}-top">
						<label class="form-check-label" for="checkall-{{ item.name }}-top">
							全选/不选
						</label>
					</div>

					<div id="checkall-{{ item.name }}" class="ps-0 classify-sub" data-type="{{ item.type }}" data-name="{{ item.name }}" data-url="{{ item.url }}">

						{% for v in item.options %}
							<div class="form-check mb-1" ><!-- item -->
								<input class="form-check-input form-check-input-primary class-sub-input" name="{{ item.name }}" type="checkbox" value="{{ v.value }}" id="{{ item.name }}-{{ v.value }}" {% if v.check %}checked{% endif %}>
								<label class="form-check-label" for="{{ item.name }}-{{ v.value }}">
									{{ v.label }}
								</label>
							</div>
						{% endfor %}


					</div>
				</div>
{% endif %}
							</div>
							<!-- /Suggestions -->
							{% endfor %}

						</div>

					</div>

				</div>
			</div>

{% endblock %}
{%block script%}
 <script type="text/javascript">
  $(function(){
       $('input.class-sub-input').on('change',function(){
		   classifyUpdate()
	   })

	  function classifyUpdate(){
		   var url = '';
		  var qarr = [];
		 $(".classify-sub").each(function(i){
         // console.log(this)
		     url = $(this).data('url');
			var inputs =  $(this).find('input');
		    var name = $(this).data('name');
		 // console.log(inputs)
			 var idarr = [];
			 $(inputs).each(function(m){
				 var checked = $(this).is(":checked");
				 var val = $(this).val();
				// console.log(checked)
				 if(checked){
					 idarr.push(val)
				 }
			 })
			 if(idarr.length>0){
				 qarr.push(`${name}-${idarr.join(',')}`)
			 }

    });
		  var query = qarr.length>0?'?sub='+qarr.join('|'):''
		  // console.log(query)
		  window.location.href=url+query
	  }
    })
 </script>
{%endblock%}
