{% extends "../../admin/inc/base.html" %}
{% block content %}
                <section class="vbox">
                    <header class="header bg-light dk">
                        <p>{{controller.meta_title}}</p>
                    </header>
                    <section class="scrollable wrapper">

                        <section class="panel panel-default">
                            <header class="panel-heading text-right bg-light  clearfix">
                                <ul class="nav nav-tabs pull-left">
                                    <li class="active"><a  href="#">{{controller.meta_title}}</a></li>
                                    <li class=""><a  href="#">审核申请</a></li>
                                    <li class=""><a  href="#">插件配置</a></li>
                                    <li class=""><a  href="#">分类管理</a></li>
                                </ul>
                                <span class="hidden-sm"><a href="#" class="text-info todo" target="_blank">添加友情链接</a></span>
                            </header>
                            <div class="row wrapper">

                               所有分类：
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped b-t b-light">
                                    <thead>
                                    <tr>
                                        <th style="width:20px;"><label class="checkbox m-n i-checks"><input type="checkbox"><i></i></label></th>
                                        <th style="">插件名称</th>
                                        <th class="">插件目录</th>
                                        <th class="">版本号</th>
                                        <th class="">安装时间</th>
                                        <th class="">更新时间</th>
                                        <th class="">状态</th>
                                        <th >操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in list %}
                                    <tr>
                                        <td><label class="checkbox m-n i-checks"><input class="ids" type="checkbox" name="ids" value="{%if item.id !=1%}{{item.id}}{%endif%}" {%if item.id==1%}disabled="true"{%endif%}><i></i></label></td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.ext}}</td>
                                        <td>{{item.version}}</td>
                                        <td>{{installtime | moment('YYYY-MM-DD HH:mm:ss')}}</td>
                                        <td>{{updatetime | moment('YYYY-MM-DD HH:mm:ss')}}</td>
                                        <td>
                                            <a href="/admin/ext/setstatus/ids/{{item.disabled}}/status/{{1-item.status}}" class="active ajax-get" data-toggle="class">
                                                <i class="fa fa-check text-success {%if item.disabled %}text{%else%}text-active{%endif%}"></i>
                                                <i class="fa fa-times text-danger {%if item.disabled %}text-active{%else%}text{%endif%}"></i>
                                            </a>
                                        </td>
                                        
                                        <td>
                                            {%if item.isadm==0%}
                                            <a href="/ext/{{item.ext}}/admin/index" class="text-info">管理</a>
                                            {%endif%}
                                            <a href="/admin/attribute/index/model_id/{{item.id}}" class="text-info">更新</a>
                                            {%if item.id !=1%}
                                            <a href="/admin/model/del?id={{item.id}}" class="confirm ajax-get text-info">卸载</a></td>
                                            {%endif%}
                                    </tr>
                                    {% else %}
                                    <tr><td colspan="7"><div class="alert alert-warning alert-block">
                                        <button data-dismiss="alert" class="close" type="button">×</button>
                                        <p>This would display if the 'item' collection were empty</p>
                                    </div></td></tr>

                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                            <footer class="panel-footer">
                                <div class="row">


                                    <div class="col-sm-12 text-right text-center-xs">
                                        {{pagerData | safe}}
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </section>
                </section>

{% endblock %}