{% extends "./inc/appbase.html" %}
{%block style%}
<style>
    .price {
        color: #e4393c;
        font-size: 16px;
    }

</style>
{%endblock%}
{% block content %}
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">{{controller.meta_title}}</h1>
</header>
<div class="mui-content">
    <div class="mui-content-padded text-center " >
        <a class="mui-icon iconfont icon-safe size-60 "></a>
    </div>
        <div class="mui-card">

            <ul class="mui-table-view ">
                <li class="mui-table-view-cell text-center mui-badge-primary">
                    {% if order.payment == 1001%}货到付款方式，等待订单审核…… {%else%}支付成功{%endif%}
                </li>
                <!--<li class="mui-table-view-divider">支付信息</li>-->
                <li class="mui-table-view-cell">订单编号:{{order.order_no}}</li>
                <li class="mui-table-view-cell"> 订单金额：<span class="price">￥{{order.amount|formatCurrency}}</span></li>
                <li class="mui-table-view-cell"> 支付方式：{{order.channel}}</li>

            </ul></div>
        <div class="mui-content-padded" style="margin-top: 20px; margin-bottom: 50px">
            <a  href="/uc/index"  class="mui-btn  mui-btn-block" >用户中心</a>
            <a href="/index" class="mui-btn mui-btn-primary mui-btn-block mui-btn-outlined">返回首页</a>
        </div>

</div>

{% endblock%}

{% block script %}
<script>

</script>
{% endblock %}
