{% extends "../inc/base.html" %}
{% block content %}
<!--
    PAGE HEADER

    CLASSES:
        .page-header-xs	= 20px margins
        .page-header-md	= 50px margins
        .page-header-lg	= 80px margins
        .page-header-xlg= 130px margins
        .dark			= dark page header

        .shadow-before-1 	= shadow 1 header top
        .shadow-after-1 	= shadow 1 header bottom
        .shadow-before-2 	= shadow 2 header top
        .shadow-after-2 	= shadow 2 header bottom
        .shadow-before-3 	= shadow 3 header top
        .shadow-after-3 	= shadow 3 header bottom
-->
<section class="page-header dark page-header-lg parallax parallax-3 shadow-after-3" style="background-image:url('/static/assets/images/demo/1200x800/9-min.jpg')">
    <div class="overlay dark-2"><!-- dark overlay [1 to 9 opacity] --></div>

    <div class="container">

        <h1 class="size-30">{{category.title}}</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb f-14">
            <li><a href="/">首页</a></li>
            {%for val in breadcrumb %}
            {% if val.id == category.id %}
            <li class="active">{{val.title}}</li>
            {% else %}
            <li><a href="{{val.url}}">{{val.title}}</a></li>

            {% endif %}
            {% endfor %}
        </ol><!-- /breadcrumbs -->

    </div>
</section>
<!-- /PAGE HEADER -->
<section style="z-index: 100">
    <div  class="container">
    <div class="col-md-2 col-sm-2">
        {%column data="column",pid=breadcrumb[0].id%}
        {%if column %}
        <div class="list-group">
            {%for val in column%}
            <a href="{{val.url}}{{http.config('view.file_ext')}}" class="list-group-item {%if val.id == category.id %}active{%endif%}">{{val.name}}</a>
            {%endfor%}
        </div>
        {%endif%}
        </div>
    <div class="col-md-10 col-sm-10">
    <div id="contentcmswing">{{category.sp_html_pc|safe}}</div>
        </div>
    </div>
</section>
{% endblock %}
{% block style %}
<script src="/static/admin/js/udeitor/ueditor.parse.min.js"></script>
{% endblock %}


{% block script %}
<script>
    uParse('#contentcmswing', {
        rootPath: '/static/admin/js/udeitor/'
    })
</script>
{% endblock %}