<!--
	Used By:
		shortcode-lightbox.html
-->
<div class="lightbox-ajax" {%if sn%}style="max-width:300px"{%endif%}>

    <!-- title -->
    <h4>{%if title%}{{title}}{%else%}生成下载地址{%endif%}</h4>

    <!-- body -->
    <div class="lightbox-ajax-body">

      <p>
        <div class="input-group"><span class="input-group-addon">{%if sn%}提取码{%else%}下载地址{%endif%}</span><input type="text" class="form-control masked" value="{%if sn%}{{sn}}{%else%}{{durl}}{%endif%}" readonly="readonly"><span class="input-group-btn" tabindex="-1"><a href="{{durl}}" target="_blank" class="file-upload-button btn btn-primary"><i class="et-download"></i>点击下载</a></span></div>

        </p>
    </div>
    <!-- /body -->

</div>