
    <div class="modal-header border-0 pb-0">
      <h5 class="modal-title m-0">会员中心</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body p-0 m-5 m-4-xs">
      <div id="ajax_response_container"><!-- ajax response container --></div>
      <div class="accordion" id="accordionAccount">

        <!-- sign in -->
        <form class="collapse bs-validate show js-ajax bs-validate"
        data-ajax-container="#ajax_response_container"
        data-ajax-update-url="false"
        data-ajax-show-loading-icon="true"
        data-error-toast-text="<i class='fi fi-circle-spin fi-spin float-start'></i> 依赖的部分字段没有通过验证"
        data-error-toast-delay="1500"
        data-error-toast-position="top-center"
		    data-error-scroll-up="false"
		    data-ajax-callback-function="mc_sign_callback"
        novalidate method="post" action="/mc/loginPost" id="accordionAccountSignIn" data-bs-parent="#accordionAccount">

          <!-- email -->
          <div class="form-floating mb-3">

            <input required placeholder="用户名" id="signin_username" name="username" type="text" class="form-control">
            <label for="signin_username">用户名</label>
          
          </div>


          <!-- password -->
          <div class="input-group-over mb-3">

            <div class="form-floating">
              <input required placeholder="密码" id="signin_password" name="password" type="password" class="form-control" autocomplete="new-password">
              <label for="signin_password">密码</label>
            </div>

            <a href="#accordionAccountPasswd" class="btn btn-pill text-muted fw-medium" data-bs-toggle="collapse" aria-expanded="true" aria-controls="accordionAccountPasswd">
              重置
            </a>

          </div>


          <!-- button -->
          <button type="submit" class="btn btn-primary w-100">
            登录
          </button>

          <div class="text-center mt-4">
            <a href="#accordionAccountSignUp" class="d-block link-normal" data-bs-toggle="collapse" aria-expanded="true" aria-controls="accordionAccountSignUp">
              还没有注册账户?
            </a>
          </div>

        </form>
        <!-- /sign in -->


        <!-- passwd reset -->
        <form class="collapse bs-validate" novalidate method="post" action="#" id="accordionAccountPasswd" data-bs-parent="#accordionAccount">

          <!-- email -->
          <div class="form-floating mb-3">
            <input required placeholder="Email" id="reset_email" type="email" class="form-control">
            <label for="reset_email">邮箱</label>
          </div>


          <!-- password -->
          <button type="submit" class="btn btn-primary w-100">
            重置密码
          </button>


          <!-- back -->
          <div class="text-center mt-4">
            <a href="#accordionAccountSignIn" class="d-block link-normal" data-bs-toggle="collapse" aria-expanded="true" aria-controls="accordionAccountSignIn">
              没忘密码，返回登录。
            </a>
          </div>

        </form>
        <!-- /passwd reset -->


        <!-- sign up -->
        <form class="collapse bs-validate js-ajax bs-validate"
        data-ajax-container="#ajax_response_container"
        data-ajax-update-url="false"
        data-ajax-show-loading-icon="true"
        data-error-toast-text="<i class='fi fi-circle-spin fi-spin float-start'></i> 依赖的部分字段没有通过验证"
        data-error-toast-delay="1500"
        data-error-toast-position="top-center"
		    data-error-scroll-up="false"
		    data-ajax-callback-function="mc_signup_callback"
        novalidate method="post" action="/mc/signup" id="accordionAccountSignUp" data-bs-parent="#accordionAccount">

          <div class="form-floating mb-3">
            <input required id="signup_username" name="username" type="text" class="form-control" placeholder="用户名">
            <label for="signup_username">用户名</label>
          </div>

          <div class="form-floating mb-3">
            <input required id="signup_email" name="email" type="email" class="form-control" placeholder="邮箱">
            <label for="signup_email">邮箱</label>
          </div>

          <div class="form-floating mb-3">
            <input required id="signup_mobile" name="mobile" type="text" class="form-control" placeholder="手机号">
            <label for="signup_mobile">手机号</label>
          </div>

          <div class="input-group-over mb-3">
            
            <div class="form-floating">
              <input required placeholder="密码"  id="account_password" name="password" type="password" class="form-control">
              <label for="account_password">密码</label>
            </div>

            <!-- `SOW : Form Advanced` plugin used -->
            <a href="account-sign-password.html" class="btn small btn-password-type-toggle" data-target="#account_password">
              <span class="group-icon">
                <i class="fi fi-eye m-0"></i>
                <i class="fi fi-close m-0"></i>
              </span>
            </a>

          </div>

          <!-- GDPR CONSENT -->
          <div class="mb-3 border p-3 rounded">

            <p class="small mb-3 pb-3 border-bottom">
              我同意 {{ctx.app.config.sys.name}} 存储我的个人数据。
            </p>

            <div class="form-check">
              <input required class="form-check-input" id="contact_gdpr" name="contact_gdpr" type="checkbox" value="1">
              <label class="form-check-label" for="contact_gdpr">
                我接受 {{ctx.app.config.sys.name}} <a class="text-decoration-none" href="#" target="_blank">条款 & 条件</a>。
              </label>
            </div>

          </div>
          <!-- /GDPR CONSENT -->

          <button type="submit" class="btn btn-primary w-100">
            注册
          </button>

          <div class="text-center mt-4">
            <a href="#accordionAccountSignIn" class="d-block link-normal" data-bs-toggle="collapse" aria-expanded="true" aria-controls="accordionAccountSignIn">
              返回登录
            </a>
          </div>

        </form>
        <!-- /sign up -->

      </div>

    </div>
