<link rel="stylesheet" href="/static/admin/js/webuploader/webuploader.css" type="text/css">
<input type="hidden" name="{{name}}" class="form-control" value='{{val|safe}}' id="{{name}}" />
<div id="uploader" class="wu-example">
    <div class="queueList">
        <div id="dndArea" class="placeholder">
            <div id="filePicker"></div>
            <p>或将照片拖到这里，单次最多可选300张</p>
        </div>
    </div>
    <div class="statusBar" style="display:none;">
        <div class="progress">
            <span class="text">0%</span>
            <span class="percentage"></span>
        </div><div class="info"></div>
        <div class="btns">
            <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
        </div>
    </div>
</div>
<script src="/static/admin/js/webuploader/webuploader.js" type="text/javascript"></script>
<script src="/static/admin/js/sortable/jquery.sortable.js"></script>
<script>
  jQuery(function () {


    var pics_ids = "{{name}}";
    var $ = jQuery,    // just in case. Make sure it's not an other libaray.

        $wrap = $('#uploader'),

        // 图片容器
        $queue = $('<ul class="filelist"></ul>')
            .appendTo($wrap.find('.queueList')),

        // 状态栏，包括进度和控制按钮
        $statusBar = $wrap.find('.statusBar'),

        // 文件总体选择信息。
        $info = $statusBar.find('.info'),

        // 上传按钮
        $upload = $wrap.find('.uploadBtn'),

        // 没选择文件之前的内容。
        $placeHolder = $wrap.find('.placeholder'),

        // 总体进度条
        $progress = $statusBar.find('.progress').hide(),

        // 添加的文件数量
        fileCount = 0,

        // 添加的文件总大小
        fileSize = 0,

        // 优化retina, 在retina下这个值是2
        ratio = window.devicePixelRatio || 1,

        // 缩略图大小
        thumbnailWidth = 110 * ratio,
        thumbnailHeight = 110 * ratio,

        // 可能有pedding, ready, uploading, confirm, done.
        state = 'pedding',

        // 所有文件的进度信息，key为file id
        percentages = {},

        supportTransition = (function () {
          var s = document.createElement('p').style,
              r = 'transition' in s ||
                  'WebkitTransition' in s ||
                  'MozTransition' in s ||
                  'msTransition' in s ||
                  'OTransition' in s;
          s = null;
          return r;
        })(),

        // WebUploader实例
        uploader;

    if (!WebUploader.Uploader.support()) {
      alert('Web Uploader 不支持您的浏览器！如果你使用的是IE浏览器，请尝试升级 flash 播放器');
      throw new Error('WebUploader does not support the browser you are using.');
    }
    //排序
    $queue.sortable().bind('sortupdate', function() {
      //Triggered when the user stopped sorting and the DOM position has changed.
      var arr = []
      $.each($(this).find('.panel'),function (i,n) {
        arr.push($.trim($(n).find('a.text-info').text()));
      })
      var ids =$("#"+pics_ids).val();
      if(ids){
        var idss = [];
        $.each(arr,function (key,name) {
          $.each(JSON.parse(ids),function (k,res) {
            if(name === res.name){
              idss.push(res);
            }
          })
        })
        $("#"+pics_ids).val(JSON.stringify(idss));
        }
    });
    // 实例化
    uploader = WebUploader.create({
      pick: {
        id: '#filePicker',
        label: '点击选择图片'
      },
      dnd: '#uploader .queueList',
      paste: document.body,

      accept: {
        title: 'Images',
        extensions: 'gif,jpg,jpeg,bmp,png',
        mimeTypes: 'image/*'
      },

      // swf文件路径
      swf: 'Uploader.swf',

      disableGlobalDnd: true,

      chunked: true,
      // server: 'http://webuploader.duapp.com/server/fileupload.php',
      server: '/ext/attachment/adminfile/uploadpic?type=atlas',
      fileNumLimit: 300,
      fileSizeLimit: 5 * 1024 * 1024,    // 200 M
      fileSingleSizeLimit: 1 * 1024 * 1024    // 50 M
    });

    // 添加“添加文件”的按钮，
    uploader.addButton({
      id: '#filePicker2',
      label: '继续添加'
    });
    uploader.on('uploadSuccess', function (file, res) {
      var id = $("#"+pics_ids).val();
      console.log(id);
      var ids;
      if(id){
        ids = JSON.parse(id);
        var obj = {};
        obj.id = res.id;
        obj.name = res.name;
        obj.info = pobj(res.name);
        obj.src = res.src;
        //addpic(obj)
        ids.push(obj);
      }else{
        ids = [];
        var obj = {};
        obj.id = res.id;
        obj.name = res.name;
        obj.info = pobj(res.name);
        obj.src = res.src;
        //addpic(obj)
        ids.push(obj);
      }

      $("#"+pics_ids).val(JSON.stringify(ids));
    });
    //更改文字

      $(document).on('change','.textarea_{{name}}',function(){
        if($("#"+pics_ids).val()){
          var ids = [];
          $.each(JSON.parse($("#"+pics_ids).val()),function (k,res) {
            var obj = {};
            obj.id = res.id;
            obj.name = res.name;
            obj.info = pobj(res.name);
            obj.src = res.src;
            ids.push(obj);
          })
          $("#"+pics_ids).val(JSON.stringify(ids));
        }
      });

    //编辑的时候载入图片
    if("{{val}}".length >0){
      {% for val in val|strToJson%}
      var picobj = {}
      var picurl = "{{val.id|get_pic('m=1,w=110,h=110')}}";
      picobj.src = picurl;
      picobj.id = '{{val.id}}';
      picobj.name = '{{val.name}}';
      picobj.info = '{{val.info}}';
      addpic(picobj);
      {% endfor %}
    }
    function addpic(file){
      $placeHolder.addClass('element-invisible');
      $statusBar.show();
      $queue.parent().addClass('filled');
      var $li = $('<div id="' + file.id + '" class="panel clearfix" style="position: relative;margin-bottom: 5px;padding-bottom: 5px">\n' +
          '                        <div class="panel-body" style="padding: 0">\n' +
          '                          <a href="#" class=" imgWrap thumb-wrapper pull-left m-r">\n' +
          '                          </a>\n' +
          '                          <div class="clear">\n' +
          '                            <a href="#" class="text-info"><i class="fa fa-picture-o"></i> ' + file.name + '</a>\n' +
          '<p class="progress"><span></span></p>' +
          '                            <small class="block text-muted"><textarea class="form-control textarea_{{name}}" placeholder="图片文字描述">' + file.info + '</textarea></small>\n' +
          '                          </div>\n' +
          '                        </div>\n' +
          '                      </div>'),

          $btns = $('<div class="file-panel">' +
              '<span class="cancel">删除</span>' +
              '<span class="rotateRight">向右旋转</span>' +
              '<span class="rotateLeft">向左旋转</span></div>').appendTo($li),
          $prgress = $li.find('p.progress span'),
          $wrap = $li.find('a.imgWrap'),
          $info = $('<p class="error"></p>');
      $li.on('mouseenter', function () {
        $btns.stop().animate({ height: 30 });
      });

      $li.on('mouseleave', function () {
        $btns.stop().animate({ height: 0 });
      });
      $btns.on('click', 'span', function () {
        var index = $(this).index(),
            deg;
        var id=$(this).parents("div.panel").attr("id");
        console.log(id);
        switch (index) {
          case 0:
            removepics(id);
            //removepics()
            return;

          case 1:
            //file.rotation += 90;
            break;

          case 2:
            // file.rotation -= 90;
            break;
        }
      });
      var img = $('<img style="height: 87px;width: 87px" src="' + file.src + '">');
      $wrap.empty().append(img);
      $li.appendTo($queue);


    }
    // 当有文件添加进来时执行，负责view的创建
    function addFile(file) {

//      var $li = $('<li id="' + file.id + '">' +
//          '<p class="title">' + file.name + '</p>' +
//          '<p class="imgWrap"></p>' +
//          '<p class="progress"><span></span></p>' +
//          '</li>'),
      //alert(file);
      var $li = $('<div id="' + file.id + '" class="panel clearfix" style="position: relative;margin-bottom: 5px;padding-bottom: 5px">\n' +
          '                        <div class="panel-body" style="padding: 0">\n' +
          '                          <a href="#" class=" imgWrap thumb-wrapper pull-left m-r">\n' +
          '                          </a>\n' +
          '                          <div class="clear">\n' +
          '                            <a href="#" class="text-info"><i class="fa fa-picture-o"></i> ' + file.name + '</a>\n' +
          '<p class="progress"><span></span></p>' +
          '                            <small class="block text-muted"><textarea class="form-control textarea_{{name}}" placeholder="图片文字描述"></textarea></small>\n' +
          '                          </div>\n' +
          '                        </div>\n' +
          '                      </div>'),
          $btns = $('<div class="file-panel">' +
              '<span class="cancel">删除</span>' +
              '<span class="rotateRight">向右旋转</span>' +
              '<span class="rotateLeft">向左旋转</span></div>').appendTo($li),
          $prgress = $li.find('p.progress span'),
          $wrap = $li.find('a.imgWrap'),
          $info = $('<p class="error"></p>'),

          showError = function (code) {
            switch (code) {
              case 'exceed_size':
                text = '文件大小超出';
                break;

              case 'interrupt':
                text = '上传暂停';
                break;

              default:
                text = '上传失败，请重试';
                break;
            }

            $info.text(text).appendTo($li);
          };

      if (file.getStatus() === 'invalid') {
        showError(file.statusText);
      } else {
        // @todo lazyload
        $wrap.text('预览中');
        uploader.makeThumb(file, function (error, src) {
          if (error) {
            $wrap.text('不能预览');
            return;
          }

          var img = $('<img style="height: 87px;width: 87px" src="' + src + '">');
          $wrap.empty().append(img);
        }, thumbnailWidth, thumbnailHeight);

        percentages[file.id] = [file.size, 0];
        file.rotation = 0;
      }

      file.on('statuschange', function (cur, prev) {
        if (prev === 'progress') {
          $prgress.hide().width(0);
        } else if (prev === 'queued') {
          $li.off('mouseenter mouseleave');
          $btns.remove();
        }

        // 成功
        if (cur === 'error' || cur === 'invalid') {
          console.log(file.statusText);
          showError(file.statusText);
          percentages[file.id][1] = 1;
        } else if (cur === 'interrupt') {
          showError('interrupt');
        } else if (cur === 'queued') {
          percentages[file.id][1] = 0;
        } else if (cur === 'progress') {
          $info.remove();
          $prgress.css('display', 'block');
        } else if (cur === 'complete') {
          $li.append('<span class="success"></span>');
        }

        $li.removeClass('state-' + prev).addClass('state-' + cur);
      });

      $li.on('mouseenter', function () {
        $btns.stop().animate({ height: 30 });
      });

      $li.on('mouseleave', function () {
        $btns.stop().animate({ height: 0 });
      });

      $btns.on('click', 'span', function () {
        var index = $(this).index(),
            deg;

        switch (index) {
          case 0:
            uploader.removeFile(file);
            return;

          case 1:
            file.rotation += 90;
            break;

          case 2:
            file.rotation -= 90;
            break;
        }

        if (supportTransition) {
          deg = 'rotate(' + file.rotation + 'deg)';
          $wrap.css({
            '-webkit-transform': deg,
            '-mos-transform': deg,
            '-o-transform': deg,
            'transform': deg
          });
        } else {
          $wrap.css('filter', 'progid:DXImageTransform.Microsoft.BasicImage(rotation=' + (~~((file.rotation / 90) % 4 + 4) % 4) + ')');
          // use jquery animate to rotation
          // $({
          //     rotation: rotation
          // }).animate({
          //     rotation: file.rotation
          // }, {
          //     easing: 'linear',
          //     step: function( now ) {
          //         now = now * Math.PI / 180;

          //         var cos = Math.cos( now ),
          //             sin = Math.sin( now );

          //         $wrap.css( 'filter', "progid:DXImageTransform.Microsoft.Matrix(M11=" + cos + ",M12=" + (-sin) + ",M21=" + sin + ",M22=" + cos + ",SizingMethod='auto expand')");
          //     }
          // });
        }


      });

      $li.appendTo($queue);
    }
    function pobj (name) {
      var $panels = $('.filled').find('.panel');
      var $pobj = {};
      $.each($panels,function (k,v) {
        $pobj[$.trim($(v).find('a.text-info').text())] = $(v).find('textarea').val();
      })
      return $pobj[name];
    }
    // 负责view的销毁
    function removeFile(file) {
      var $li = $('#' + file.id);

      delete percentages[file.id];
      updateTotalProgress();
      $li.off().find('.file-panel').off().end().remove();
    }

    function removepics(id) {
      var $li = $('#' + id);
      console.log($li);
      delete percentages[id];
      updateTotalProgress();
      $li.off().find('.file-panel').off().end().remove();
      if($("#"+pics_ids).val()){
        var ids = [];
        $.each(JSON.parse($("#"+pics_ids).val()),function (k,res) {
          if(id != res.id){
            ids.push(res);
          }

        })
        $("#"+pics_ids).val(JSON.stringify(ids));
      }
    }
    function updateTotalProgress() {
      var loaded = 0,
          total = 0,
          spans = $progress.children(),
          percent;

      $.each(percentages, function (k, v) {
        total += v[0];
        loaded += v[0] * v[1];
      });

      percent = total ? loaded / total : 0;

      spans.eq(0).text(Math.round(percent * 100) + '%');
      spans.eq(1).css('width', Math.round(percent * 100) + '%');
      updateStatus();
    }

    function updateStatus() {
      var text = '', stats;

      if (state === 'ready') {
        text = '选中' + fileCount + '张图片，共' +
            WebUploader.formatSize(fileSize) + '。';
      } else if (state === 'confirm') {
        stats = uploader.getStats();
        if (stats.uploadFailNum) {
          text = '已成功上传' + stats.successNum + '张照片至XX相册，' +
              stats.uploadFailNum + '张照片上传失败，<a class="retry" href="#">重新上传</a>失败图片或<a class="ignore" href="#">忽略</a>'
        }

      } else {
        stats = uploader.getStats();
        text = '共' + fileCount + '张（' +
            WebUploader.formatSize(fileSize) +
            '），已上传' + stats.successNum + '张';

        if (stats.uploadFailNum) {
          text += '，失败' + stats.uploadFailNum + '张';
        }
      }

      $info.html(text);
    }

    function setState(val) {
      var file, stats;

      if (val === state) {
        return;
      }

      $upload.removeClass('state-' + state);
      $upload.addClass('state-' + val);
      state = val;

      switch (state) {
        case 'pedding':
          $placeHolder.removeClass('element-invisible');
          $queue.parent().removeClass('filled');
          $queue.hide();
          $statusBar.addClass('element-invisible');
          uploader.refresh();
          break;

        case 'ready':
          $placeHolder.addClass('element-invisible');
          $('#filePicker2').removeClass('element-invisible');
          $queue.parent().addClass('filled');
          $queue.show();
          $statusBar.removeClass('element-invisible');
          uploader.refresh();
          break;

        case 'uploading':
          $('#filePicker2').addClass('element-invisible');
          $progress.show();
          $upload.text('暂停上传');
          break;

        case 'paused':
          $progress.show();
          $upload.text('继续上传');
          break;

        case 'confirm':
          $progress.hide();
          $upload.text('开始上传').addClass('disabled');

          stats = uploader.getStats();
          if (stats.successNum && !stats.uploadFailNum) {
            setState('finish');
            return;
          }
          break;
        case 'finish':
          stats = uploader.getStats();
          if (stats.successNum) {
            alert('上传成功');
          } else {
            // 没有成功的图片，重设
            state = 'done';
            location.reload();
          }
          break;
      }

      updateStatus();
    }

    uploader.onUploadProgress = function (file, percentage) {
      var $li = $('#' + file.id),
          $percent = $li.find('.progress span');

      $percent.css('width', percentage * 100 + '%');
      percentages[file.id][1] = percentage;
      updateTotalProgress();
    };

    uploader.onFileQueued = function (file) {
      fileCount++;
      fileSize += file.size;

      if (fileCount === 1) {
        $placeHolder.addClass('element-invisible');
        $statusBar.show();
      }

      addFile(file);
      setState('ready');
      updateTotalProgress();
    };

    uploader.onFileDequeued = function (file) {
      fileCount--;
      fileSize -= file.size;

      if (!fileCount) {
        setState('pedding');
      }

      removeFile(file);
      updateTotalProgress();

    };

    uploader.on('all', function (type) {
      var stats;
      switch (type) {
        case 'uploadFinished':
          setState('confirm');
          break;

        case 'startUpload':
          setState('uploading');
          break;

        case 'stopUpload':
          setState('paused');
          break;

      }
    });

    uploader.onError = function (code) {
      alert('Eroor: ' + code);
    };

    $upload.on('click', function () {
      if ($(this).hasClass('disabled')) {
        return false;
      }

      if (state === 'ready') {
        uploader.upload();
      } else if (state === 'paused') {
        uploader.upload();
      } else if (state === 'uploading') {
        uploader.stop();
      }
    });

    $info.on('click', '.retry', function () {
      uploader.retry();
    });

    $info.on('click', '.ignore', function () {
      alert('todo');
    });

    $upload.addClass('state-' + state);
    updateTotalProgress();
  });
</script>