<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{controller.meta_title}}</h4>
        </div>
        <form id="ajaxForm" method="post" class="form-horizontal" action="/{{ctx.controller}}/typeadd" data-validate="parsley">
        <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">分类名称</label>

                    <div class="col-sm-10">

                        <div class="row">
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="name" value="" data-required="true" >
                            </div>
                        </div>
                    </div>
                </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">排序</label>
                <div class="col-sm-10">

                    <div class="row">
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="sort" value="0" >
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">分类描述</label>
                <div class="col-sm-10">

                    <div class="row">
                        <div class="col-md-12">
                            <textarea  class="form-control" name="description"  ></textarea>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
            <button class="btn btn-primary btn-s-md ajax-post" type="submit" target-form="form-horizontal">确定</button>
        </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
