<div class="col-md-{{12/controller.config('ext.devteam.width')}}">
    <section class="panel panel-default portlet-item">
        <header class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li>
                    <a class="panel-toggle text-muted" href="#"><i class="fa fa-caret-down text-active"></i><i class="fa fa-caret-up text"></i></a>
                </li>
            </ul>
            产品团队
        </header>
        <section class="panel-body">
            <article class="media">
                <div class="pull-left">
                                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-hourglass fa-stack-1x text-white"></i>
                      </span>
                </div>
                <div class="media-body">
                    <h4 class="h4">总策划</h4>
                    <small class="block m-t-xs"><a href="http://www.cmswing.com/blog" class="text-info" target="_blank">阿特</a> arterli@qq.com</small>
                </div>
            </article>
            <div class="line pull-in"></div>
            <article class="media">
                <div class="pull-left">
                                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x "></i>
                        <i class="fa fa-hourglass-1 fa-stack-1x text-white"></i>
                      </span>
                </div>
                <div class="media-body">
                    <h4 class="h4">产品设计及研发团队</h4>
                    <small class="block m-t-xs">阿特 , 孙会鹏</small>
                </div>
            </article>
            <div class="line pull-in"></div>
            <article class="media">
                <div class="pull-left">
                                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x "></i>
                        <i class="fa fa-hourglass-2 fa-stack-1x text-white"></i>
                      </span>
                </div>
                <div class="media-body">
                    <h4 class="h4 ">界面及用户体验团队</h4>
                    <small class="block m-t-xs">阿特</small>
                </div>
            </article>
            <div class="line pull-in"></div>
            <article class="media">
                <div class="pull-left">
                                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x "></i>
                        <i class="fa fa-hourglass-3 fa-stack-1x text-white"></i>
                      </span>
                </div>
                <div class="media-body">
                    <h4 class="h4 ">文档编写</h4>
                    <small class="block m-t-xs">阿特，媄玅亽甡，<a href="https://github.com/phantomk" target="_blank" class="text-info">phantomk</a>，<a href="http://www.reake.com" target="_blank" class="text-info">reake</a></small>
                </div>
            </article>
        </section>
    </section>
</div>