{% extends "view/admin/ext_admin.html" %}
{% block extadmin %}
<section class="panel panel-default">
    <header class="panel-heading text-right bg-light  clearfix">
        <ul class="nav nav-tabs pull-left">
            <li class="active"><a  href="/{{ctx.controller}}/index">{{controller.meta_title}}</a></li>
        </ul>
        <span class="hidden-sm hide"><a href="/{{ctx.controller}}/add" class="text-info " data-toggle="ajaxModal">操作按钮不需要可以删除</a></span>
    </header>

    <!--列表，可以根据自己的实际业务，些内容-->
    <div class="table-responsive">
        <table class="table table-striped b-t b-light">
            <thead>
            <tr>
                <th style="">id</th>
                <th class="">昵称</th>
                <th class="">头像</th>
                <th class="">性别</th>
                <th class="">绑定网站id</th>
                <th >openid</th>
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.nickname}}</td>
                <td>{%if item.figureurl_qq_1%}<img src="{{item.figureurl_qq_1}}" style="height: 30px;width: 30px">{%else%}无{%endif%}</td>
                <td>{{item.gender}}</td>
                <td>{%if item.uid %}{{item.uid}}{%else%}未绑定{%endif%}</td>
                <td>{{item.openid}}</td>

            </tr>
            {% else %}
            <tr><td colspan="8"><div class="alert alert-warning alert-block">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <p>暂无数据！</p>
            </div></td></tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
    <!--列表，可以根据自己的实际业务，些内容-->
    <!--分页底部导航-->
    <footer class="panel-footer">
        <div class="row">
            <div class="col-sm-12 text-right text-center-xs">
                {{pagerData | safe}}
            </div>
        </div>
    </footer>
    <!--分页底部导航-->
</section>
{% endblock %}
