<!-- 

		BLOG COMMENT REPLY
		blog-page-article-sidebar.html

		MODAL : OPTIONAL

	-->
<form novalidate method="post" action="/cms/comments/replyAdd?page={{ctx.query.page or 1}}" class="js-ajax bs-validate"
    data-ajax-update-url="false" data-ajax-show-loading-icon="true"
    data-error-toast-text="<i class='fi fi-circle-spin fi-spin float-start'></i> 请填写所有必填字段！"
    data-error-toast-delay="3000" data-error-toast-position="top-center" data-error-scroll-up="true"
    data-ajax-callback-function="cms_comments_reply_callback">

    <!-- COMMENT ID : WE ADD A REPLY TO -->
    <input type="hidden" name="comments_id" value="{{id}}">
    <div class="modal-header">
        <h5 class="modal-title m-0">
            回复评论
        </h5>

        <button type="button" class="close pointer" data-bs-dismiss="modal" aria-label="Close">
				<span class="fi fi-close " aria-hidden="true"></span>
			</button>
    </div>

    <div class="modal-body p-3">
        <div class="clearfix">

            <div class="form-floating">
                <textarea class="medium-editor bg-white border p-3 rounded w-100" required style="min-height:120px" id="comment_description" name="content"
          data-placeholder="请输入内容..."
          data-lng-save="保存"
          data-lng-clear="清空"
          data-lng-link="请输入链接地址"
          data-btn-picker="true"
          data-btn-bold="true"
          data-btn-italic="true"
          data-btn-underline="true"
          data-btn-link="true"
          data-btn-h1="false"
          data-btn-h2="false"
          data-btn-h3="false"
          data-btn-h4="true"
          data-btn-h5="true"
          data-btn-h6="true"
          data-btn-unordered="true"
          data-btn-ordered="true"></textarea>
            </div>
        </div>

    </div>

    <div class="modal-footer">

        <button type="submit" class="btn btn-sm btn-primary">
				<i class="fi fi-check"></i>
				提交评论
			</button>

        <a href="#" class="btn btn-sm btn-secondary d-none d-sm-block" data-bs-dismiss="modal">
            <i class="fi fi-close"></i>
            关闭
        </a>

    </div>

</form>