{% extends "../inc/base.html" %}
{% block content %}
{%set cate = category.id|get_cate()%}
<!--
PAGE HEADER

CLASSES:
.page-header-xs	= 20px margins
.page-header-md	= 50px margins
.page-header-lg	= 80px margins
.page-header-xlg= 130px margins
.dark			= dark page header

.shadow-before-1 	= shadow 1 header top
.shadow-after-1 	= shadow 1 header bottom
.shadow-before-2 	= shadow 2 header top
.shadow-after-2 	= shadow 2 header bottom
.shadow-before-3 	= shadow 3 header top
.shadow-after-3 	= shadow 3 header bottom
-->
<section class="page-header page-header-xs" >
    <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <header class="margin-bottom-10">
                        <h1 class="weight-500">CmsWing 下载</h1>
                        <h2 class="weight-300 letter-spacing-1 size-13"><span>版本号:v1.0.0 / 下载次数:85125  / 更新时间:2016-09-29 23:35:00</span></h2>
                    </header>
                    <p class="margin-bottom-10"><span class="text-navy">模块化：</span>全新的架构和模块化的开发机制，便于灵活扩展和二次开发。</p>
                    <p class="margin-bottom-10"><span class="text-navy">文档模型/栏目/分类信息体系：</span>通过栏目和文档模型绑定，以及不同的文档类型，不同栏目可以实现差异化的功能，轻松实现诸如资讯、下载、讨论和图片等功能。通过分类信息和栏目绑定，可以自动建立索引表，轻松实现复杂的信息检索。</p>
                    <p class="margin-bottom-10"><span class="text-navy">用户行为：</span>支持自定义用户行为，可以对单个用户或者群体用户的行为进行记录及分享，为您的运营决策提供有效参考数据。 </p>
                    <p class="margin-bottom-10"><span class="text-navy">云服务支持：</span>支持云存储、云安全、云过滤和云统计等服务，更多贴心的服务让您的网站更安心。 </p>
                    <p class="margin-bottom-10"><span class="text-navy">安全稳健：</span>提供稳健的安全策略，包括备份恢复、容错、防止恶意攻击登录，网页防篡改等多项安全管理功能，保证系统安全，可靠、稳定的运行。 </p>
                    <p class="margin-bottom-10 hide"><span class="text-navy">开源免费：</span>代码遵循MIT开源协议，并且免费使用，对商业用户友好。  </p>


                    <hr />

                    <!--
                        controlls-over		= navigation buttons over the image
                        buttons-autohide 	= navigation buttons visible on mouse hover only

                        data-plugin-options:
                            "singleItem": true
                            "autoPlay": true (or ms. eg: 4000)
                            "navigation": true
                            "pagination": true
                    -->
                    <div class="text-center margin-top-30">
                        <a href="#" class="btn btn-3d btn-reveal btn-red">
                            <i class="et-megaphone"></i>
                            <span>CmsWing最新版本下载(v1.0.0)</span>
                        </a>
                    </div>

                </div>

                <div class="col-sm-6">

                    <!--
                        controlls-over		= navigation buttons over the image
                        buttons-autohide 	= navigation buttons visible on mouse hover only

                        data-plugin-options:
                            "singleItem": true
                            "autoPlay": true (or ms. eg: 4000)
                            "navigation": true
                            "pagination": true
                            "transitionStyle":"fadeUp" (fade,backSlide,goDown,fadeUp)
                    -->
                    <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"singleItem": true, "autoPlay": 3400, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                        <div>
                            <img class="img-responsive" src="/static/dome/macbookpro.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="/static/dome/ipad.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="/static/dome/iphone.png" alt="">
                        </div>
                    </div>

                </div>

            </div>



        <ul class="page-header-tabs list-inline">

            <li class="filter {%if group_id==0%}active{%endif%}"><a href="{{cate.url}}{{http.config('view.file_ext')}}">全部</a></li>
            {% groups data="groups",cid=category.id%}
            {%for v in groups%}
            <li class="filter {%if group_id==v.id%}active{%endif%}"><a href="{{cate.url}}-{{order}}-{{v.id}}{%if sort%}-{{sortid}}{%endif%}{%if sorturl %}-{%endif%}{{sorturl}}{{http.config('view.file_ext')}}">{{v.name}}</a></li>
            {%endfor%}
        </ul>

    </div>
</section>
<!-- /PAGE HEADER -->
<!-- -->
<section>
    <div class="container">

        <div class="row">

            <!-- RIGHT -->
            <div class="col-md-9 col-sm-9">

                {% for val in list %}
                <!-- POST ITEM -->
                <div class="blog-post-item padding-bottom-10 margin-bottom-10 clearfix">

                    <!-- IMAGE -->

                    <figure class="download-item-image margin-bottom-0">
                        <img class="thumbnail margin-bottom-0" src="{{val.cover_id|get_pic('m=1,w=50,h=50')}}" width="50" height="50" alt="">
                    </figure>

                    <div class="download-item-content">
                        <h2 class="size-18 margin-bottom-6"><a href="{{val.name|get_url(val.id)}}" title="{{val.title}}" target="_blank">{{val.title}}</a></h2>
                        <ul class="blog-post-info list-inline padding-bottom-0 margin-bottom-6" >
                            <li>
                                <a href="#">
                                    <i class="fa fa-clock-o"></i>
                                    <span class="font-lato">{{val.update_time|dateformat('Y-m-d H:i')}}</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-comment-o"></i>
                                    <span class="font-lato">{{val.view}} Comments</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-user"></i>
                                    <span class="font-lato">{{val.uid|get_nickname}}</span>
                                </a>
                            </li>
                        </ul>

                        <p>{{val.description|block(90)}}</p>
                        <a href="{{val.id|getmodelfield(val.model_id,'file_id')|get_file('savename',true)}}" class="btn btn-reveal btn-default donwload-btn">
                            <i class="glyphicon glyphicon-download-alt"></i>
                            <span>立即下载</span>
                        </a>
                    </div>

                </div>
                <!-- /POST ITEM -->
                {%endfor%}
                <!-- PAGINATION -->
                <div class="text-left">
                    <!-- Pagination Default -->
                    {{pagination | safe}}
                    <!-- /Pagination Default -->
                </div>
                <!-- /PAGINATION -->

            </div>

            <!-- LEFT -->
            <div class="col-md-3 col-sm-3">

                <!-- INLINE SEARCH -->
                <div class="inline-search clearfix margin-bottom-10">
                    <form action="" method="get" class="widget_search">
                        <input type="search" placeholder="Start Searching..." id="s" name="s" class="serch-input">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <!-- /INLINE SEARCH -->

                <hr />

                <!-- side navigation -->
                {%column data="cates",cid=category.pid,isnum="1"%}
                {%if cates==null%}
                <div class="side-nav margin-bottom-20 margin-top-10">
                    <div class="side-nav-head">
                        <button class="fa fa-bars"></button>
                        <h4>{{category.title}}</h4>
                    </div>
                    <ul class="list-group list-group-bordered list-group-noicon uppercase">
                        {%for val in cates%}
                        <li class="list-group-item {%if val.id == category.id %}active{%endif%}"><a href="{{val.url}}"><span class="size-11 text-muted pull-right">({{val.doc_num}})</span> {{val.name}}</a></li>
                        {%endfor%}
                    </ul>
                    <!-- /side navigation -->
                </div>
                {%endif%}


                <!-- JUSTIFIED TAB -->
                <div class="tabs nomargin-top hidden-xs margin-bottom-10">

                    <!-- tabs -->
                    <ul class="nav nav-tabs nav-bottom-border nav-justified">
                        <li class="active">
                            <a href="#tab_1" data-toggle="tab">
                                最热
                            </a>
                        </li>
                        <li>
                            <a href="#tab_2" data-toggle="tab">
                                最新
                            </a>
                        </li>
                    </ul>

                    <!-- tabs content -->
                    <div class="tab-content margin-bottom-0 margin-top-10">

                        <!-- POPULAR -->
                        <div id="tab_1" class="tab-pane active">
                            <!-- /post -->
                            {% topic data = "hotlist",limit= "5",cid=category.id,type="hot"%}
                            {%for v in hotlist%}
                            <div class="row tab-post"><!-- post -->
                                {%if v.cover_id%}
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <a href="{{v.name|get_url(v.id)}}">
                                        <img src="{{v.cover_id|get_pic('m=1,w=50,h=50')}}" width="50" alt="" />
                                    </a>
                                </div>
                                {%endif%}
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <a href="{{v.name|get_url(v.id)}}" class="tab-post-link">{{v.title}}</a>
                                    <small>{{v.update_time|dateformat('Y-m-d H:i')}}</small>
                                </div>
                            </div><!-- /post -->
                            {%endfor%}

                        </div>
                        <!-- /POPULAR -->


                        <!-- RECENT -->
                        <div id="tab_2" class="tab-pane">
                            {% topic data = "newlist",limit= "5",cid=category.id%}
                            {%for v in newlist%}
                            <div class="row tab-post"><!-- post -->
                                {%if v.cover_id%}
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <a href="{{v.name|get_url(v.id)}}">
                                        <img src="{{v.cover_id|get_pic('m=1,w=50,h=50')}}" width="50" alt="" />
                                    </a>
                                </div>
                                {%endif%}
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <a href="{{v.name|get_url(v.id)}}" class="tab-post-link">{{v.title}}</a>
                                    <small>{{v.update_time|dateformat('Y-m-d H:i')}}</small>
                                </div>
                            </div><!-- /post -->
                            {%endfor%}
                            <!-- /post -->
                        </div>
                        <!-- /RECENT -->

                    </div>

                </div>
                <!-- JUSTIFIED TAB -->


                <!-- TAGS -->
                <h3 class="hidden-xs size-16 margin-bottom-20">TAGS</h3>
                <div class="hidden-xs margin-bottom-20">

                    <a class="tag" href="#">
                        <span class="txt">RESPONSIVE</span>
                        <span class="num">12</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">CSS</span>
                        <span class="num">3</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">HTML</span>
                        <span class="num">1</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">JAVASCRIPT</span>
                        <span class="num">28</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">DESIGN</span>
                        <span class="num">6</span>
                    </a>

                    <a class="tag" href="#">
                        <span class="txt">DEVELOPMENT</span>
                        <span class="num">3</span>
                    </a>
                </div>



                <hr />


                <!-- SOCIAL ICONS -->
                <div class="hidden-xs margin-top-30 margin-bottom-60">
                    <a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
                        <i class="icon-rss"></i>
                        <i class="icon-rss"></i>
                    </a>
                </div>

            </div>


        </div>

    </div>
</section>
<!-- / -->
{% endblock %}