{% extends "../inc/base.html" %}
{% block content %}
{%set cate = category.id|get_cate()%}
<!--
PAGE HEADER

CLASSES:
.page-header-xs	= 20px margins
.page-header-md	= 50px margins
.page-header-lg	= 80px margins
.page-header-xlg= 130px margins
.dark			= dark page header

.shadow-before-1 	= shadow 1 header top
.shadow-after-1 	= shadow 1 header bottom
.shadow-before-2 	= shadow 2 header top
.shadow-after-2 	= shadow 2 header bottom
.shadow-before-3 	= shadow 3 header top
.shadow-after-3 	= shadow 3 header bottom
-->
<section class="page-header page-header-xs" >
    <div class="container">

        <h1>{{category.title}}</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            {%for val in breadcrumb %}
            {% if val.id == category.id %}
            <li class="active">{{val.title}}</li>
            {% else %}
            <li><a href="{{val.url}}">{{val.title}}</a></li>

            {% endif %}
            {% endfor %}
        </ol><!-- /breadcrumbs -->
        <!-- page tabs -->
        {%column data="column",pid=category.pid%}
        {%if column%}
        <ul class="page-header-tabs list-inline">

            <li {%if order<4%}class="active"{%endif%}><a href="{{cate.url}}{{http.config('view.file_ext')}}">全部展览</a></li>
            <!--<li ><a href="portfolio-masonry-3-columns.html">最新发布</a></li>-->
            <li {%if order==4%}class="active"{%endif%}><a href="{{cate.url}}-4{%if group_id or sort%}-{{group_id}}{%endif%}{%if sort%}-{{sortid}}{%endif%}{%if sorturl %}-{%endif%}{{sorturl}}{{http.config('view.file_ext')}}">今日开幕</a></li>
            <li {%if order==5%}class="active"{%endif%}><a href="{{cate.url}}-5{%if group_id or sort%}-{{group_id}}{%endif%}{%if sort%}-{{sortid}}{%endif%}{%if sorturl %}-{%endif%}{{sorturl}}{{http.config('view.file_ext')}}">即将开展</a></li>
            <li {%if order==6%}class="active"{%endif%}><a href="{{cate.url}}-6{%if group_id or sort%}-{{group_id}}{%endif%}{%if sort%}-{{sortid}}{%endif%}{%if sorturl %}-{%endif%}{{sorturl}}{{http.config('view.file_ext')}}">正在展览</a></li>
            <li {%if order==7%}class="active"{%endif%}><a href="{{cate.url}}-7{%if group_id or sort%}-{{group_id}}{%endif%}{%if sort%}-{{sortid}}{%endif%}{%if sorturl %}-{%endif%}{{sorturl}}{{http.config('view.file_ext')}}">已结束展览</a></li>

        </ul>
        {%endif%}
        <!-- /page tabs -->
    </div>
</section>
<!-- /PAGE HEADER -->
<!-- -->
<section >
    <div class="container">

        <!--分类信息-->
        {%if sort%}
        {%if sort.types|length >1%}
        <ul class="nav nav-tabs">
            {%for val in sort.types%}
            <li class="{%if sortid == val.enable%}active{%endif%}"><a href="{{cate.url}}-{{order}}-{{group_id}}-{{val.enable}}{{http.config('view.file_ext')}}" >{{val.name}}</a></li>
            {%endfor%}

        </ul>
        {%endif%}
        <div class="tab-content table-bordered" style="padding: 0; margin-bottom: 20px; margin-top: -1px">
            <table class="table table-hover  m-b-none" style="margin-top: -1px">
                <tbody>
                {% set typenum = 1%}
                {%for val in typevar%}
                {%if val.search > 1%}
                <tr {% if typenum > 3 %} class="type_tr_m"  style="display:none"{%endif%} >
                    <td style="width: 120px" class="text-right">
                        {{val.option.title}}:
                    </td>
                    <td>
                        {%if 0 == nsobj[val.option.identifier] or null == nsobj[val.option.identifier]%}
                        <span class="btn btn-danger btn-xs relative">全部</span>
                        {%else%}
                        <a href="{{cate.url}}-{{order}}-{{group_id}}-{{sortid}}-{{0|sort_url(val.option.identifier,typevar,nsobj)}}{{http.config('view.file_ext')}}" class="btn btn-clean btn-xs relative" >全部</a>
                        {%endif%}
                        {%for v in val.rules %}
                        {%if v.id|sort_act(nsobj[val.option.identifier])%}
                        <span class="btn btn-danger btn-xs relative" >{{v.name}}{{val.option.unit}}</span>
                        {%else%}
                        <a href="{{cate.url}}-{{order}}-{{group_id}}-{{sortid}}-{{v.id|sort_url(val.option.identifier,typevar,nsobj)}}{{http.config('view.file_ext')}}" class="btn btn-clean btn-xs relative" >{{v.name}}{{val.option.unit}}</a>
                        {%endif%}
                        {%endfor%}
                        <!--子栏目-->
                        {%for v in val.rules %}
                        {%if v.id|sort_act(nsobj[val.option.identifier])%}
                        {% if v.children%}
                        <div class="subtsm">

                            {% for v_ in v.children %}
                            {%if v_.id|sort_act(nsobj[val.option.identifier])%}
                            <span class="btn btn-danger btn-xs relative" >{{v_.name}}{{val.option.unit}}</span>
                            {%else%}
                            <a href="{{cate.url}}-{{order}}-{{group_id}}-{{sortid}}-{{v_.id|sort_url(val.option.identifier,typevar,nsobj)}}{{http.config('view.file_ext')}}" class="btn btn-clean btn-xs relative">{{v_.name}}{{val.option.unit}}</a>
                            {%endif%}
                            {% endfor %}
                        </div>
                        {%endif%}
                        {%endif%}
                        {%endfor%}
                        <!--子栏目-->
                        {%for v in val.rules %}
                        {%if v.id|sort_act(nsobj[val.option.identifier])%}
                        {% if v.children%}

                        {% for v_ in v.children %}
                        {%if v_.id|sort_act(nsobj[val.option.identifier])%}
                        {% if v_.children%}
                        <div class="subtsm">
                            {% for v__ in v_.children %}

                            {%if v__.id|sort_act(nsobj[val.option.identifier])%}

                            <span class="btn btn-danger btn-xs relative" >{{v__.name}}{{val.option.unit}}</span>
                            {%else%}
                            <a href="{{cate.url}}-{{order}}-{{group_id}}-{{sortid}}-{{v__.id|sort_url(val.option.identifier,typevar,nsobj)}}{{http.config('view.file_ext')}}" class="btn btn-clean btn-xs relative" >{{v__.name}}{{val.option.unit}}</a>

                            {%endif%}
                            {%endfor%}
                        </div>
                        {%endif%}
                        {%endif%}
                        {% endfor %}

                        {%endif%}
                        {%endif%}
                        {%endfor%}
                    </td>

                </tr>
                {% set typenum = typenum+1%}
                {%endif%}
                {%endfor%}

                </tbody>
            </table>
            {% if typenum > 4%}
            <a href="javascript:;" class="center-block btn btn-xs btn-white type_tr_b1" style="border-top: 1px solid #cfd8e1; display: block"><span class="fa fa-chevron-down"></span></a>
            <a href="javascript:;" class="center-block btn btn-xs btn-white type_tr_b2" style="border-top: 1px solid #cfd8e1; display: none"><span class="fa fa-chevron-up"></span></a>
            {%endif%}
        </div>

        {%endif%}
        <!--/分类信息-->
        <div class="row">
            <div class="text-left">
                <ul class="nav nav-pills mix-filter">

                    <li class="filter {%if group_id==0%}active{%endif%}"><a href="{{cate.url}}{{http.config('view.file_ext')}}">全部</a></li>
                    {% groups data="groups",cid=category.id%}
                    {%for v in groups%}
                    <li class="filter {%if group_id==v.id%}active{%endif%}"><a href="{{cate.url}}-{{order}}-{{v.id}}{%if sort%}-{{sortid}}{%endif%}{%if sorturl %}-{%endif%}{{sorturl}}{{http.config('view.file_ext')}}">{{v.name}}</a></li>
                    {%endfor%}
                </ul>
                {%if category.id|priv(controller.user.roleid,'add',0,false)%}
                <!--投稿按钮-->
                <div class="btn-group btn-group-sm pull-right">
                    <a {%if model|length> 1 %} data-toggle="dropdown" {% endif %} class="btn btn-primary btn-sm document_add
                        dropdown-toggle {% if allow == 0 %}disabled{% endif %}" {%if model|length
                        == 1 %} href="/uc/publish/add/model_id/{{modellist[0].id}}/pid/0/cate_id/{{cate.id}}/group_id/{{group_id}}/sortid/{{sortid}}"{%endif%}
                        ><span class="fa fa-pencil-square-o"></span> 投稿 {%if model|length > 1 %}<span class="caret"></span>{% endif %}</a>
                    {%if model|length > 1 %}
                    <ul class="dropdown-menu">

                        {% for val in modellist%}
                        <li> <a href="/uc/publish/add/model_id/{{val.id}}/pid/0/cate_id/{{cate.id}}/group_id/{{group_id}}/sortid/{{sortid}}"
                                class="text-info">添加{{val.title}}</a></li>
                        {% endfor %}

                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">添加内容</a></li>-->
                    </ul>
                    {% endif %}
                </div>
                <!--//投稿按钮-->
                {%endif%}
                <div class="btn-group btn-group-sm pull-right">
                    <a class="btn btn-default height-auto {%if order<2%}active{%endif%}" href="{{cate.url}}-{%if order<2%}{{1-order}}{%else%}0{%endif%}{%if group_id or sort%}-{{group_id}}{%endif%}{%if sort%}-{{sortid}}{%endif%}{%if sorturl %}-{%endif%}{{sorturl}}{{http.config('view.file_ext')}}" >按时间 <span class="glyphicon {%if order ==0%}glyphicon-arrow-down{%elif order==1%}glyphicon-arrow-up{%else%}glyphicon-arrow-down{%endif%}"></span> </a>
                    <a class="btn btn-default height-auto {%if order>=2 and order<4%}active{%endif%}" href="{{cate.url}}-{%if order>=2%}{%if order ==2%}3{%else%}2{%endif%}{%else%}2{%endif%}{%if group_id or sort%}-{{group_id}}{%endif%}{%if sort%}-{{sortid}}{%endif%}{%if sorturl %}-{%endif%}{{sorturl}}{{http.config('view.file_ext')}}" style="height: auto">按人气<span class="glyphicon  {%if order ==2%}glyphicon-arrow-down{%elif order==3%}glyphicon-arrow-up{%else%}glyphicon-arrow-down{%endif%}"></span></a>
                </div>

                <div class="divider divider-circle divider-center margin-top-0"><!-- divider -->
                    <a href="#"><i class="fa fa-rss"></i></a>
                </div>
            </div>
            {% for val in list %}
            {%set author = val.author_id|getmodelfield(9,null)%}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="btn btn-danger btn-xs pull-right" target="_blank" href="{{val.name|get_url(val.id)}}">{% if null|getnow < val.create_time %}未开幕{%elif (null|getnow > val.create_time) and (null|getnow < val.deadline)%}展览中{%elif null|getnow > val.deadline%}已结束{%endif%}</a>
                        <h2 class="panel-title">{{val.title}}</h2>
                    </div>
                    <div class="panel-body">
                           <div class="row">
                               <div class="col-md-5">
                                   <a class="btn btn-danger btn-xs pull-right thumbnail nomargin" style="display: block" target="_blank" href="{{val.name|get_url(val.id)}}">
                            <img class="" src="{{val.cover_id|get_pic('m=1,w=200,h=270')}}" width="200" height="270" alt="">
                                   </a>
                               </div>
                            <div class="col-md-7" style="margin-left: -15px; padding-right: 0"><div class="clearfix margin-bottom-6"><!-- squared item -->
                        <img class="thumbnail pull-left" style="margin-right: 10px" src="{{author.pin|get_pic('m=1,w=40,h=40')}}" width="40" height="40" alt="">
                        <h4 class="size-14 nomargin noborder nopadding bold"><a href="/mod/artist/{{author.pinyin}}" target="_blank">{{author.title}}</a></h4>
                        <span class="size-12 text-muted">{{author.description|truncate(20, true, "...")}}</span>
                    </div><ul class="list-group margin-bottom-0">
                        <li class="list-group-item"><span style="width: 60px"><i class="fa fa-calendar-check-o"></i> 开始:</span> {{ val.create_time|dateformat('Y-m-d H:i') }}</li>
                        <li class="list-group-item"><span style="width: 60px"><i class="fa fa-calendar-times-o"></i> 结束:</span> {{val.deadline|dateformat('Y-m-d H:i')}}</li>
                        <li class="list-group-item"><span style="width: 60px"><i class="fa fa-map-marker"></i> 地点:</span> {{val.id|getmodelfield(val.model_id,'addr')}}</li>
                        <li class="list-group-item "><span style="width: 60px"><i class="fa fa-globe"></i> 官网:</span> <a class="text-success" href="/mod/artist/{{author.pinyin}}" target="_blank">{{author.title}}官网</a></li>
                        <li class="list-group-item active text-center"><a class="text-white" target="_blank" href="{{val.name|get_url(val.id)}}">查看详情>></a></li>
                    </ul></div>
                           </div>
                    </div>
                </div>
            </div>
            {%endfor%}



            <!-- PAGINATION -->
            <div class="text-center">
                <!-- Pagination Default -->
                {{pagination | safe}}
                <!-- /Pagination Default -->
            </div>
            <!-- /PAGINATION -->
        </div>

    </div>
</section>
<!-- / -->
{% endblock %}