<div class="modal-dialog modal-md ajax-edit-addr-modal">
    <div class="modal-content">

        <!-- header modal -->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title " id="myLargeModalLabel">{{controller.meta_title}}</h4>
        </div>

        <!-- body modal -->
        <div class="modal-body">
            <form method="post" class="recharge">
                <fieldset>
                    <!-- required [php action request] -->

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4">
                                <label>充值金额 *</label>
                                <div class="fancy-form">
                                    <i class="fa fa-cny"></i>

                                    <input type="text" class="form-control" placeholder="充值金额" name="order_amount">

                                    <!-- tooltip - optional, bootstrap tooltip can be used instead -->
<span class="fancy-tooltip top-left"> <!-- positions: .top-left | .top-right -->
<em>最小金额不小于0.01!</em>
</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12">
                                <label>选择支付方式 *</label>
                                <div class="pay-box">


                                    <div class="icheck pay-list m-b">
                                        {% for val in paylist %}
                                        <div class="item">
                                            <input type="radio"  name="payment" value="{{val.id}}" {% if val.sort == 1 %} checked {% endif%}>
                                            <label ><img src="{{val.logo}}" /> {{val.title}} </label>
                                        </div>
                                        {% endfor %}

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-3d btn-teal btn-lg btn-block margin-top-30" type="submit">
                           立即充值
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
<script>
    _icheck();
</script>
