<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
									<button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
									<h4 id="myModalLabel" class="modal-title">用户登录</h4>
								</div>
        <div class="modal-body wrapper-lg">
            <div class="row">
                <div class="col-sm-7 b-r">
                    <!--<h3 class="m-t-none m-b">已有账号</h3>
                    <p>Sign in to meet your friends.</p>-->
                    {%if HOOK@loginView %}
                    {{HOOK@loginView|safe}}
                    {%else%}
                    <form role="form" class="sky-form" id="login" method="post">

                        <div class="form-group">
                            <label>账号</label>

                            <input type="text" name="username" class="form-control" placeholder="邮箱/手机号/昵称" required="">

                        </div>
                        <div class="form-group">
                            <label>密码</label>

                            <input type="password" name="password" class="form-control" placeholder="密码" required="">
                            <div class="clearfix note">
                                <a href="#" class="pull-right">忘记密码?</a>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label class="checkbox weight-300 margin-top-10">
                                    <input type="checkbox" name="checkbox-inline">
                                    <i></i> 记住我
                                </label>

                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                                <button class="btn btn-primary" id="validate-submit">登录</button>

                            </div>

                        </div>

                    </form>
                    <script>
                      _login();
                    </script>
                    {%endif%}

                </div>
                <div class="col-sm-5">
                    <h4>还没有账号?</h4>
                    <p>你可以在<a href="/center/public/register" class="text-info">这里</a>创建一个帐户 </p>
                    <p>或者</p>
                    {{HOOK@logins|safe}}
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
