{% extends "./inc/base.html" %} {% block content %}
<!-- 
				PAGE HEADER 
				
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
<section class="page-header page-header-xs">
    <div class="container">
        <!-- breadcrumbs -->
        <ol class="breadcrumb breadcrumb-inverse">
            <li><a href="#">首页</a></li>
            <li><a href="#">用户</a></li>
            <li class="active">{{controller.meta_title}}</li>
        </ol>
        <!-- /breadcrumbs -->

    </div>
</section>
<!-- /PAGE HEADER -->


<!-- -->
<section>
    <div class="container">
<div class="row">
        <!-- LEFT -->
        {% include "./inc/user_left.html" %}
        <!-- RIGHT -->
        <div class="col-lg-10 col-md-10 col-sm-8">

            <h4 class="page-header margin-top-0"><i class="fa fa-reorder fa-lg text-default"></i>
                {{controller.meta_title}}</h4>

            <ul class="nav nav-tabs nav-top-border">
                <li {%if controller.get('model')==null%}class="active"{%endif%}><a href="/center/publish/approval"><span class="badge badge-red btn-xs badge-corner">{{count}}</span>全部</a></li>
                {%for m in model%}
                <li {% if controller.get('model') == m.id%}class="active"{%endif%}><a href="/center/publish/approval/?model={{m.id}}" ><span class="badge badge-red btn-xs badge-corner">{{m.count}}</span>{{m.title}}</a></li>
                {%endfor%}

            </ul>
            <div class="table-responsive">
                <table class="table table-bordered  order-tb">
                    <thead>
                    <tr>
                        <th>标题</th>
                        <th>时间</th>
                        <th>操作</th>

                    </tr>
                    </thead>
                    {% for item in list.data %}
                    <tr>

                        <td>{{item.title}} </td>
                        <td>{{item.time | moment('YYYY-MM-DD HH:mm:ss')}}</td>


                        <td>
                            <a href="/center/publish/approvaldetails/?id={{item.id}}" class="btn btn-rounded btn-xs btn-icon btn-default" data-toggle="ajaxModal" title=""><i class="fa fa-search-plus"></i>详情</a>
                            <a href="/center/publish/approvaldel/?id={{item.id}}" class="btn btn-rounded btn-xs btn-icon btn-default ajax-get confirm"  title="" ><i class="fa fa-close"></i>删除</a>

                        </td>
                    </tr>
                    {% else %}
                    <tbody>
                    <tr>
                        <td colspan="5">
                            <div class="alert alert-warning alert-block">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <p>This would display if the 'item' collection were empty</p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            <!-- PAGINATION -->
            <div class="text-right">
                <!-- Pagination Default -->
                {{pagination | safe}}
                <!-- /Pagination Default -->
            </div>
            <!-- /PAGINATION -->
        </div>
</div>
    </div>
</section>
<!-- / -->
{% endblock %}
{% block script %}

{% endblock %}