<!--
	Used By:
		shortcode-lightbox.html
-->
<div class="lightbox-ajax width-400">

    <!-- title -->
    <h4 class="padding-8">删除</h4>

    <!-- body -->
    <div class="lightbox-ajax-body padding-8">

        <div class="alert alert-warning "><!-- WARNING -->
            <h4>删除商品？</h4>

            <p>
                您可以选择移到关注，或删除商品。
            </p>
            <input type="hidden" value="{{ids}}" name="ids" class="ids">
            <a class="btn btn-default btn-sm margin-top-10 ajax-post" target-form="ids" href="/uc/cart/delcart"  >删除</a>
            <a class="btn btn-primary btn-sm margin-top-10" href="#purchase">移到我的关注</a>
        </div>

    </div>
    <!-- /body -->

</div>