{% extends "../../admin/inc/base.html" %}
{% block content %}
<section class="vbox">
    <header class="header bg-light dk">
        <p>{{controller.meta_title}}</p>
    </header>
    <section class="scrollable wrapper">

        <section class="panel panel-default">
            <header class="panel-heading text-right bg-light  clearfix">
                <ul class="nav nav-tabs pull-left">
                    <li class="active"><a  href="/{{ctx.controller}}/index">{{controller.meta_title}}</a></li>
                    <li ><a  href="/{{ctx.controller}}/setting">插件配置</a></li>
                    <li class=""><a  href="/{{ctx.controller}}/userlist">微博用户</a></li>
                </ul>
                <span class="hidden-sm hide"><a href="/{{ctx.controller}}/add" class="text-info " data-toggle="ajaxModal">操作按钮不需要可以删除</a></span>
            </header>

            <div class="table-responsive">

                    <div class="caption wrapper-lg">
                        <h3 >{{controller.meta_title}} 配置说明</h3>
                        <div class="line line-lg"></div>
                        <h4>申请地址</h4>
                        <pre>http://open.weibo.com/</pre>
                        <div class="post-sum">
                            <p>申请时选择 微链接->网站接入，申请完成后会得到 App Key 和 App Secret，对应填写到插件配置中。</p>
                        </div>
                        <h4>授权回调页</h4>
                        <pre>http(s)://host/ext/weibo/index/index</pre>
                        <div class="post-sum">
                            <p>例如：你的网站是 http 就填 <code>http://www.cmswing.com/ext/weibo/index/index</code> 否则就是 <code>https://www.cmswing.com/ext/weibo/index/index</code>，www.cmswing.com 替换成你的网站域名，请认真按照实例填写，填错会通信失败！</p>
                        </div>
                        <div class="post-sum">
                            <p>首次填写在 网站信息->高级信息 里面，如果找不到填写的地方可到 授权管理->授权机制 里面查看。</p>
                        </div>
                        <h4>取消授权回调页</h4>
                        <pre>http(s)://host/ext/weibo/index/out</pre>
                        <div class="post-sum">
                            <p>例如：你的网站是 http 就填 <code>http://www.cmswing.com/ext/weibo/index/out</code> 否则就是 <code>https://www.cmswing.com/ext/weibo/index/out</code>，www.cmswing.com 替换成你的网站域名，请认真按照实例填写，填错会通信失败！</p>
                        </div>
                        <div class="post-sum">
                            <p>首次填写在 网站信息->高级信息 里面，如果找不到填写的地方可到 授权管理->授权机制 里面查看。</p>
                        </div>
                        <h4>特别提示</h4>
                        <div class="post-sum">
                            <p>首次使用请手动清空 cmswing.ext_weibo 表的数据</p>
                        </div>
                        <div class="line line-lg"></div>
                        <div class="text-muted">
                            <i class="fa fa-user icon-muted"></i> by <a href="#" class="m-r-sm">阿特</a>
                            <i class="fa fa-clock-o icon-muted"></i> 2017年9月13日
                        </div>
                    </div>

            </div>

        </section>
    </section>
</section>

{% endblock %}
{% block script%}
<script src="/static/admin/js/parsley/parsley.min.js"></script>
<script src="/static/admin/js/parsley/parsley.extend.js"></script>
{% endblock%}