{% extends "../../topic/inc/base.html" %}
{% block style %}
<link href="/static/assets/css/layout-question.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/assets/plugins/wangEditor/css/wangEditor.min.css" type="text/css"/>
{% endblock %}
{% block content %}
{%set cate = category.id|get_cate()%}
<!--
PAGE HEADER

CLASSES:
.page-header-xs	= 20px margins
.page-header-md	= 50px margins
.page-header-lg	= 80px margins
.page-header-xlg= 130px margins
.dark			= dark page header

.shadow-before-1 	= shadow 1 header top
.shadow-after-1 	= shadow 1 header bottom
.shadow-before-2 	= shadow 2 header top
.shadow-after-2 	= shadow 2 header bottom
.shadow-before-3 	= shadow 3 header top
.shadow-after-3 	= shadow 3 header bottom
-->
<section class="page-header page-header-xs" >
    <div class="container">

        <h1>{{category.title}}</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            {%for val in breadcrumb %}
            {% if val.id == category.id %}
            <li class="active">{{val.title}}</li>
            {% else %}
            <li><a href="{{val.url}}">{{val.title}}</a></li>

            {% endif %}
            {% endfor %}
        </ol><!-- /breadcrumbs -->
        <!-- page tabs -->

        <ul class="page-header-tabs list-inline">

            <li class="active"><a href="{{breadcrumb[0].url}}"><i class="et-target"></i> 发现</a></li>
            <li class=""><a href="#"><i class="et-chat"></i> 话题</a></li>
            <li class=""><a href="#"><i class="et-refresh"></i> 动态</a></li>

        </ul>

        <!-- /page tabs -->
    </div>
</section>
{%column data="column",pid=breadcrumb[0].id%}
{%if column%}
<!-- /PAGE HEADER -->
<section class="padding-bottom-0">
    <div class="container">

        <div class="row">

            {%for val in column%}
            <div class="col-md-3">

                <a class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content {%if val.id == category.id %}active{%endif%}" href="{{val.url}}{{http.config('view.file_ext')}}" style="padding-top: 35px">
                    <div class="box-icon-title">
                        <i class="et-chat"></i>
                        <h4 class="nomargin">{{val.name}}</h4>
                    </div>
                    <p class="nomargin" style="height: 44px;overflow: hidden">{{val.description|truncate(30, true, "...")}}</p>
                </a>

            </div>
            {%endfor%}

        </div>


    </div>
</section>
{%endif%}
<!-- -->
<section >
    <div class="container">
        <div class="row">

            <!-- LEFT -->
            <div class="col-md-9 col-sm-9">
                <div class="heading-title heading-border heading-color margin-bottom-10">
                    <h1 class="size-20 clearfix" >{{info.title}} </h1>
                    <div class="meta margin-top-6">
                        {% rkeywords data ="tags",type="1",mod_id="8",id=info.id%}
                        {%set color = ["btn-primary","btn-success","btn-info","btn-warning","btn-danger"]%}
                        {%for k in tags%}
                        <a href="{{k.url}}" class="btn {{color|random}} btn-xs relative">
                            {{k.keyname}}
                        </a>
                        {%endfor%}

                        {%if focus.uid%}
                        <a type="button" class="btn btn-default btn-xs pull-right" style="margin-top: -28px">取消关注 ({{info.focus_count}})</a>
                        {%else%}
                        <a type="button" class="btn btn-primary btn-xs pull-right" style="margin-top: -28px">关注 ({{info.focus_count}})</a>
                        {%endif%}


                </div>


                </div>
                <div class="divider divider-dotted nomargin"></div>
<div class="wangEditor-container" style="border: none">
    <div class="wangEditor-txt">
    {{info.detail|safe}}
    </div>
</div>
                <div class="meta">
                    <span class="text-color-999 margin-right-15">11 分钟前</span>

                    <a data-id="5" data-type="question" class="tex-888 margin-right-15" data-comment-count="0" data-first-click="hide"><i class="fa fa-commenting-o"></i> 添加评论</a>

                    <a class="tex-888 margin-right-15"><i class="fa fa-user-plus"></i> 邀请 </a>

                    <a class="tex-888 margin-right-15" href="#"><i class="fa fa-edit"></i> 编辑</a>
                    <a class="tex-888 margin-right-15"><i class="fa fa-link"></i> 相关链接</a>
                    <div class="pull-right">
                        <span class="dropdown margin-right-15">
                            <a  data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-share-alt"></i> 分享
                            </a>

                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li><a ><i class="icon icon-weibo"></i> 微博</a></li>
                                <li><a ><i class="icon icon-qzone"></i> QZONE</a></li>
                                <li><a ><i class="icon icon-wechat"></i> 微信</a></li>
                            </ul>
                        </span>


                        <a href="javascript:;" class="text-color-999"><i class="fa fa-get-pocket"></i> 举报</a>								</div>

                </div>

                <!--评论================================-->
                <div class="box-light margin-top-20 "><!-- .box-light OR .box-dark -->

                    <div class="box-inner">
                        <h4 class="uppercase size-20" >2 个回复</h4>
                        <!-- COMMENT -->
                        <ul class="comment list-unstyled">
                            <li class="comment">

                                <!-- avatar -->
                                <img class="avatar" src="/static/assets/images/demo/people/300x300/2-min.jpg" width="50" height="50" alt="avatar">

                                <!-- comment body -->
                                <div class="comment-body">
                                    <a href="#" class="comment-author">
                                        <small class="text-muted pull-right"> 12 分钟前 </small>
                                        <span>葫芦娃</span>
                                    </a>
                                    <p>据悉，三星电子在周一下午宣布，将会要求全球的移动运营商和零售合作伙伴停止销售Note 7手机，并要求Note 7用户关机，停止使用。

                                        Note 7手机发布后，已在全球多地发生数十起因电池缺陷造成的自燃起火事故。三星电子终于做出终止生产Note 7的决定。

                                    </p>
                                </div><!-- /comment body -->

                                <!-- options -->
                                <ul class="list-inline size-11 margin-top-10">
                                    <li>
                                        <a href="#" class="text-info"><i class="fa fa-reply"></i> 回复</a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> 赞同</a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-muted">显示全部评论 (36)</a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="#" class="text-danger">删除</a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="#" class="text-primary">编辑</a>
                                    </li>
                                </ul>
                            </li><!-- /options -->

                            <li class="comment comment-reply">

                                <!-- avatar -->
                                <img class="avatar" src="/static/assets/images/demo/people/300x300/3-min.jpg" width="50" height="50" alt="avatar">

                                <!-- comment body -->
                                <div class="comment-body">
                                    <a href="#" class="comment-author">
                                        <small class="text-muted pull-right"> 4 分钟前 </small>
                                        <span>二狗子</span>
                                    </a>
                                    <p>
                                        足协原本的意思是让高洪波率队打完40强赛的比赛，然后再重新选择新帅。但因为高洪波率队出线，足协最终让高洪波继续执教。 <i class="fa fa-smile-o green"></i>
                                    </p>
                                </div><!-- /comment body -->

                                <!-- options -->
                                <ul class="list-inline size-11 margin-top-10">
                                    <li>
                                        <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> 赞同</a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="#" class="text-danger">删除</a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="#" class="text-primary">编辑</a>
                                    </li>
                                </ul><!-- /options -->

                            </li>

                            <li class="comment comment-reply">

                                <!-- avatar -->
                                <img class="avatar" src="/static/assets/images/demo/people/300x300/4-min.jpg" width="50" height="50" alt="avatar">

                                <!-- comment body -->
                                <div class="comment-body">
                                    <a href="#" class="comment-author">
                                        <small class="text-muted pull-right"> 一个月前 </small>
                                        <span>Simona Doe</span>
                                    </a>
                                    <p>
                                        足协原本的意思是让高洪波率队打完40强赛的比赛，然后再重新选择新帅。但因为高洪波率队出线，足协最终让高洪波继续执教。 <i class="fa fa-smile-o green"></i>
                                    </p>
                                </div><!-- /comment body -->

                                <!-- options -->
                                <ul class="list-inline size-11 margin-top-10">
                                    <li>
                                        <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> 赞同</a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="#" class="text-danger">删除</a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="#" class="text-primary">编辑</a>
                                    </li>
                                </ul><!-- /options -->

                            </li>
                            <li>
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control" placeholder="Type your message...">
                                    <span class="input-group-btn">
												<button class="btn btn-primary" id="btn-chat">
													<i class="fa fa-reply"></i> 评论
												</button>
											</span>
                                </div>
                            </li>
                        </ul>
                        <!-- /COMMENT -->

                        <!-- COMMENT -->
                        <ul class="comment list-unstyled">
                            <li class="comment">

                                <!-- avatar -->
                                <img class="avatar" src="/static/assets/images/demo/people/300x300/2-min.jpg" width="50" height="50" alt="avatar">

                                <!-- comment body -->
                                <div class="comment-body">
                                    <a href="#" class="comment-author">
                                        <small class="text-muted pull-right"> 12 分钟前 </small>
                                        <span>葫芦娃</span>
                                    </a>
                                    <p>据悉，三星电子在周一下午宣布，将会要求全球的移动运营商和零售合作伙伴停止销售Note 7手机，并要求Note 7用户关机，停止使用。

                                        Note 7手机发布后，已在全球多地发生数十起因电池缺陷造成的自燃起火事故。三星电子终于做出终止生产Note 7的决定。

                                    </p>
                                </div><!-- /comment body -->

                                <!-- options -->
                                <ul class="list-inline size-11 margin-top-10">
                                    <li>
                                        <a href="#" class="text-info"><i class="fa fa-reply"></i> 回复</a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> 赞同</a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-muted">显示全部评论 (36)</a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="#" class="text-danger">删除</a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="#" class="text-primary">编辑</a>
                                    </li>
                                </ul>
                            </li><!-- /options -->

                            <li class="comment comment-reply">

                                <!-- avatar -->
                                <img class="avatar" src="/static/assets/images/demo/people/300x300/3-min.jpg" width="50" height="50" alt="avatar">

                                <!-- comment body -->
                                <div class="comment-body">
                                    <a href="#" class="comment-author">
                                        <small class="text-muted pull-right"> 4 分钟前 </small>
                                        <span>二狗子</span>
                                    </a>
                                    <p>
                                        足协原本的意思是让高洪波率队打完40强赛的比赛，然后再重新选择新帅。但因为高洪波率队出线，足协最终让高洪波继续执教。 <i class="fa fa-smile-o green"></i>
                                    </p>
                                </div><!-- /comment body -->

                                <!-- options -->
                                <ul class="list-inline size-11 margin-top-10">
                                    <li>
                                        <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> 赞同</a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="#" class="text-danger">删除</a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="#" class="text-primary">编辑</a>
                                    </li>
                                </ul><!-- /options -->

                            </li>

                            <li class="comment comment-reply">

                                <!-- avatar -->
                                <img class="avatar" src="/static/assets/images/demo/people/300x300/4-min.jpg" width="50" height="50" alt="avatar">

                                <!-- comment body -->
                                <div class="comment-body">
                                    <a href="#" class="comment-author">
                                        <small class="text-muted pull-right"> 一个月前 </small>
                                        <span>Simona Doe</span>
                                    </a>
                                    <p>
                                        足协原本的意思是让高洪波率队打完40强赛的比赛，然后再重新选择新帅。但因为高洪波率队出线，足协最终让高洪波继续执教。 <i class="fa fa-smile-o green"></i>
                                    </p>
                                </div><!-- /comment body -->

                                <!-- options -->
                                <ul class="list-inline size-11 margin-top-10">
                                    <li>
                                        <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> 赞同</a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="#" class="text-danger">删除</a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="#" class="text-primary">编辑</a>
                                    </li>
                                </ul><!-- /options -->

                            </li>
                        </ul>
                        <!-- /COMMENT -->


                    </div>

                </div>
                <!--评论结束============================-->
                <form method="post" action="#" class="box-light margin-top-20 padding-0 validate"><!-- .box-light OR .box-dark -->
                    <div class="box-inner padding-0">
                        <h4 class="uppercase padding-bottom-0 clearfix margin-bottom-0 noborder row">  <div class="col-md-9 col-sm-9"><div class="clearfix margin-bottom-0"><!-- rounded item -->
                            <img class="thumbnail pull-left rounded" src="/static/assets/images/demo/people/300x300/4-min.jpg" width="40" height="40" alt="">
                            <h4 class="size-14 nomargin noborder nopadding bold"><a href="#">二狗子他妈</a></h4>
                            <span class="size-12 text-muted">二狗子的亲母亲.</span>
                        </div>   </div><div class="col-md-3 col-sm-3"><label class="switch switch-primary margin-top-10 pull-right">
                            <input type="checkbox" checked="" name="anonymous" value="0">
                            <span class="switch-label" data-on="不匿" data-off="匿名"></span>
                        </label></div></h4>

                        <textarea id="detail" name="text"  class="form-control required" style="height: 280px"  placeholder="Type your message here..."></textarea>


                        <button type="submit" class="btn btn-primary pull-right margin-top-20"><i class="fa fa-check"></i> 回复</button>
                    </div>
                </form>
            </div>

            <!-- RIGHT -->

            <div class="col-md-3 col-sm-3">
                {% if controller.is_login %}
                <div class="alert alert-info margin-bottom-20"><!-- INFO -->
                    今天，你遇到了什么问题呢？
                    <a href="/mod/question/sys/add/cid/{{category.id}}" class="btn btn-primary btn-3d btn-block margin-top-10">提问</a>
                </div>
                {%else%}
                <div class="alert alert-info margin-bottom-20"><!-- INFO -->
                    你好! 你还没有登录，请先登录.
                    <a class="btn btn-block btn-social btn-dropbox margin-top-10  " href="/uc/public/login" data-toggle="ajaxModal">
                        <i class="fa fa-sign-in"></i> 登录{{controller.setup.WEB_SITE_TITLE}}
                    </a>
                </div>
                {%endif%}
                <!-- INLINE SEARCH -->
                <div class="inline-search clearfix margin-bottom-20">
                    <form action="" method="get" class="widget_search">
                        <input type="search" placeholder="Start Searching..." id="s" name="s" class="serch-input">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <!-- /INLINE SEARCH -->

                <!-- side navigation -->
                {%column data="cates",cid=category.id,isnum="0"%}
                {%if cates==null%}
                <div class="side-nav margin-bottom-20 margin-top-20">
                    <div class="side-nav-head">
                        <button class="fa fa-bars"></button>
                        <h4>{{category.title}} 子分类</h4>
                    </div>
                    <ul class="list-group list-group-bordered list-group-noicon uppercase">
                        {%for val in cates%}
                        <li class="list-group-item"><a href="{{val.url}}{{http.config('view.file_ext')}}"><span class="size-11 text-muted pull-right">({{val.doc_num}})</span> {{val.name}}</a></li>
                        {%endfor%}
                    </ul>
                    <!-- /side navigation -->
                </div>
                {%endif%}
                <div class="box-inner nopadding">
                    <h3>
                        <a class="pull-right size-11 text-warning" href="#">更多</a>
                        热门话题
                    </h3>
                    <div class="" >

                        <div class="clearfix margin-bottom-10"><!-- discussion item -->
                            <img class="thumbnail pull-left" src="/static/assets/images/demo/people/300x300/3-min.jpg" width="60" height="60" alt="" />
                            <h4 class=" nomargin noborder nopadding bold"><a class="tag " href="/keywords/哈哈">
                                <span class="txt">CmsWing</span>
                                <span class="num">5</span>
                            </a>
                            </h4>
                            <span class="size-13 text-muted">
                                907 个问题, 361 人关注
												</span>
                        </div><!-- /discussion item -->

                        <div class="clearfix margin-bottom-10"><!-- discussion item -->
                            <img class="thumbnail pull-left" src="/static/assets/images/demo/people/300x300/4-min.jpg" width="60" height="60" alt="" />
                            <h4 class=" nomargin noborder nopadding bold"><a class="tag " href="/keywords/哈哈">
                                <span class="txt">微信公众平台</span>
                                <span class="num">5</span>
                            </a>
                            </h4>
                            <span class="size-13 text-muted">
                                907 个问题, 361 人关注
												</span>
                        </div><!-- /discussion item -->

                        <div class="clearfix margin-bottom-10"><!-- discussion item -->
                            <img class="thumbnail pull-left" src="/static/assets/images/demo/people/300x300/5-min.jpg" width="60" height="60" alt="" />
                            <h4 class=" nomargin noborder nopadding bold"><a class="tag " href="/keywords/哈哈">
                                <span class="txt">微信公众平台</span>
                                <span class="num">5</span>
                            </a>
                            </h4>
                            <span class="size-13 text-muted">
                                907 个问题, 361 人关注
												</span>
                        </div><!-- /discussion item -->

                        <div class="clearfix margin-bottom-10"><!-- discussion item -->
                            <img class="thumbnail pull-left" src="/static/assets/images/demo/people/300x300/6-min.jpg" width="60" height="60" alt="" />
                            <h4 class=" nomargin noborder nopadding bold"><a class="tag " href="/keywords/哈哈">
                                <span class="txt">微信公众平台</span>
                                <span class="num">5</span>
                            </a>
                            </h4>
                            <span class="size-13 text-muted">
                                907 个问题, 361 人关注
												</span>
                        </div><!-- /discussion item -->

                        <div class="clearfix margin-bottom-10"><!-- discussion item -->
                            <img class="thumbnail pull-left" src="/static/assets/images/demo/people/300x300/7-min.jpg" width="60" height="60" alt="" />
                            <h4 class=" nomargin noborder nopadding bold"><a class="tag " href="/keywords/哈哈">
                                <span class="txt">微信公众平台</span>
                                <span class="num">5</span>
                            </a>
                            </h4>
                            <span class="size-13 text-muted">
                                907 个问题, 361 人关注
												</span>
                        </div><!-- /discussion item -->

                    </div>
                </div>
                <hr />
                <div class="box-inner nopadding">
                    <h3>
                        <a class="pull-right size-11 text-warning" href="#">更多</a>
                        热门用户
                    </h3>
                    <div class="" >

                        <div class="clearfix margin-bottom-10"><!-- squared item -->
                            <img class="thumbnail pull-left rounded" src="/static/assets/images/demo/people/300x300/1-min.jpg" width="40" height="40" alt="" />
                            <h4 class="size-14 nomargin noborder nopadding bold"><a href="#">Joana Doe</a></h4>
                            <span class="size-12 text-muted">81 个问题, 68 次赞同</span>
                        </div><!-- /squared item -->

                        <div class="clearfix margin-bottom-10"><!-- rounded item -->
                            <img class="thumbnail pull-left rounded" src="/static/assets/images/demo/people/300x300/2-min.jpg" width="40" height="40" alt="" />
                            <h4 class="size-14 nomargin noborder nopadding bold"><a href="#">Melissa Doe</a></h4>
                            <span class="size-12 text-muted">81 个问题, 68 次赞同</span>
                        </div><!-- /rounded item -->

                        <div class="clearfix margin-bottom-10 "><!-- squared item -->
                            <img class="thumbnail pull-left rounded" src="/static/assets/images/demo/people/300x300/3-min.jpg" width="40" height="40" alt="" />
                            <h4 class="size-14 nomargin noborder nopadding bold"><a href="#">Felicia Doe</a></h4>
                            <span class="size-12 text-muted">81 个问题, 68 次赞同</span>
                        </div><!-- /squared item -->

                        <div class="clearfix margin-bottom-10 "><!-- rounded item -->
                            <img class="thumbnail pull-left rounded" src="/static/assets/images/demo/people/300x300/4-min.jpg" width="40" height="40" alt="" />
                            <h4 class="size-14 nomargin noborder nopadding bold"><a href="#">Suzana Doe</a></h4>
                            <span class="size-12 text-muted">81 个问题, 68 次赞同</span>
                        </div><!-- /rounded item -->

                        <div class="clearfix margin-bottom-10 "><!-- squared item -->
                            <img class="thumbnail pull-left rounded" src="/static/assets/images/demo/people/300x300/5-min.jpg" width="40" height="40" alt="" />
                            <h4 class="size-14 nomargin noborder nopadding bold"><a href="#">Jolie Doe</a></h4>
                            <span class="size-12 text-muted">81 个问题, 68 次赞同</span>
                        </div><!-- /squared item -->

                    </div>
                </div>


                <hr />
                <!-- SOCIAL ICONS -->
                <div class="hidden-xs margin-top-30 margin-bottom-60">
                    <a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
                        <i class="icon-rss"></i>
                        <i class="icon-rss"></i>
                    </a>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- / -->
{% endblock %}

{% block script %}
<script src="/static/assets/js/question.js"></script>
<script src="/static/assets/plugins/wangEditor/js/wangEditor.min.js"></script>
<script src="/static/admin/js/jQuery-Tags-Input/src/jquery.tagsinput.js"></script>
{%endblock%}