{% extends "./inc/base.html" %}
{% block content %}
<section class="vbox">
    <header class="header bg-light dk">
        <p>{{modelname}} <i class="fa fa-angle-right"></i> {{controller.meta_title}}</p>
        <i data-title="不含继承属性" data-placement="bottom" data-toggle="tooltip" class="fa fa-info-sign text-muted" data-original-title="" title=""><i class="fa fa-question-circle"></i></i>
    </header>
    <section class="scrollable wrapper">
        <section class="panel panel-default">
            <header class="panel-heading text-right bg-light  clearfix">
                <ul class="nav nav-tabs pull-left">
                    {%for v in list%}
                    {%set index = loop.index%}
                    <li class="{{'active' if index==1}}"><a  href="#table{{index}}" data-toggle="tab"><i class="fa fa-list-alt text-muted"></i> {{v.Table}}</a></li>
                    {%endfor%}
                </ul>
            </header>

            <div class="wrapper">
            <div class="tab-content">
                {%for v in list%}
                {%set index = loop.index%}
                <div class="tab-pane fade {{'active in' if index==1}}" id="table{{index}}">
                   <pre>{{v['Create Table']| nl2br | safe}}</pre>
                </div>
                 {%endfor%}
            </div>
            </div>
            <footer class="panel-footer">
                <div class="row">


                    <div class="col-sm-12 text-right text-center-xs">
                        {{pagerData | safe}}
                    </div>
                </div>
            </footer>
        </section>
    </section>
</section>
{% endblock %}