<% include inc/before.html %>
<section id="content">
    <section class="hbox stretch">
        <section class="vbox">
            <header class="header bg-light dk">
                <div class="btn-group pull-right">
                    <a href="#asideres" class="btn btn-sm btn-default" data-toggle="class:show">
                        <i class="fa fa-plus text"></i>
                        <span class="text">添加用户</span>
                        <i class="fa fa-minus text-active"></i>
                        <span class="text-active">添加完成</span>
                    </a>
                    <button class="btn btn-default btn-sm" type="button"><i class="fa fa-check-square-o"></i> 启用</button>
                    <button class="btn btn-default btn-sm" type="button"><i class="fa fa-minus-square-o"></i> 禁用</button>
                    <button class="btn btn-default btn-sm" type="button"><i class="fa fa-trash-o"></i> 删除</button>

                </div>
                <p>权限管理</p>
            </header>
            <section class="scrollable wrapper">
                <section class="panel panel-default pos-rlt clearfix">
                    <header class="panel-heading">
                        <ul class="nav nav-pills pull-right">
                            <li>
                                <a class="panel-toggle text-muted" href="#"><i class="fa fa-caret-down text-active"></i><i class="fa fa-caret-up text"></i></a>
                            </li>
                        </ul>
                        Dropdown
                    </header>
                    <div class="panel-body clearfix">

                       2222222222222222
                    </div>
                </section>
            </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>

    </section>
</section>
<% include inc/after.html %>