{% extends "./inc/base.html" %} {% block content %}

<section class="vbox">
    <header class="header bg-light dk">
        <ul class="nav nav-tabs pull-left">
            <li class="active"><a  href="#"><i class="fa fa-comments text-muted"></i> 正在使用的支付 </a></li>
            <li class=""><a  href="/admin/ecom/payplugin"><i class="fa fa-user text-muted"></i> 全部支付方式</a>
            </li>
        </ul>
    </header>
    <section class="scrollable wrapper">   
  <section class="panel panel-default">
            <header class="panel-heading">
               {{controller.meta_title}}
            </header>
            <div class="row wrapper">
                <div class="col-sm-5 m-b-xs">
                    111
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light" id="export-form">
                    <thead>
                    <tr>
                        
                        <th>支付方式</th>
                        
                        <th>状态</th>
                        <th style="width:130px;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list %}
                    <tr>
                       
                        <td>{{ item.Name }}</td>
                        
                        <td >未备份</td>
                        <td>
                            <button class="btn  btn-default btn-xs optimize" data-tables="{{ item.Name }}">配置</button>
                            <button class="btn  btn-default btn-xs repair" data-tables="{{ item.Name }}">删除</button>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <footer class="panel-footer">

            </footer>
        </section>
    </section>
</section>

{% endblock %}