<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{controller.meta_title}}</h4>
        </div>

        <div class="modal-body">
            <div class="alert alert-success ">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <i class="fa fa-ok-sign"></i><strong>提示!</strong> 把接受url,对应通知时间类型,填写到 <a class="alert-link" href="https://dashboard.pingxx.com" target="_blank">ping++ 后台</a> Webhooks.
            </div>
            <section class="panel panel-default m-b-none">
                <header class="panel-heading">
                    <span class="label bg-danger pull-right m-t-xs">{{list|length}}</span>
                    接收 URL 列表
                </header>
                <table class="table table-striped m-b-none">
                    <thead>
                    <tr>
                        <th>通知事件</th>
                        <th>接收 URL</th>
                        <th style="width:70px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for v in list%}
                    <tr>
                        <td>
                           {{v.name}}
                        </td>
                        <td>{{v.url}}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <a  href="javascript:;"><i class="fa fa-copy"></i></a>
                            </div>
                        </td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </section>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-default" data-dismiss="modal">关闭</a>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->