{% extends "./inc/base.html" %} {% block content %}

<section class="vbox">
    <header class="header bg-light dk">
        <ul class="nav nav-tabs pull-left">
            <li class="active"><a  href="#"><i class="fa fa-comments text-muted"></i> 正在使用的支付 </a></li>
            <li class=""><a  href="/admin/ecom/payplugin"><i class="fa fa-user text-muted"></i> 全部支付方式</a>
            </li>
        </ul>
    </header>
    <section class="scrollable wrapper">   
  <section class="panel panel-default">
            <header class="panel-heading">
               {{controller.meta_title}}
            </header>
            <div class="row wrapper">
                <div class="col-sm-5 m-b-xs">
                    111
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light" id="export-form">
                    <thead>
                    <tr>
                        
                        <th>支付方式</th>
                        
                        <th>状态</th>
                        <th style="width:130px;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list %}
                    <tr>
                       
                        <td> <img src="{{item.logo}}" class="img-responsive img-thumbnail" > {{ item.pay_name }}</td>
                        
                                        </td></td>
                       <td>
                                            <a href="/admin/ecom/setstatus/ids/{{item.id}}/status/{{1-item.status}}/table/payment" class="active ajax-get" data-toggle="class">
                                                <i class="fa fa-check text-success {%if item.status %}text-active{%else%}text{%endif%}"></i>
                                                <i class="fa fa-times text-danger {%if item.status %}text{%else%}text-active{%endif%}"></i>
                                            </a>
                                        </td>
                        <td>
                           <a href="/admin/ecom/editpay/id/{{item.id}}" class="text-info">配置</a>
                           <a href="/admin/ecom/delpay/id/{{item.id}}" class="confirm ajax-get text-info">删除</a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <footer class="panel-footer">

            </footer>
        </section>
    </section>
</section>

{% endblock %}