{% extends "./inc/base.html" %} {% block content %}

<section class="vbox">
    <header class="header bg-light dk">
        <div class="btn-group pull-right">

            <a href="/admin/ecom/addfare" type="button" class="btn btn-default btn-sm"><i class="fa fa-plus text"></i> 添加运费模板</a>


        </div>
        <p>{{controller.meta_title}}</p>
    </header>
    <section class="scrollable wrapper">   
  <section class="panel panel-default">
            <header class="panel-heading">
                <div class=" pull-right">
                    <a href="/admin/setup/add" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> 编辑</a>
                    <a href="/admin/setup/add" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> 删除</a>

                </div>
                <span class="label bg-danger">正在使用</span> 模板名称
            </header>

            <div class="table-responsive">
                <table class="table  b-t b-light" id="export-form">
                    <thead>
                    <tr>
                        
                        <th >运送到</th>
                        
                        <th class="active" style="width: 100px">首重(g)</th>
                        <th class="active" style="width: 100px">运费(元)</th>
                        <th class="warning" style="width: 100px">续重(g)</th>
                        <th class="warning" style="width: 100px">运费(元)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="success"><td>全国</td> <td class="active">1000</td> <td class="active">10.00</td> <td class="warning">1000</td> <td class="warning">5.00</td></tr>
                    <tr><td>上海市,江苏省,浙江省,安徽省,江西省</td> <td class="active">1000</td> <td class="active">8</td> <td class="warning">1000</td> <td class="warning">5</td></tr>
                    <tr><td>北京市,天津市,唐山市,保定市</td> <td class="active">1000</td> <td class="active">12</td> <td class="warning">1000</td> <td class="warning">6</td></tr>
                    </tbody>
                </table>
            </div>

        </section>
    </section>
</section>

{% endblock %}
