{% extends "./inc/base.html" %} {% block content %}

<section class="vbox">
    <header class="header bg-light dk">
        <div class="btn-group pull-right">

            <a href="/admin/ecom/addfare" type="button" class="btn btn-info btn-sm"><i class="fa fa-plus text"></i> 添加运费模板</a>


        </div>
        <p>{{controller.meta_title}}</p>
    </header>
    <section class="scrollable wrapper">
        {% for val in list%}
  <section class="panel {%if val.is_default == 1 %} panel-info{%else%} panel-default{%endif%} ">
            <header class="panel-heading">
                <div class=" pull-right">
                    <a href="/admin/ecom/editfare/id/{{val.id}}" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> 编辑</a>
                    <a href="/admin/ecom/delfare/id/{{val.id}}" class="btn btn-danger btn-xs confirm ajax-get"><i class="fa fa-trash-o"></i> 删除</a>

                </div>
                {%if val.is_default == 1 %}<span class="label bg-danger">正在使用</span>{%else%}<a href="/admin/ecom/defaulffare/id/{{val.id}}" class="btn btn-info btn-xs ajax-get"><i class="fa fa-check"></i> 使用此模板</a>{%endif%} {{val.name}}
            </header>

            <div class="table-responsive">
                <table class="table  b-t b-light" id="export-form">
                    <thead>
                    <tr>
                        
                        <th >运送到</th>
                        
                        <th class="active" style="width: 100px">首重(g)</th>
                        <th class="active" style="width: 100px">运费(元)</th>
                        <th class="warning" style="width: 100px">续重(g)</th>
                        <th class="warning" style="width: 100px">运费(元)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="success"><td>默认运费（指定城市以外的）</td> <td class="success">{{val.first_weight}}</td> <td class="success">{{val.first_price|formatCurrency}}</td> <td class="success">{{val.second_weight}}</td> <td class="success">{{val.second_price|formatCurrency}}</td></tr>
                    {% set zoning = val.zoning|strToJson %}
                    {%for v in zoning %}
                    <tr><td>{{v.title|safe}}</td> <td class="active">{{v.f_weight}}</td> <td class="active">{{v.f_price|formatCurrency}}</td> <td class="warning">{{v.s_weight}}</td> <td class="warning">{{v.s_price|formatCurrency}}</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </section>
        {% endfor %}
    </section>
</section>

{% endblock %}
