<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{controller.meta_title}}</h4>
        </div>
        <div class="modal-body">
            <form role="form">
                <div class="form-group">
                    <label>应用 ID (ping++ App_ID)</label>
                    <input type="text" class="form-control" placeholder="App_ID" name="appid">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-default" data-dismiss="modal">关闭</a>
            <a href="javascript:;" class="btn btn-primary addappid">添加</a>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->