<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">修改{{info.name}}</h4>
        </div>
        <form id="ajaxForm" method="post" class="form-horizontal" action="/{{ctx.controller}}/edit" data-validate="parsley">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label" >插件目录</label>

                    <div class="col-sm-10">

                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="ext" value="{{info.ext}}" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">插件名称</label>

                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="name" value="{{info.name}}"
                                       data-required="true" >
                            </div>
                            <div class="col-md-12">
                                <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 插件的名称</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否有后台管理</label>

                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-4 ">
                                <label class="radio-inline i-checks">
                                    <input type="radio" value="1" name="isadm" {%if info.isadm ==1%}checked{%endif%}><i></i> 有
                                </label>
                                <label class="radio-inline i-checks">
                                    <input type="radio" value="0" name="isadm" {%if info.isadm ==0%}checked{%endif%}><i></i> 木有
                                </label>
                            </div>
                            <div class="col-md-12">
                                <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 选择有会生成后台管理入口</span>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">版本号</label>

                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="version" value="{{info.version}}"
                                       data-required="true" >
                            </div>
                            <div class="col-md-12">
                                <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 版本号，如 1.0</span>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">更新时间</label>

                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="text" name="updatetime" class="form-control time" value="" placeholder="请选择时间" />
                            </div>
                            <div class="col-md-12">
                                <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 默认为当前时间</span>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">排序</label>

                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-2">
                                <input type="text" name="sort" class="form-control" value="{{info.sort}}" placeholder="" />
                            </div>
                            <div class="col-md-12">
                                <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 越小越靠前</span>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">插件简介</label>

                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea type="text" name="description" class="form-control" >{{info.description}}</textarea>
                            </div>
                            <div class="col-md-12">
                                <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 最多120个字</span>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否启用</label>

                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-4 ">
                                <label class="radio-inline i-checks">
                                    <input type="radio" value="1" name="status" {%if info.status==1%}checked{%endif%}><i></i> 是
                                </label>
                                <label class="radio-inline i-checks">
                                    <input type="radio" value="0" name="status" {%if info.status==0%}checked{%endif%}><i></i> 否
                                </label>
                            </div>
                            <div class="col-md-12">
                                <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 启用插件</span>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                <button class="btn btn-primary btn-s-md ajax-post" type="submit" target-form="form-horizontal">确定</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script type="text/javascript">
    $(function () {
        $('.time').datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            language:"zh-CN",
            minView:2,
            autoclose:true
        });
    })

</script>