<% include inc/before.html %>
            <section id="content">
                <section class="vbox">
                    <header class="header bg-light dk">
                        <p>平台主页</p>
                    </header>
                    <section class="scrollable wrapper">

                        <div class="row">

                            <div class="col-lg-12">
                                <p>首页 <span
                                            class="text-muted">(replace the '.' with '-')</span></p>
                            </div>

                        </div>
                    </section>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open"
                   data-target="#nav,html"></a>
            </section>
<% include inc/after.html %>