{% extends "./inc/base.html" %} {% block content %}

<section class="vbox">
    <header class="header bg-light dk">
        <p>{{controller.meta_title}}</p>
    </header>
    <section class="scrollable wrapper">

        <section class="panel panel-default">
            <header class="panel-footer bg-white">
                <div class="row text-center no-gutter">
                    <div class="col-xs-3 b-r b-light">
                        <p class="h3 font-bold m-t">5,860</p>
                        <p class="text-muted">用户</p>
                    </div>
                    <div class="col-xs-3 b-r b-light">
                        <p class="h3 font-bold m-t">10,450</p>
                        <p class="text-muted">行为</p>
                    </div>
                    <div class="col-xs-3 b-r b-light">
                        <p class="h3 font-bold m-t">21,230</p>
                        <p class="text-muted">内容</p>
                    </div>
                    <div class="col-xs-3">
                        <p class="h3 font-bold m-t">7,230</p>
                        <p class="text-muted">模块</p>
                    </div>

                </div>
            </header>
        </section>

        <div class="row">
            <div class="col-md-6">
                <section class="panel panel-default portlet-item">
                    <header class="panel-heading">
                        <ul class="nav nav-pills pull-right">
                            <li>
                                <a class="panel-toggle text-muted" href="#"><i class="fa fa-caret-down text-active"></i><i class="fa fa-caret-up text"></i></a>
                            </li>
                        </ul>
                        产品团队
                    </header>
                    <section class="panel-body">
                        <article class="media">
                            <div class="pull-left">
                                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-bold fa-stack-1x text-white"></i>
                      </span>
                            </div>
                            <div class="media-body">
                                <h4 class="h4">总策划</h4>
                                <small class="block m-t-xs">阿特 arterli@qq.com</small>
                            </div>
                        </article>
                        <div class="line pull-in"></div>
                        <article class="media">
                            <div class="pull-left">
                                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x text-info"></i>
                        <i class="fa fa-file-o fa-stack-1x text-white"></i>
                      </span>
                            </div>
                            <div class="media-body">
                                <h4 class="h4">产品设计及研发团队</h4>
                                <small class="block m-t-xs">阿特，李峰，景伟荣，马伟涛，陈金龙</small>
                            </div>
                        </article>
                        <div class="line pull-in"></div>
                        <article class="media">
                            <div class="pull-left">
                                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x icon-muted"></i>
                        <i class="fa fa-mobile fa-stack-1x text-white"></i>
                      </span>
                            </div>
                            <div class="media-body">
                                <h4 class="h4 text-success">界面及用户体验团队</h4>
                                <small class="block m-t-xs">阿特，王有丽</small>
                            </div>
                        </article>
                    </section>
                </section>
            </div>
            <div class="col-md-6">
                <section class="panel panel-info ">
                    <header class="panel-heading">
                        系统信息
                    </header>
                    <div class="list-group bg-white">
                        <div class="list-group-item">
                            <i class="fa fa-fw fa-envelope"></i> CmsWing版本 : <span class=" text-muted">{{version}}</span>
                        </div>
                        <div class="list-group-item">
                            <i class="fa fa-fw fa-eye"></i> 服务器操作系统 : <span class=" text-muted">{{OS}}</span>
                        </div>
                        <div class="list-group-item">
                            <i class="fa fa-fw fa-phone"></i> nodejs版本 : <span class=" text-muted">{{ nodejs_v }}</span>
                        </div>
                        <div class="list-group-item">
                            <i class="fa fa-fw fa-comments-o"></i> MYSQL版本 ：<span class=" text-muted">{{mysqlv}}</span>
                        </div>
                        <div class="list-group-item">
                            <i class="fa fa-fw fa-bookmark"></i> ThinkJS ：<span class="text-muted">{{thinkjs}} [The Web framework beyond your dreams] <a href="https://thinkjs.org/doc.html" target="_blank">Getting Started</a> </span>
                        </div>

                    </div>
                </section>
            </div>


        </div>
    </section>
</section>

{% endblock %}