{% extends "./inc/base.html" %}
{% block style%}
<link rel="stylesheet" href="/static/admin/js/datatables/datatables.css" type="text/css"/>
{% endblock %}
{% block content %}
<section class="hbox stretch">


    <aside id="bjax-target" class="aside-lg  bg-light b-r hide">

    </aside>
    <aside>
        <section class="vbox">
            <header class="header bg-light dk">
                <div class="btn-group pull-right">
                    <a href="/admin/menu/add#bjax-target" class="btn btn-sm btn-default" data-toggle="class:show" data-bjax="" data-target="#bjax-target">
                        <i class="fa fa-plus text"></i>
                        <span class="text">添加菜单</span>
                        <i class="fa fa-plus text-active"></i>
                        <span class="text-active">添加菜单</span>
                    </a>
                    <button class="btn btn-default btn-sm" type="button"><i class="fa fa-check-square-o"></i> 导入</button>
                    <button class="btn btn-default btn-sm" type="button"><i class="fa fa-minus-square-o"></i> 排序</button>
                    <button class="btn btn-default btn-sm" type="button"><i class="fa fa-trash-o"></i> 删除</button>

                </div>
                <p>菜单管理</p>
            </header>
            <section class="scrollable wrapper">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fa fa-list-ul"></i> 菜单列表</a></li>

                </ul>
                <section class="panel panel-default">




                    <div class="table-responsive">
                        <table class="table table-striped b-t b-light" data-ride="datatables">
                            <thead>
                            <tr>
                                <th style="width:5%"><label class="checkbox m-n i-checks"><input type="checkbox"><i></i></label></th>
                                <th  style="width:5%">ID</th>
                                <th  style="width:10%">名称</th>
                                <th  style="width:10%">上级菜单</th>
                                <th  style="width:10%">分组</th>
                                <th  style="width:20%">URL</th>
                                <th  style="width:10%">排序</th>
                                <th  style="width:10%">开发模式</th>
                                <th  style="width:10%">隐藏</th>
                                <th  style="width:10%">操作</th>

                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </section>
            </section>
        </section>
    </aside>
</section>

{% endblock%} 

{% block script%}

<script src="/static/admin/js/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin/js/datatables/jquery.csv-0.71.min.js"></script>
<script src="/static/admin/js/parsley/parsley.min.js"></script>
<script src="/static/admin/js/parsley/parsley.extend.js"></script>
<script src="/static/admin/js/datatables/menu.js"></script>

{% endblock %}