{% extends "./inc/base.html" %} 
{% block style %}
{% endblock %}
{% block content %}
<section class="vbox">
    <section id="bjax-target">
        <section class="hbox stretch">
            <!-- side content -->
            {% include "./inc/mp_side.html" %}
            <!-- / side content -->
            <section>
                <section class="vbox">
                    <header class="header bg-light b-b">
                        <p>{{controller.meta_title}}</p>
                    </header>
                    <section class="scrollable wrapper">
                        <!--陈金龙 start-->
                        
                        <!--陈金龙 end-->
                    </section>
                </section>
            </section>
        </section>
    </section>

</section>
{% endblock %}

{% block script %}
{% endblock %}