{% extends "./inc/base.html" %} {% block content %}
<section class="vbox">
    <section id="bjax-target">
        <section class="hbox stretch">
            <!-- side content -->
            {% include "./inc/mp_side.html" %}
            <!-- / side content -->
            <section>
                <section class="vbox">
                     <header class="header bg-light b-b">
                            <p>{{controller.meta_title}}</p>
                        </header>
                    <section class="scrollable wrapper">
                       
                        <section class="panel panel-default">
                    <header class="panel-heading text-right bg-light">
                      <ul class="nav nav-tabs pull-left">
                        <li class="active"><a data-toggle="tab" href="#messages-2"><i class="fa fa-weixin text-muted"></i> {{controller.meta_title}}</a></li>
                          {#
                        <li class=""><a data-toggle="tab" href="#profile-2"><i class="fa fa-user text-muted"></i> Profile</a></li>
                        <li class="dropdown">
                          <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-cog text-muted"></i> Settings <b class="caret"></b></a>
                          <ul class="dropdown-menu text-left">
                            <li><a data-toggle="tab" href="#dropdown1">@fat</a></li>
                            <li><a data-toggle="tab" href="#dropdown2">@mdo</a></li>
                          </ul>
                        </li>
                          #}
                      </ul>
                      <span class="hidden-sm"><a href="/admin/setup/index?id=6" class="text-info" target="_blank">修改</a> </span>
                    </header>
                    <div class="panel-body">
                      <div class="tab-content">              
                        <div id="messages-2" class="tab-pane fade active in"><form method="post" action="/admin/setup/save" class="form-horizontal" id="ajaxForm">


                            <div class="form-group">
                                <label class="col-sm-2 control-label">公众号名称</label>
                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-md-10">
                                            <p class="form-control-static">{{config.setup.wx_name}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">公众号类型</label>
                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-md-10">
                                            <p class="form-control-static">
                                            {%if config.setup.wx_type==1%}
                                            未认证订阅号
                                            {%elif config.setup.wx_type==2%}
                                            认证订阅号
                                            {%elif config.setup.wx_type==3%}
                                            未认证服务号
                                            {%elif config.setup.wx_type==4%}
                                            微信认证服务号
                                            {%endif%}
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">AppID(应用ID)</label>
                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-md-10">
                                            <p class="form-control-static">{{config.setup.wx_AppID}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">AppSecret(应用密钥)</label>
                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-md-10">
                                            <p class="form-control-static">{{config.setup.wx_AppSecret}}</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Token(令牌)</label>
                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-md-10">
                                            <p class="form-control-static">{{config.setup.wx_Token}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                        </form></div>
                        <div id="profile-2" class="tab-pane fade ">profile</div>
                        <div id="dropdown1" class="tab-pane fade">dropdown1</div>
                        <div id="dropdown2" class="tab-pane fade">dropdown2</div>
                      </div>
                    </div>
                  </section>

                    </section>
                </section>
            </section>
        </section>
    </section>

</section>
{% endblock %}