{% extends "./inc/base.html" %}
{% block content %}
<section class="vbox">
    <header class="header bg-light dk">
        <ul class="nav nav-tabs pull-left">
            {% for ingredient, amount in setup.CONFIG_GROUP_LIST %}
            <li {%if id == ingredient %}class="active"{% endif %} ><a href="#{{ ingredient }}" data-toggle="tab" data-groupid="{{ ingredient }}" class="grouplist"> {{ amount }}</a></li>
            {% endfor %}
        </ul>
    </header>
    <section class="scrollable wrapper">

        <div class="row">

            <div class="col-lg-12">
                <p>网站设置 <span
                        class="text-muted">(replace the '.' with '-')fdsaf</span></p>
            </div>

        </div>
    </section>
</section>

{% endblock %}