{% extends "./inc/base.html" %}
{% block content %}
<section class="vbox">
    <header class="header bg-light dk">
        <ul class="nav nav-tabs pull-left">
            <li class="active"><a href="#"> 备份数据库 </a></li>
            <li class=""><a href="/admin/database/imports"><i class="fa fa-user text-muted"></i> 还原数据</a>
            </li>
        </ul>
    </header>
    <section class="scrollable wrapper">

        <div class="row">

            <div class="col-lg-12">
                <p>网站设置 <span
                        class="text-muted">(replace the '.' with '-')</span></p>
            </div>

        </div>
    </section>
</section>

{% endblock %}