{% extends "./inc/base.html" %} {% block style %}
<!--<link rel="stylesheet" href="/static/admin/js/zTree/metroStyle/metroStyle.css" type="text/css">-->
<link rel="stylesheet" href="/static/admin/js/zTree/zTreeStyle/zTreeStyle.css" type="text/css">
<style>
    #directionContainer ul {
        margin: 0px;
        padding: 0px 0px 0px 20px;
    }
    .directionTitle{
        font-weight: bold;
        font-size: 14px;
        padding-bottom:3px;
        border-bottom: 1px dashed #ccc;
    }
    .sectionItem{
        height:20px;
        padding: 4px;
    }
    .sectionItem span{
        *zoom:1;
        display:inline-block;
    }
    .itemTitle{
        _float:left;
    }
    .selectIcon,.deleteIcon,.moveUp,.moveDown{
        float:right;
        color:red;
        font-size:0px;
        line-height: 20px;
        height:20px;
        text-align: center;
        cursor: pointer;
    }
    .selectIcon,.moveUp,.moveDown{
        width:14px;
        font-size:10px;
    }
    .selectIcon:hover,.moveUp:hover,.moveDown:hover{
        text-decoration: underline;
    }
    .deleteIcon{
        width:20px;
        margin-left:3px;
        background: url(../themes/default/images/icons-all.gif) 0 -89px;
    }
    .fixTop{
        position: fixed;
        top: -1px;
    }

</style>

 {% endblock%} {% block content %}
<section class="vbox">
    <section id="bjax-target">
        <section class="hbox stretch">
            <!-- side content -->
            {% include "./inc/article_side.html" %}
            <!-- / side content -->
            <section>
                <section class="vbox">
                    <section class="scrollable wrapper">
                        <!-- .breadcrumb -->
                        <ul class="breadcrumb">
                            <li><a href="/admin/article/index"><i class="fa fa-home"></i> 网站内容</a></li>
                            {% for nav in breadcrumb%} {% if cate_id == nav.id %}
                            <li class="active">{{nav.title}}  </li>
                            {%else%}
                            <li><a href="/admin/sp/index/cate_id/{{nav.id}}"><i class="fa fa-list-ul"></i> {{nav.title}}</a></li>
                            {% endif %} {% endfor %} {%if article.id >0 %}
                            <li> <i class="fa fa-list-ul"></i> {{article.title}} </li>{% endif %}
                        </ul>
                        <!-- / .breadcrumb -->
                        <section class="panel panel-default">
                            <header class="panel-heading text-right bg-light  clearfix">
                                <ul class="nav nav-tabs pull-left">
                                    <li class="active"><a  href="/admin/sp/index/cate_id/{{http.get('cate_id')}}">PC单页内容</a></li>
                                    <li class=""><a  href="/admin/sp/mobile/cate_id/{{http.get('cate_id')}}">手机单页内容</a></li>
                                </ul>
                                <span class="hidden-sm"><a href="/admin/category/index/mold/2" class="text-info" target="_blank">栏目管理</a> | <a href="/{{name}}" class="text-info" target="_blank">预览</a></span>
                            </header>
                            <div class="panel-body">
                        <form action="/admin/sp/update" class="form-horizontal" method="post"  data-validate="parsley">
                            <div class="tab-content">

                                <div id="tab2" class="tab-pane fade active in">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">选择类型</label>
                                        <div class="col-md-10">
                                            <label class="radio-inline i-checks ispct">
                                                <input type="radio"  value="0" name="ispct" {%if info.ispct ==0 or info.ispct==null%}checked{%endif%}><i></i> 系统模板
                                            </label>
                                            <label class="radio-inline i-checks ispct">
                                                <input type="radio"  value="1" name="ispct" {%if info.ispct ==1%}checked{%endif%}><i></i> 独立模板
                                            </label>
                                            <label class="radio-inline i-checks ispct">
                                                <input type="radio"  value="2" name="ispct" {%if info.ispct ==2%}checked{%endif%}><i></i> 跳转链接
                                            </label>
                                        </div>
                                        <div class="col-md-12 hide">
                                            <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i>  。。。</span>
                                        </div>
                                    </div>

                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <div class="form-group sp_html_pc" style="{%if info.ispct ==0 or info.ispct==null%}display: block{%else%}display: none{%endif%}">
                                        {#
                                        <div class="col-sm-2">
                                            <div id="directionWrapper">
                                                <div class="directionTitle">目录：</div>
                                                <div id="directionContainer"></div>
                                            </div>
                                        </div>
                                        #}
                                        <div class="col-sm-12 ">
                                            <!-- 加载编辑器的容器 -->
                                            <script id="Editor_sp_html_pc" name="sp_html_pc" style="width: 100%; height: 500px" type="text/plain">{{info.sp_html_pc|safe}}</script>
                                        </div>
                                    </div>
                                    <div class="form-group sp_temp_pc" style="{%if info.ispct ==1%}display: block{%else%}display: none{%endif%}">
                                        <label class="col-sm-2 control-label">模板地址</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-md-6"><input name="sp_temp_pc"  type="text" value="{{info.sp_temp_pc}}" class="form-control"></div>
                                                <div class="col-md-12">
                                                    <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 模板地址</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group pc_url" style="{%if info.ispct ==2%}display: block{%else%}display: none{%endif%}">
                                        <label class="col-sm-2 control-label">跳转地址</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-md-6"><input name="pc_url"  type="text" value="{{info.pc_url}}" class="form-control"></div>
                                                <div class="col-md-12">
                                                    <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> http://baidu.com</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-submit">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <input type="hidden" name="cid" value="{{http.get('cate_id')}}">
                                    <button type="submit" target-form="form-horizontal" class="btn btn-primary ajax-post">保存</button>
                                    <button type="submit" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返回</button>
                                </div>
                            </div>
                        </form>
                            </div>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>

</section>


{% endblock %} {% block script %}
<script src="/static/admin/js/zTree/jquery.ztree.core-3.5.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8" src="/static/admin/js/udeitor/ueditor.config.js"></script>
<!--<script type="text/javascript" charset="utf-8" src="/static/admin/js/udeitor/ueditor.all.js"> </script>-->
<script type="text/javascript" charset="utf-8" src="/static/admin/js/udeitor/ueditor.all.min.js"> </script>
<script src="/static/admin/js/parsley/parsley.min.js"></script>
<script src="/static/admin/js/parsley/parsley.extend.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="/static/admin/js/udeitor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    <!--
    var zTree;
    var demoIframe;

    var setting = {
        async: {
            enable: true,
            url: "/admin/article/getmenu",
        },
        view: {
            showLine: true,
            selectedMulti: false,
        },
        callback: {
            onAsyncSuccess: zTreeOnAsyncSuccess

        }
    };

    function zTreeOnAsyncSuccess(event, treeId, treeNode, msg) {
        // console.log(treeNode)
        var treeObj = $.fn.zTree.getZTreeObj(treeId);
        treeObj.expandAll(true);
        var id= $("#"+treeId).attr("data-cate");
        console.log(id);
        curMenu = treeObj.getNodeByParam("id", id, null);
        console.log(treeId)
        treeObj.selectNode(curMenu);
    };
    function expandNode(e) {
        var zTree = $.fn.zTree.getZTreeObj("tree"),
                type = e.data.type,
                nodes = zTree.getSelectedNodes();
        if (type == "expandAll") {
            zTree.expandAll(true);
        } else if (type == "collapseAll") {
            zTree.expandAll(false);
        }
    }


    //-->
    $(function(){
        //左边菜单
        var t = $("#tree");
        t = $.fn.zTree.init(t, setting).expandAll(true);
        $("#expandAllBtn").bind("click", {type:"expandAll"}, expandNode);
        $("#collapseAllBtn").bind("click", {type:"collapseAll"}, expandNode);
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });

        <!-- 实例化编辑器 -->
        $(".ispct").click(function () {
            var t =  $(this).find("input").val();
            switch (parseInt(t)){
                case 0:
                    $(".sp_html_pc").show();
                    $(".sp_temp_pc").hide();
                    $(".pc_url").hide();
                    break;
                case 1:
                    $(".sp_html_pc").hide();
                    $(".sp_temp_pc").show();
                    $(".pc_url").hide();
                    break;
                case 2:
                    $(".sp_html_pc").hide();
                    $(".sp_temp_pc").hide();
                    $(".pc_url").show();
                    break;
            }

        })

        var ue =  UE.getEditor('Editor_sp_html_pc', {
            theme:"default", //皮肤
            lang:'zh-cn', //语言
            //serverUrl: '/admin/ueditor/index',
            //iframeCssUrl:'/static/assets/plugins/bootstrap/css/bootstrap.min.css'
        });
        ue.ready(function(){
            ue.addListener('updateSections', resetHandler);
        });

        var resetHandler = function(){
            var dirmap = {}, dir = ue.execCommand('getsections');

            // 更新目录树
            $('#directionContainer').html(traversal(dir) || null);
            // 删除章节按钮
            $('.deleteIcon').click(function(e){
                var $target = $(this),
                        address = $target.parent().attr('data-address');
                ue.execCommand('deletesection', dirmap[address]);
            });
            // 选中章节按钮
            $('.selectIcon').click(function(e){
                var $target = $(this),
                        address = $target.parent().attr('data-address');
                ue.execCommand('selectsection', dirmap[address], true);
            });
            // 章节上移
            $('.moveUp,.moveDown').click(function(e){
                var $target = $(this),
                        address = $target.parent().attr('data-address'),
                        moveUp = $target.hasClass('moveUp') ? true:false;
                if($target.hasClass('moveUp')) {
                    ue.execCommand('movesection', dirmap[address], dirmap[address].previousSection);
                } else {
                    ue.execCommand('movesection', dirmap[address], dirmap[address].nextSection, true);
                }
            });
            // 页面网上滚动时，让目录固定在顶部
            $(window).scroll(function(e) {
                if($('.left').offset().top < (document.body.scrollTop||document.documentElement.scrollTop)) {
                    $('#directionWrapper').addClass('fixTop');
                } else {
                    $('#directionWrapper').removeClass('fixTop');
                }
            });

            function traversal(section) {
                var $list, $item, $itemContent, child, childList;
                if(section.children.length) {
                    $list = $('<ul>');
                    for(var i = 0; i< section.children.length; i++) {
                        child = section.children[i];
                        //设置目录节点内容标签
                        var title = getSubStr(child['title'], 18);
                        $itemContent = $('<div class="sectionItem"></div>').html($('<span class="itemTitle">' + title + '</span>'));
                        $itemContent.attr('data-address', child['startAddress'].join(','));
                        $itemContent.append($('<span class="deleteIcon">删</span>' +
                                '<span class="selectIcon">选</span>' +
                                '<span class="moveUp">↑</span>' +
                                '<span class="moveDown">↓</span>'));
                        dirmap[child['startAddress'].join(',')] = child;
                        //设置目录节点容器标签
                        $item = $('<li>');
                        $item.append($itemContent);
                        //继续遍历子节点
                        if($item.children.length) {
                            childList = traversal(child);
                            childList && $item.append(childList);
                        }
                        $list.append($item);
                    }
                }
                return $list;
            }
        }

        function getSubStr(s,l){
            var i=0,len=0;
            for(i;i<s.length;i++){
                if(s.charAt(i).match(/[^\x00-\xff]/g)!=null){
                    len+=2;
                }else{
                    len++;
                }
                if(len>l){ break; }
            }return s.substr(0,i);
        };

    })
</script>



{% endblock %}}