<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body no-padder">
            <table class="table table-striped m-b-none">
                <thead>
                <tr>
                    <th>修改时间</th>
                    <th>修改者</th>
                    <th style="width:70px;">还原</th>
                </tr>
                </thead>
                <tbody>
                {%for item in list%}
                <tr>
                    <td>
                        {{item.baktime|dateformat('Y-m-d H:i:s')}}
                    </td>
                    <td>{{item.lastuser|get_nickname}}</td>
                    <td >

                            <a href="/admin/template/tempreply/?id={{item.id}}" class="confirm ajax-get text-info" ><i class="fa fa-reply"></i></a>

                    </td>
                </tr>
                {%endfor%}

                </tbody>
            </table>
        </div>
        <div class="modal-footer m-t-none">
            <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->