{% extends "./inc/base.html" %}
{% block style%}
<link rel="stylesheet" href="/static/admin/js/datatables/datatables.css" type="text/css"/>
{% endblock %}
{% block content %}
    <section class="hbox stretch">

        <aside id="asideres" class="aside-lg bg-light b-r hide">
            <div class="wrapper">
                <h4 class="m-t-none">新增用户 </h4>
                <form data-validate="" id="register">
                    <div class="form-group">
                        <label>用户名称 <i class="fa fa-info-sign text-xs text-muted">用户名会作为默认的昵称</i></label>
                        <input type="text" name="username" class="input-sm form-control" placeholder="用户名称" data-required="true" data-Remote="/admin/user/parsley">
                    </div>
                    <div class="form-group">
                        <label>密码 <i class="fa fa-info-sign text-xs text-muted">用户密码不能少于6位</i></label>
                        <input type="text" name="password" class="datepicker input-sm form-control" placeholder="密码" data-required="true" id="pwd">
                    </div>
                    <div class="form-group">
                        <label>确认密码</label>
                        <input type="text" class="input-sm form-control" placeholder="再输一次" data-equalto="#pwd" data-required="true">
                    </div>
                    <div class="form-group">
                        <label>邮箱 <i class="fa fa-info-sign text-xs text-muted">用户邮箱，用于找回密码等安全操作</i></label>
                        <input type="text" name="email" class="form-control" data-type="email" data-required="true"  data-Remote="/admin/user/parsley">
                    </div>
                    <div class="form-group" >
                        <label>用户类型 <i class="fa fa-info-sign text-xs text-muted">选择前台用户不能登陆后台管理。</i></label>
                        <div>
                            <label class="radio-inline i-checks">
                                <input type="radio" value="0" name="is_admin" checked><i></i> 前台
                            </label><label class="radio-inline i-checks">
                            <input type="radio" value="1" name="is_admin"><i></i> 后台
                        </label>
                            <div class="btn-group hide is_admin_group">
                                <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="dropdown-label">选择用户组</span>
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu dropdown-select">
                                    {%for val in role %}
                                    <li class=""><input type="radio" name="role_id" value="{{val.id}}"><a href="#">{{val.desc}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-lg"><button class="btn btn-lg btn-default" id="btn">添加用户</button></div>
                </form>
            </div>
        </aside>
    <aside>
    <section class="vbox">
        <header class="header bg-light dk">
            <div class="btn-group pull-right">
                <a href="#asideres" class="btn btn-sm btn-default" data-toggle="class:show">
                    <i class="fa fa-plus text"></i>
                    <span class="text">添加用户</span>
                    <i class="fa fa-minus text-active"></i>
                    <span class="text-active">添加完成</span>
                </a>
                <button class="btn btn-default btn-sm" type="button"><i class="fa fa-check-square-o"></i> 启用</button>
                <button class="btn btn-default btn-sm" type="button"><i class="fa fa-minus-square-o"></i> 禁用</button>
                <button class="btn btn-default btn-sm" type="button"><i class="fa fa-trash-o"></i> 删除</button>

            </div>
            <p>用户管理</p>
        </header>
        <section class="scrollable wrapper">

            <section class="panel panel-default">
                <header class="panel-heading">
                    用户列表
                    <i data-title="只有新增了字段，数据库表才会真正建立" data-placement="bottom" data-toggle="tooltip" class="fa fa-info-sign text-muted" data-original-title="" title=""><i class="fa fa-question-circle"></i></i>
                </header>
                <div class="row wrapper">

                    <div class="col-sm-9 m-b-xs">
                        <div class="">
                            <a class="btn btn-sm btn-info " href="/admin/model/add">
                                添加用户
                            </a>
                            <a class="btn btn-sm btn-info ajax-post" href="/admin/user/setstatus/status/1/model/member"  target-form="ids">
                                启用
                            </a>
                            <a class="btn btn-sm btn-info ajax-post" href="/admin/user/setstatus/status/0/model/member" target-form="ids">
                                禁用
                            </a>
                            <a class="btn btn-sm btn-info ajax-post confirm" href="/admin/user/userdel" target-form="ids">
                                删除
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group pull-right">
                            <input type="text" class="input-sm form-control" placeholder="Search">
                            <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button">Go!</button>
                      </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <thead>
                        <tr>
                            <th style="width:20px;"><label class="checkbox m-n i-checks"><input type="checkbox"><i></i></label></th>
                            <th >uid</th>
                            <th class="">用户名</th>
                            <th class="">邮箱</th>
                            <th class="">用户组</th>
                            <th class="">注册ip</th>
                            <th class="">最后登录</th>
                            <th class="">金钱总数</th>
                            <th class="">积分点数</th>
                            <th class="">状态</th>
                            <th >操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in list %}
                        {%set group=item.groupid|get_member_group%}
                        <tr>
                            <td><label class="checkbox m-n i-checks"><input class="ids" type="checkbox" name="ids" value="{%if item.id !=1%}{{item.id}}{%endif%}" {%if item.id==1%}disabled="true"{%endif%}><i></i></label></td>
                            <td>{{item.id}}</td>
                            <td><a href="#" class="text-info">{{item.username}} <i class="fa fa-search-plus"></i> </a> </td>
                            <td>{{item.email}}</td>
                            <td>{{group.name}}</td>
                            <td>{{item.reg_ip|int2ip}}</td>
                            <td>{{item.last_login_time | moment('YYYY-MM-DD HH:mm:ss')}}</td>
                            <td>{{item.amount}}</td>
                            <td>{{item.score}}</td>
                            <td>
                                <a href="/admin/user/setstatus/ids/{{item.id}}/status/{{1-item.status}}/model/member" class="active ajax-get" data-toggle="class">
                                    <i class="fa fa-check text-success {%if item.status %}text-active{%else%}text{%endif%}"></i>
                                    <i class="fa fa-times text-danger {%if item.status %}text{%else%}text-active{%endif%}"></i>
                                </a>
                            </td>

                            <td>
                                <a href="/admin/model/{%if item.extend==0%}{%if item.id==1%}edit{%else%}editext{%endif%}{%else%}edit{%endif%}?id={{item.id}}" class="text-info">编辑</a>
                                <a href="/admin/user/recharge/ids/{{item.id}}" class="text-info" data-toggle="ajaxModal">充值</a>
                                {%if item.id !=1%}
                                <a href="/admin/user/userdel?ids={{item.id}}" class="confirm ajax-get text-info">删除</a></td>
                            {%endif%}
                        </tr>
                        {% else %}
                        <tr><td colspan="7"><div class="alert alert-warning alert-block">
                            <button data-dismiss="alert" class="close" type="button">×</button>
                            <p>This would display if the 'item' collection were empty</p>
                        </div></td></tr>

                        {% endfor %}


                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">


                        <div class="col-sm-12 text-right text-center-xs">
                            {{pagerData | safe}}
                        </div>
                    </div>
                </footer>
            </section>
        </section>
    </section>
    </aside>
    </section>
{% endblock%}

{% block script%}
<script src="/static/admin/js/parsley/parsley.min.js"></script>
<script src="/static/admin/js/parsley/parsley.extend.js"></script>
{% endblock %}