.file-s-header{
    border-radius:6px 6px 0 0;
    overflow:hidden;
    border:0 none;
    margin-bottom:0px;
}
.file-s-sec-h{
    border-bottom:0px;
    padding:10px 15px;
}
.file-s-footer{
    margin-top:0px;
}























