{% extends "../inc/base.html" %} {% block content %}
<!-- 
				PAGE HEADER 
				
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
<section class="page-header page-header-xs">
    <div class="container">
        <!-- breadcrumbs -->
        <ol class="breadcrumb breadcrumb-inverse">
            <li><a href="#">首页</a></li>
            <li><a href="#">用户</a></li>
            <li class="active">用户中心</li>
        </ol>
        <!-- /breadcrumbs -->

    </div>
</section>
<!-- /PAGE HEADER -->




<!-- -->
			<section>
				<div class="container">
					
					<!-- LEFT -->
					{% include "../inc/user_left.html" %}
					<!-- RIGHT -->
					<div class="col-lg-9 col-md-9 col-sm-8">

						<!-- FLIP BOX -->
						<div class="box-flip box-icon box-icon-center box-icon-round box-icon-large text-center nomargin">
							<div class="front">
								<div class="box1 noradius">
									<div class="box-icon-title">
										<i class="fa fa-user"></i>
										<h2>尊敬的会员 <span class="text-danger">{{controller.user.username}}</span>  ，欢迎您！</h2>
									</div>
									<p>最后一次登录：{{controller.user.last_login_time|dateformat('Y-m-d H:i:s')}}</p>
								</div>
							</div>

							<div class="back">
								<div class="box2 noradius">
									<h4>WHO AM I?</h4>
									<hr />
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
								</div>
							</div>
						</div>
						<!-- /FLIP BOX -->


						<div class="box-light hide"><!-- .box-light OR .box-dark -->

							<div class="row">

								<!-- POPULAR POSTS -->
								<div class="col-md-6 col-sm-6">

									<div class="box-inner">
										<h3>
											<a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
											POPULAR POSTS
										</h3>
										<div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">

											<div class="clearfix margin-bottom-10"><!-- post item -->
												<img class="thumbnail pull-left" src="/static/assets/images/demo/people/300x300/b-min.jpg" width="60" height="60" alt="" />
												<h4 class="size-13 nomargin noborder nopadding"><a href="blog-single-default.html">Nullam Vitae Nibh Un Odiosters</a></h4>
												<span class="size-11 text-muted">June 29, 2015</span>
											</div><!-- /post item -->

											<div class="clearfix margin-bottom-10"><!-- post item -->
												<img class="thumbnail pull-left" src="/static/assets/images/demo/people/300x300/6-min.jpg" width="60" height="60" alt="" />
												<h4 class="size-13 nomargin noborder nopadding"><a href="blog-single-default.html">Nullam Vitae Nibh Un Odiosters</a></h4>
												<span class="size-11 text-muted">June 29, 2015</span>
											</div><!-- /post item -->

											<div class="clearfix margin-bottom-10"><!-- post item -->
												<img class="thumbnail pull-left" src="/static/assets/images/demo/people/300x300/d-min.jpg" width="60" height="60" alt="" />
												<h4 class="size-13 nomargin noborder nopadding"><a href="blog-single-default.html">Nullam Vitae Nibh Un Odiosters</a></h4>
												<span class="size-11 text-muted">June 29, 2015</span>
											</div><!-- /post item -->

											<div class="clearfix margin-bottom-10"><!-- post item -->
												<img class="thumbnail pull-left" src="/static/assets/images/demo/people/300x300/a-min.jpg" width="60" height="60" alt="" />
												<h4 class="size-13 nomargin noborder nopadding"><a href="blog-single-default.html">Nullam Vitae Nibh Un Odiosters</a></h4>
												<span class="size-11 text-muted">June 29, 2015</span>
											</div><!-- /post item -->

											<div class="clearfix margin-bottom-10"><!-- post item -->
												<img class="thumbnail pull-left" src="/static/assets/images/demo/people/300x300/5-min.jpg" width="60" height="60" alt="" />
												<h4 class="size-13 nomargin noborder nopadding"><a href="blog-single-default.html">Nullam Vitae Nibh Un Odiosters</a></h4>
												<span class="size-11 text-muted">June 29, 2015</span>
											</div><!-- /post item -->

										</div>
									</div>

									<div class="box-footer">
										<!-- INLINE SEARCH -->
										<div class="inline-search clearfix">
											<form action="#" method="get" class="widget_search nomargin">
												<input type="search" placeholder="Search Post..." name="s" class="serch-input">
												<button type="submit">
													<i class="fa fa-search"></i>
												</button>
												<div class="clear"></div>
											</form>
										</div>
										<!-- /INLINE SEARCH -->

									</div>

								</div>
								<!-- /POPULAR POSTS -->

								<!-- FRIENDS -->
								<div class="col-md-6 col-sm-6">

									<div class="box-inner">
										<h3>
											<a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
											FRIENDS
										</h3>
										<div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">

											<div class="clearfix margin-bottom-10"><!-- squared item -->
												<img class="thumbnail pull-left" src="assets/images/demo/people/300x300/1-min.jpg" width="40" height="40" alt="" />
												<h4 class="size-14 nomargin noborder nopadding bold"><a href="#">Joana Doe</a></h4>
												<span class="size-12 text-muted">Lorem ipsum dolor sit amet.</span>
											</div><!-- /squared item -->

											<div class="clearfix margin-bottom-10"><!-- rounded item -->
												<img class="thumbnail pull-left rounded" src="assets/images/demo/people/300x300/2-min.jpg" width="40" height="40" alt="" />
												<h4 class="size-14 nomargin noborder nopadding bold"><a href="#">Melissa Doe</a></h4>
												<span class="size-12 text-muted">Lorem ipsum dolor sit amet.</span>
											</div><!-- /rounded item -->

											<div class="clearfix margin-bottom-10"><!-- squared item -->
												<img class="thumbnail pull-left" src="assets/images/demo/people/300x300/3-min.jpg" width="40" height="40" alt="" />
												<h4 class="size-14 nomargin noborder nopadding bold"><a href="#">Felicia Doe</a></h4>
												<span class="size-12 text-muted">Lorem ipsum dolor sit amet.</span>
											</div><!-- /squared item -->

											<div class="clearfix margin-bottom-10"><!-- rounded item -->
												<img class="thumbnail pull-left rounded" src="assets/images/demo/people/300x300/4-min.jpg" width="40" height="40" alt="" />
												<h4 class="size-14 nomargin noborder nopadding bold"><a href="#">Suzana Doe</a></h4>
												<span class="size-12 text-muted">Lorem ipsum dolor sit amet.</span>
											</div><!-- /rounded item -->

											<div class="clearfix margin-bottom-10"><!-- squared item -->
												<img class="thumbnail pull-left" src="assets/images/demo/people/300x300/5-min.jpg" width="40" height="40" alt="" />
												<h4 class="size-14 nomargin noborder nopadding bold"><a href="#">Jolie Doe</a></h4>
												<span class="size-12 text-muted">Lorem ipsum dolor sit amet.</span>
											</div><!-- /squared item -->

										</div>
									</div>

									<div class="box-footer">
										<!-- INLINE SEARCH -->
										<div class="inline-search clearfix">
											<form action="#" method="get" class="widget_search nomargin">
												<input type="search" placeholder="Search Friend..." name="s" class="serch-input">
												<button type="submit">
													<i class="fa fa-search"></i>
												</button>
												<div class="clear"></div>
											</form>
										</div>
										<!-- /INLINE SEARCH -->

									</div>

								</div>
								<!-- /FRIENDS -->

							</div>


							<div class="row margin-top-30">

								<!-- DISCUSSIONS -->
								<div class="col-md-6 col-sm-6">

									<div class="box-inner">
										<h3>
											<a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
											DISCUSSIONS
										</h3>
										<div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">

											<div class="clearfix margin-bottom-20"><!-- discussion item -->
												<img class="thumbnail pull-left" src="assets/images/demo/people/300x300/3-min.jpg" width="60" height="60" alt="" />
												<h4 class="size-15 nomargin noborder nopadding bold"><a href="#">Joana Doe</a></h4>
												<span class="size-13 text-muted">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													<span class="text-success size-11">12 min. ago</span>
												</span>
											</div><!-- /discussion item -->

											<div class="clearfix margin-bottom-20"><!-- discussion item -->
												<img class="thumbnail pull-left" src="assets/images/demo/people/300x300/4-min.jpg" width="60" height="60" alt="" />
												<h4 class="size-15 nomargin noborder nopadding bold"><a href="#">Melissa Doe</a></h4>
												<span class="size-13 text-muted">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													<span class="text-success size-11">54 min. ago</span>
												</span>
											</div><!-- /discussion item -->

											<div class="clearfix margin-bottom-20"><!-- discussion item -->
												<img class="thumbnail pull-left" src="assets/images/demo/people/300x300/5-min.jpg" width="60" height="60" alt="" />
												<h4 class="size-15 nomargin noborder nopadding bold"><a href="#">juliet Doe</a></h4>
												<span class="size-13 text-muted">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													<span class="text-success size-11">8 days ago</span>
												</span>
											</div><!-- /discussion item -->

											<div class="clearfix margin-bottom-20"><!-- discussion item -->
												<img class="thumbnail pull-left" src="assets/images/demo/people/300x300/6-min.jpg" width="60" height="60" alt="" />
												<h4 class="size-15 nomargin noborder nopadding bold"><a href="#">Suanna Doe</a></h4>
												<span class="size-13 text-muted">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													<span class="text-success size-11">12 day ago</span>
												</span>
											</div><!-- /discussion item -->

											<div class="clearfix margin-bottom-20"><!-- discussion item -->
												<img class="thumbnail pull-left" src="assets/images/demo/people/300x300/7-min.jpg" width="60" height="60" alt="" />
												<h4 class="size-15 nomargin noborder nopadding bold"><a href="#">Felicia Doe</a></h4>
												<span class="size-13 text-muted">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													<span class="text-success size-11">1 month ago</span>
												</span>
											</div><!-- /discussion item -->

										</div>
									</div>

									<div class="box-footer">
										<!-- INLINE SEARCH -->
										<div class="inline-search clearfix">
											<form action="#" method="get" class="widget_search nomargin">
												<input type="search" placeholder="Search Discussion..." name="s" class="serch-input">
												<button type="submit">
													<i class="fa fa-search"></i>
												</button>
												<div class="clear"></div>
											</form>
										</div>
										<!-- /INLINE SEARCH -->

									</div>

								</div>
								<!-- /DISCUSSIONS -->

								<!-- NOTIFICATIONS -->
								<div class="col-md-6 col-sm-6">

									<div class="box-inner">
										<h3>
											<a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
											NOTIFICATIONS
										</h3>
										<div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">

											<div class="clearfix margin-bottom-20"><!-- notification item -->
												<span class="label label-success label-square pull-left">
													<i class="fa fa-comment"></i>
												</span>
												<span class="size-14 text-muted"><b>New Comment</b>: <a href="blog-single-default.html">Lorem ipsum Dolor</a></span>
											</div><!-- /notification item -->

											<div class="clearfix margin-bottom-20"><!-- notification item -->
												<span class="label label-danger label-square pull-left">
													<i class="glyphicon glyphicon-remove"></i>
												</span>
												<span class="size-14 text-muted"><b>Rejected</b>: <a href="#">Joana Doe</a> rejected friendship</span>
											</div><!-- /notification item -->

											<div class="clearfix margin-bottom-20"><!-- notification item -->
												<span class="label label-warning label-square pull-left">
													<i class="fa fa-warning"></i>
												</span>
												<span class="size-14 text-muted"><b>Warning</b>: Lorem ipsum Dolor</span>
											</div><!-- /notification item -->

											<div class="clearfix margin-bottom-20"><!-- notification item -->
												<span class="label label-info label-square pull-left">
													<i class="fa fa-info-circle"></i>
												</span>
												<span class="size-14 text-muted"><b>Info</b>: Lorem ipsum Dolor</span>
											</div><!-- /notification item -->

											<div class="clearfix margin-bottom-20"><!-- notification item -->
												<span class="label label-primary label-square pull-left">
													<i class="fa fa-check"></i>
												</span>
												<span class="size-14 text-muted"><b>Primary</b>: Lorem ipsum Dolor</span>
											</div><!-- /notification item -->

											<div class="clearfix margin-bottom-20"><!-- notification item -->
												<span class="label label-default label-square pull-left">
													<i class="fa fa-heart-o"></i>
												</span>
												<span class="size-14 text-muted"><b>Default</b>: Lorem ipsum Dolor</span>
											</div><!-- /notification item -->

											<div class="clearfix margin-bottom-20"><!-- notification item -->
												<span class="label label-purple label-square pull-left">
													<i class="fa fa-clock-o"></i>
												</span>
												<span class="size-14 text-muted"><b>Various</b>: Lorem ipsum Dolor</span>
											</div><!-- /notification item -->

										</div>
									</div>

									<div class="box-footer">
										<!-- INLINE SEARCH -->
										<div class="inline-search clearfix">
											<form action="#" method="get" class="widget_search nomargin">
												<input type="search" placeholder="Search notification..." name="s" class="serch-input">
												<button type="submit">
													<i class="fa fa-search"></i>
												</button>
												<div class="clear"></div>
											</form>
										</div>
										<!-- /INLINE SEARCH -->

									</div>

								</div>
								<!-- /NOTIFICATIONS -->

							</div>


						</div>


						<div class="box-light margin-top-20"><!-- .box-light OR .box-dark -->
							<div class="box-inner">
								<ul class="row clearfix testimonial-dotted list-unstyled">
									<li class="col-md-4">
										<div class="testimonial">
											<figure class="pull-left">
												<i class="ico-light ico-rounded ico-hover icon-wallet"></i>
											</figure>
											<div class="testimonial-content">
												<h5 class="margin-bottom-8">账户余额： </h5>
												￥98800.36
											</div>
										</div>
									</li>
									<li class="col-md-4">
										<div class="testimonial">
											<figure class="pull-left">
												<i class="ico-light ico-rounded ico-hover et-calendar"></i>
											</figure>
											<div class="testimonial-content">
												<h5 class="margin-bottom-8">订单交易总金额： </h5>
												￥107.64
											</div>
										</div>
									</li>
									<li class="col-md-4">
										<div class="testimonial">
											<figure class="pull-left">
												<i class="ico-light ico-rounded ico-hover icon-diamond"></i>
											</figure>
											<div class="testimonial-content">
												<h5 class="margin-bottom-8">我的积分： </h5>
												0

											</div>
										</div>
									</li>
									<li class="col-md-4">
										<div class="testimonial">
											<figure class="pull-left">
												<i class="ico-light ico-rounded ico-hover fa fa-star-half-full "></i>
											</figure>
											<div class="testimonial-content">
												<h5 class="margin-bottom-8">会员级别： </h5>
												普通会员
											</div>
										</div>
									</li>
									<li class="col-md-4">
										<div class="testimonial">
											<figure class="pull-left">
												<i class="ico-light ico-rounded ico-hover fa fa-hourglass-half"></i>
											</figure>
											<div class="testimonial-content">
												<h5 class="margin-bottom-8">进行中的订单： </h5>
												4
											</div>
										</div>
									</li>
									<li class="col-md-4">
										<div class="testimonial">
											<figure class="pull-left">
												<i class="ico-light ico-rounded ico-hover fa fa-balance-scale"></i>
											</figure>
											<div class="testimonial-content">
												<h5 class="margin-bottom-8">待评价的商品： </h5>
												0

											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>

					</div>
					
				</div>
			</section>
			<!-- / -->
{% endblock %}
{% block script %}

        {% endblock %}