{% extends "./inc/base.html" %}
{% block style %}
<script src="/static/admin/js/udeitor/ueditor.parse.min.js"></script>
<link href="/static/assets/css/layout-shop.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<!--
PAGE HEADER

CLASSES:
.page-header-xs	= 20px margins
.page-header-md	= 50px margins
.page-header-lg	= 80px margins
.page-header-xlg= 130px margins
.dark			= dark page header

.shadow-before-1 	= shadow 1 header top
.shadow-after-1 	= shadow 1 header bottom
.shadow-before-2 	= shadow 2 header top
.shadow-after-2 	= shadow 2 header bottom
.shadow-before-3 	= shadow 3 header top
.shadow-after-3 	= shadow 3 header bottom
-->
<section class="page-header  page-header-xs" >

    <div class="container">

        <h1>{{category.title}}</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb f-14">
            <li><a href="/">首页</a></li>
            {%for val in breadcrumb %}
            <li><a href="{{val.url}}">{{val.title}}</a></li>
            {% endfor %}
        </ol><!-- /breadcrumbs -->

        <!-- page tabs -->
        {%column data="cate",pid=category.pid%}
        {%if cate%}
        <ul class="page-header-tabs list-inline">

            <!--<li class="active"><a href="portfolio-masonry-3-columns.html">With Gutter</a></li>-->
            {%for val in cate%}
            <li  {%if val.id == category.id %}class="active"{%endif%}><a href="{{val.url}}">{{val.name}}</a></li>
            {%endfor%}
        </ul>
        {%endif%}<!-- /page tabs -->
    </div>
</section>
<!-- /PAGE HEADER -->
<!-- -->
<section>
    <div class="container">

        <div class="row">

            <!-- RIGHT -->
            <div class="col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
                <h1 class="blog-post-title size-18">{{info.title}}</h1>
                <hr>
                <div class="row">

                    <!-- IMAGE -->
                    <div class="col-lg-6 col-sm-6">
                        {% set pic = info.pics|strToArray%}
                        <div class="thumbnail relative margin-bottom-3 ">


                            <!--
                            IMAGE ZOOM

                            data-mode="mouseover|grab|click|toggle"
                            -->
                            <figure id="zoom-primary" class="zoom" data-mode="mouseover">
                                <!--
                                zoom buttton

                                positions available:
                                .bottom-right
                                .bottom-left
                                .top-right
                                .top-left
                                -->
                                <a class="lightbox bottom-right" href="{{pic[0]|get_pic('m=0')}}" data-plugin-options='{"type":"image"}'><i class="glyphicon glyphicon-search"></i></a>

                                <!--
                                image

                                Extra: add .image-bw class to force black and white!
                                -->
                                <img class="img-responsive" src="{{pic[0]|get_pic('m=1,w=800,h=800')}}"  alt="This is the product title" />
                            </figure>

                        </div>

                        <!-- Thumbnails (required height:100px) -->
                        {% if pic|length >1%}
                        <div data-for="zoom-primary" class="zoom-more owl-carousel owl-padding-3 featured"
                             data-plugin-options='{"singleItem": false, "autoPlay": false, "navigation": true, "pagination": false,"itemsMobile":[479,5]}'>
                            {%set i = 0%}
                            {% for val in pic%}
                            <a class="thumbnail {%if i == 0%}active{%endif%}" href="{{val|get_pic('m=1,w=800,h=800')}}">
                                <img src="{{val|get_pic('m=2,w=100,h=100')}}" height="100" alt="" />
                            </a>
                            {%set i=i+1%}
                            {% endfor %}

                        </div>
                        {% endif %}
                        <!-- /Thumbnails -->

                    </div>
                    <!-- /IMAGE -->

                    <!-- ITEM DESC -->
                    <div class="col-lg-6 col-sm-6">

                        <!-- buttons -->
                        <div class="pull-right">
                            <!-- replace data-item-id width the real item ID - used by js/view/demo.shop.js -->
                            <a class="btn btn-default add-wishlist" href="#" data-item-id="1" data-toggle="tooltip" title="Add To Wishlist"><i class="fa fa-heart nopadding"></i></a>
                            <a class="btn btn-default add-compare" href="#" data-item-id="1" data-toggle="tooltip" title="Add To Compare"><i class="fa fa-bar-chart-o nopadding" data-toggle="tooltip"></i></a>
                        </div>
                        <!-- /buttons -->

                        <!-- price -->
                        <div class="shop-item-price text-danger">
                            {% if info.price|get_price_format('2') %}<span class="line-through nopadding-left">¥{{info.price|get_price_format('2')}}</span>{%endif%}
                            ¥<price>{{info.price|get_price_format('1')}}</price>
                        </div>
                        <!-- /price -->

                        <hr />

                        <div class="clearfix margin-bottom-30" >
                            <div class="pull-right" id="stock">
                                {% if info.total_stock != 0%}

                                <span class=" text-success" ><i class="fa fa-check"></i> 有货 <span class="badge badge-aqua btn-xs ">{{info.total_stock}}</span></span>
                                {% else%}
                                <span class="pull-right text-danger"><i class="glyphicon glyphicon-remove"></i> 无货</span>
                                {% endif %}
                            </div>
                            <strong>商家编码:</strong> {{info.goods_no}}
                        </div>
                        {#
                        <hr />
                        <!-- countdown -->
                        <div class="text-center">
                            <h5>折扣时间</h5>
                            <div class="countdown" data-from="January 31, 2018 15:03:26" data-labels="年,月,周,天,时,分,秒"><!-- Example Date From: December 31, 2018 15:03:26 --></div>
                        </div>
                        <!-- /countdown -->
                        #}
                        <hr/>

                        <!-- FORM -->
                        <form class="clearfix form-inline nomargin ichecks"   data-icheck-info ="{{info.suk}}">
                            <!--{{info.suk}}-->
                            {% if info.suk %}
                            {% set suk = info.suk|strToJson%}
                            {% set i = 0 %}
                            {% for item in suk.type%}
                            <div class="icheck m-b clearfix shop-sku" >
                                <div class="item dt pull-left text-justify text-right">
                                    {{item}}:
                                </div>
                                <div class="itemnbox">
                                    {% if i == 0 %}
                                    {% for _item in suk.data %}
                                    <!--{{suk.data[0].name}}-->

                                    <div class="item">
                                        <input type="radio"  name="size1" value="{{_item.name}}" >
                                        <label >{%if suk.is_pic == 1%}<img class="m-r-xs" height="30" alt="" data-src="{{_item.pic|get_pic('m=1,w=800,h=800')}}" src="{{_item.pic|get_pic('m=2,w=30,h=30')}}">{%endif%}{{_item.name}}</label>
                                    </div>

                                    {% endfor %}

                                    {% elif i==1 %}
                                    {% for _item in suk.data[0].ch %}
                                    <!--{{suk.data[0].name}}-->
                                    <div class="item">
                                        <input type="radio"  name="size2" value="{{_item.name}}" >
                                        <label >{{_item.name}}</label>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    {% for _item in suk.data[0].ch[0].ch %}
                                    <!--{{suk.data[0].name}}-->
                                    <div class="item">
                                        <input type="radio"  name="size3" value="{{_item.name}}" >
                                        <label >{{_item.name}}</label>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            {% set i = i+1%}
                            {% endfor %}
                            <hr />
                            {% endif %}
                            <input type="hidden" name="product_id" value="{{info.id}}" />
                            <input type="hidden" id="type" name="type" value="" />
                            <!-- see assets/js/view/demo.shop.js -->

                            <input type="hidden" id="qty" name="qty" value="1" />

                            <!-- see assets/js/view/demo.shop.js -->
                            <div  id="out-of-stock" class="{% if info.total_stock != 0%}hide{% endif %}">

                                <!-- buttons -->
                                <div class="shop-item-buttons text-center ">
                                    <span class="out-of-stock">已售罄</span><!-- add .clean to remove css characteres -->
                                </div>
                                <!-- /buttons -->
                            </div>
                            <div id="in-of-stock" class="{% if info.total_stock == 0%}hide{% endif %}">
                                <div class="btn-group pull-left product-opt-qty {% if info.total_stock == 0%}hide{% endif %}">
                                    <button type="button" class="btn btn-default dropdown-toggle product-qty-dd noradius" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        数量 <small id="product-selected-qty">(<span>1</span>)</small>
                                    </button>

                                    <ul id="product-qty-dd" class="dropdown-menu clearfix" role="menu">
                                        <li class="active"><a data-val="1" href="#">1</a></li>
                                        <li><a data-val="2" href="#">2</a></li>
                                        <li><a data-val="3" href="#">3</a></li>
                                        <li><a data-val="4" href="#">4</a></li>
                                        <li><a data-val="5" href="#">5</a></li>
                                        <li><a data-val="6" href="#">6</a></li>
                                        <li><a data-val="7" href="#">7</a></li>
                                        <li><a data-val="8" href="#">8</a></li>
                                        <li><a data-val="9" href="#">9</a></li>
                                        <li><a data-val="10" href="#">10</a></li>
                                    </ul>
                                </div><!-- /btn-group -->

                                <button class="btn btn-danger pull-left product-add-cart noradius "> <i class="fa fa-cart-plus "></i> 添加到购物车</button>
                            </div>

                        </form>
                        <!-- /FORM -->


                        <hr />
                        {% if info.description %}
                        <!-- short description -->
                        <small class="text-muted">{{info.description}}</small>
                        <hr />
                        <!-- /short description -->
                        {% endif %}



                        <!-- Share -->
                        <div class="pull-right">

                            <a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>

                            <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>

                            <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>

                            <a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                                <i class="icon-linkedin"></i>
                                <i class="icon-linkedin"></i>
                            </a>

                        </div>
                        <!-- /Share -->


                        <!-- rating -->
                        <div class="rating rating-4 size-13 margin-top-10 width-100"><!-- rating-0 ... rating-5 --></div>
                        <!-- /rating -->

                    </div>
                    <!-- /ITEM DESC -->

                </div>



                <ul id="myTab" class="nav nav-tabs nav-top-border margin-top-40" role="tablist">
                    <li role="presentation" class="active"><a href="#description" role="tab" data-toggle="tab">商品介绍</a></li>
                    <li role="presentation"><a href="#specs" role="tab" data-toggle="tab">规格参数</a></li>
                    <li role="presentation"><a href="#reviews" role="tab" data-toggle="tab">商品评价 (2)</a></li>
                </ul>

                <div class="tab-content padding-top-20">
                    <!-- DESCRIPTION -->
                    <div role="tabpanel" class="tab-pane fade in active" id="description">
                        {{info.content[0]|safe}}
                    </div>

                    <!-- SPECIFICATIONS -->
                    <div role="tabpanel" class="tab-pane fade" id="specs">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Column name</th>
                                    <th>Column name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Size</td>
                                    <td>2XL</td>
                                </tr>
                                <tr>
                                    <td>Color</td>
                                    <td>Red</td>
                                </tr>
                                <tr>
                                    <td>Weight</td>
                                    <td>132lbs</td>
                                </tr>
                                <tr>
                                    <td>Height</td>
                                    <td>74cm</td>
                                </tr>
                                <tr>
                                    <td>Bluetooth</td>
                                    <td><i class="fa fa-check text-success"></i> YES</td>
                                </tr>
                                <tr>
                                    <td>Wi-Fi</td>
                                    <td><i class="glyphicon glyphicon-remove text-danger"></i> NO</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- REVIEWS -->
                    <div role="tabpanel" class="tab-pane fade" id="reviews">
                        <!-- REVIEW ITEM -->
                        <div class="block margin-bottom-60">

<span class="user-avatar"><ucuser-avatar -->
<img class="pull-left media-object" src="/static/assets/images//avatar2.jpg" width="64" height="64" alt="">
</span>

                            <div class="media-body">
                                <h4 class="media-heading size-14">
                                    John Doe &ndash;
                                    <span class="text-muted">June 29, 2014 - 11:23</span> &ndash;
                                    <span class="size-14 text-muted"><!-- stars -->
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
</span>
                                </h4>

                                <p>
                                    Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.
                                </p>

                            </div>

                        </div>
                        <!-- /REVIEW ITEM -->

                        <!-- REVIEW ITEM -->
                        <div class="block margin-bottom-60">

<span class="user-avatar"><ucuser-avatar -->
<img class="pull-left media-object" src="/static/assets/images//avatar2.jpg" width="64" height="64" alt="">
</span>

                            <div class="media-body">
                                <h4 class="media-heading size-14">
                                    John Doe &ndash;
                                    <span class="text-muted">June 29, 2014 - 11:23</span> &ndash;
                                    <span class="size-14 text-muted"><!-- stars -->
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
<i class="fa fa-star-o"></i>
</span>
                                </h4>

                                <p>
                                    Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.
                                </p>

                            </div>

                        </div>
                        <!-- /REVIEW ITEM -->


                        <!-- REVIEW FORM -->
                        <h4 class="page-header margin-bottom-40">ADD A REVIEW</h4>
                        <form method="post" action="#" id="form">

                            <div class="row margin-bottom-10">

                                <div class="col-md-6 margin-bottom-10">
                                    <!-- Name -->
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Name *" maxlength="100" required="">
                                </div>

                                <div class="col-md-6">
                                    <!-- Email -->
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email *" maxlength="100" required="">
                                </div>

                            </div>

                            <!-- Comment -->
                            <div class="margin-bottom-30">
                                <textarea name="text" id="text" class="form-control" rows="6" placeholder="Comment" maxlength="1000"></textarea>
                            </div>

                            <!-- Stars -->
                            <div class="product-star-vote clearfix">

                                <label class="radio pull-left">
                                    <input type="radio" name="product-review-vote" value="1" />
                                    <i></i> 1 Star
                                </label>

                                <label class="radio pull-left">
                                    <input type="radio" name="product-review-vote" value="2" />
                                    <i></i> 2 Stars
                                </label>

                                <label class="radio pull-left">
                                    <input type="radio" name="product-review-vote" value="3" />
                                    <i></i> 3 Stars
                                </label>

                                <label class="radio pull-left">
                                    <input type="radio" name="product-review-vote" value="4" />
                                    <i></i> 4 Stars
                                </label>

                                <label class="radio pull-left">
                                    <input type="radio" name="product-review-vote" value="5" />
                                    <i></i> 5 Stars
                                </label>

                            </div>

                            <!-- Send Button -->
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Send Review</button>

                        </form>
                        <!-- /REVIEW FORM -->

                    </div>
                </div>


                <hr class="margin-top-80 margin-bottom-80" />


                <h2 class="owl-featured"><strong>Related</strong> products:</h2>
                <div class="owl-carousel featured nomargin owl-padding-10" data-plugin-options='{"singleItem": false, "items": "4", "stopOnHover":false, "autoPlay":4500, "autoHeight": false, "navigation": true, "pagination": false}'>

                    <!-- item -->
                    <div class="shop-item nomargin">

                        <div class="thumbnail">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-responsive" src="/static/assets/images//demo/shop/products/300x450/p13.jpg" alt="shop first image" />
                                <img class="img-responsive" src="/static/assets/images//demo/shop/products/300x450/p14.jpg" alt="shop hover image" />
                            </a>
                            <!-- /product image(s) -->

                            <!-- product more info -->
                            <div class="shop-item-info">
                                <span class="label label-success">NEW</span>
                                <span class="label label-danger">SALE</span>
                            </div>
                            <!-- /product more info -->
                        </div>

                        <div class="shop-item-summary text-center">
                            <h2>Cotton 100% - Pink Shirt</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 size-13"><!-- rating-0 ... rating-5 --></div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                <span class="line-through">$98.00</span>
                                $78.00
                            </div>
                            <!-- /price -->
                        </div>

                        <!-- buttons -->
                        <div class="shop-item-buttons text-center">
                            <a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                        </div>
                        <!-- /buttons -->
                    </div>
                    <!-- /item -->

                    <!-- item -->
                    <div class="shop-item nomargin">

                        <div class="thumbnail">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <!-- CAROUSEL -->
                                <div class="owl-carousel owl-padding-0 nomargin" data-plugin-options='{"singleItem": true, "autoPlay": 3000, "navigation": false, "pagination": false, "transitionStyle":"fadeUp"}'>
                                    <img class="img-responsive" src="/static/assets/images//demo/shop/products/300x450/p5.jpg" alt="">
                                    <img class="img-responsive" src="/static/assets/images//demo/shop/products/300x450/p1.jpg" alt="">
                                </div>
                                <!-- /CAROUSEL -->
                            </a>
                            <!-- /product image(s) -->
                        </div>

                        <div class="shop-item-summary text-center">
                            <h2>Pink Dress 100% Cotton</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 size-13"><!-- rating-0 ... rating-5 --></div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                $44.00
                            </div>
                            <!-- /price -->
                        </div>

                        <!-- buttons -->
                        <div class="shop-item-buttons text-center">
                            <a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                        </div>
                        <!-- /buttons -->
                    </div>
                    <!-- /item -->

                    <!-- item -->
                    <div class="shop-item nomargin">

                        <div class="thumbnail">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-responsive" src="/static/assets/images//demo/shop/products/300x450/p2.jpg" alt="shop first image" />
                                <img class="img-responsive" src="/static/assets/images//demo/shop/products/300x450/p12.jpg" alt="shop hover image" />
                            </a>
                            <!-- /product image(s) -->

                            <!-- product more info -->
                            <div class="shop-item-info">
                                <span class="label label-success">NEW</span>
                                <span class="label label-danger">SALE</span>
                            </div>
                            <!-- /product more info -->
                        </div>

                        <div class="shop-item-summary text-center">
                            <h2>Black Fashion Hat</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 size-13"><!-- rating-0 ... rating-5 --></div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                <span class="line-through">$77.00</span>
                                $65.00
                            </div>
                            <!-- /price -->
                        </div>

                        <!-- buttons -->
                        <div class="shop-item-buttons text-center">
                            <a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                        </div>
                        <!-- /buttons -->
                    </div>
                    <!-- /item -->

                    <!-- item -->
                    <div class="shop-item nomargin">

                        <div class="thumbnail">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-responsive" src="/static/assets/images//demo/shop/products/300x450/p8.jpg" alt="shop first image" />
                            </a>
                            <!-- /product image(s) -->

                            <!-- countdown -->
                            <div class="shop-item-counter">
                                <div class="countdown" data-from="December 31, 2017 08:22:01" data-labels="years,months,weeks,days,hour,min,sec"><!-- Example Date From: December 31, 2018 15:03:26 --></div>
                            </div>
                            <!-- /countdown -->
                        </div>

                        <div class="shop-item-summary text-center">
                            <h2>Beach Black Lady Suit</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 size-13"><!-- rating-0 ... rating-5 --></div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                $56.00
                            </div>
                            <!-- /price -->
                        </div>

                        <!-- buttons -->
                        <div class="shop-item-buttons text-center">
                            <a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                        </div>
                        <!-- /buttons -->
                    </div>
                    <!-- /item -->

                    <!-- item -->
                    <div class="shop-item nomargin">

                        <div class="thumbnail">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-responsive" src="/static/assets/images//demo/shop/products/300x450/p7.jpg" alt="shop first image" />
                            </a>
                            <!-- /product image(s) -->
                        </div>

                        <div class="shop-item-summary text-center">
                            <h2>Town Dress - Black</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 size-13"><!-- rating-0 ... rating-5 --></div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                $154.00
                            </div>
                            <!-- /price -->
                        </div>

                        <!-- buttons -->
                        <div class="shop-item-buttons text-center">
                            <a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                        </div>
                        <!-- /buttons -->
                    </div>
                    <!-- /item -->

                    <!-- item -->
                    <div class="shop-item nomargin">

                        <div class="thumbnail">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-responsive" src="/static/assets/images//demo/shop/products/300x450/p6.jpg" alt="shop first image" />
                                <img class="img-responsive" src="/static/assets/images//demo/shop/products/300x450/p14.jpg" alt="shop hover image" />
                            </a>
                            <!-- /product image(s) -->
                        </div>

                        <div class="shop-item-summary text-center">
                            <h2>Chick Lady Fashion</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 size-13"><!-- rating-0 ... rating-5 --></div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                $167.00
                            </div>
                            <!-- /price -->
                        </div>

                        <!-- buttons -->
                        <div class="shop-item-buttons text-center">
                            <a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                        </div>
                        <!-- /buttons -->
                    </div>
                    <!-- /item -->

                    <!-- item -->
                    <div class="shop-item nomargin">

                        <div class="thumbnail">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-responsive" src="/static/assets/images//demo/shop/products/300x450/p11.jpg" alt="shop hover image" />
                                <img class="img-responsive" src="/static/assets/images//demo/shop/products/300x450/p3.jpg" alt="shop first image" />
                            </a>
                            <!-- /product image(s) -->
                        </div>

                        <div class="shop-item-summary text-center">
                            <h2>Black Long Lady Shirt</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-0 size-13"><!-- rating-0 ... rating-5 --></div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                $128.00
                            </div>
                            <!-- /price -->
                        </div>

                        <!-- buttons -->
                        <div class="shop-item-buttons text-center">
                            <a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                        </div>
                        <!-- /buttons -->
                    </div>
                    <!-- /item -->

                </div>

            </div>


            <!-- LEFT -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-lg-pull-9 col-md-pull-9 col-sm-pull-9">

                <!-- CATEGORIES -->
                <div class="side-nav margin-bottom-60">

                    <div class="side-nav-head">
                        <button class="fa fa-bars"></button>
                        <h4>商城分类</h4>
                    </div>

                    <ul class="list-group list-group-bordered list-group-noicon uppercase">
                        {% column data="list",tree=breadcrumb[0].id %}
                        {% for val in list %}
                        <li class="list-group-item {%if breadcrumb[1].id == val.id%} active {%endif%}">
                            <a  {% if val.children %}class="dropdown-toggle"{%endif%} href="{{val.title}}">{{val.name}}</a>
                            {% if val.children %}
                            <ul>
                                {% for _val in val.children %}
                                <li {%if breadcrumb[2].id == _val.id%}class="active" {%endif%}><a href="{{_val.url}}"><span class="size-11 text-muted pull-right">(123)</span> {{_val.name}}</a></li>
                                {%endfor%}

                            </ul>
                            {%endif%}
                        </li>
                        {%endfor%}

                    </ul>

                </div>
                <!-- /CATEGORIES -->


                <!-- BANNER ROTATOR -->
                <div class="owl-carousel buttons-autohide controlls-over margin-bottom-60 text-center" data-plugin-options='{"singleItem": true, "autoPlay": 4000, "navigation": true, "pagination": false, "transitionStyle":"fadeUp"}'>
                    <a href="#">
                        <img class="img-responsive" src="/static/assets/images//demo/shop/banners/off_1.png" width="270" height="350" alt="">
                    </a>
                    <a href="#">
                        <img class="img-responsive" src="/static/assets/images//demo/shop/banners/off_2.png" width="270" height="350" alt="">
                    </a>
                </div>
                <!-- /BANNER ROTATOR -->


                <!-- FEATURED -->
                <div class="margin-bottom-60">

                    <h2 class="owl-featured">FEATURED</h2>
                    <div class="owl-carousel featured" data-plugin-options='{"singleItem": true, "stopOnHover":false, "autoPlay":false, "autoHeight": false, "navigation": true, "pagination": false}'>

                        <div><!-- SLIDE 1 -->
                            <ul class="list-unstyled nomargin nopadding text-left">

                                <li class="clearfix"><!-- item -->
                                    <div class="thumbnail featured clearfix pull-left">
                                        <a href="#">
                                            <img src="/static/assets/images//demo/shop/products/100x100/p10.jpg" width="80" height="80" alt="featured item">
                                        </a>
                                    </div>

                                    <a class="block size-12" href="#">Long Grey Dress - Special</a>
                                    <div class="rating rating-4 size-13 width-100 text-left"><!-- rating-0 ... rating-5 --></div>
                                    <div class="size-18 text-left">$132.00</div>
                                </li><!-- /item -->

                                <li class="clearfix"><!-- item -->
                                    <div class="thumbnail featured clearfix pull-left">
                                        <a href="#">
                                            <img src="/static/assets/images//demo/shop/products/100x100/p2.jpg" width="80" height="80" alt="featured item">
                                        </a>
                                    </div>

                                    <a class="block size-1" href="#">Black Fashion Hat</a>
                                    <div class="rating rating-4 size-13 width-100 text-left"><!-- rating-0 ... rating-5 --></div>
                                    <div class="size-18 text-left">$65.00</div>
                                </li><!-- /item -->

                                <li class="clearfix"><!-- item -->
                                    <div class="thumbnail featured clearfix pull-left">
                                        <a href="#">
                                            <img src="/static/assets/images//demo/shop/products/100x100/p13.jpg" width="80" height="80" alt="featured item">
                                        </a>
                                    </div>

                                    <a class="block size-1" href="#">Cotton 100% - Pink Dress</a>
                                    <div class="rating rating-4 size-13 width-100 text-left"><!-- rating-0 ... rating-5 --></div>
                                    <div class="size-18 text-left">$77.00</div>
                                </li><!-- /item -->

                            </ul>
                        </div><!-- /SLIDE 1 -->

                        <div><!-- SLIDE 2 -->
                            <ul class="list-unstyled nomargin nopadding text-left">

                                <li class="clearfix"><!-- item -->
                                    <div class="thumbnail featured clearfix pull-left">
                                        <a href="#">
                                            <img src="/static/assets/images//demo/shop/products/100x100/p12.jpg" width="80" height="80" alt="featured item">
                                        </a>
                                    </div>

                                    <a class="block size-12" href="#">Long Grey Dress - Special</a>
                                    <div class="rating rating-4 size-13 width-100 text-left"><!-- rating-0 ... rating-5 --></div>
                                    <div class="size-18 text-left">$132.00</div>
                                </li><!-- /item -->

                                <li class="clearfix"><!-- item -->
                                    <div class="thumbnail featured clearfix pull-left">
                                        <a href="#">
                                            <img src="/static/assets/images//demo/shop/products/100x100/p6.jpg" width="80" height="80" alt="featured item">
                                        </a>
                                    </div>

                                    <a class="block size-1" href="#">Black Fashion Hat</a>
                                    <div class="rating rating-4 size-13 width-100 text-left"><!-- rating-0 ... rating-5 --></div>
                                    <div class="size-18 text-left">$65.00</div>
                                </li><!-- /item -->

                                <li class="clearfix"><!-- item -->
                                    <div class="thumbnail featured clearfix pull-left">
                                        <a href="#">
                                            <img src="/static/assets/images//demo/shop/products/100x100/p14.jpg" width="80" height="80" alt="featured item">
                                        </a>
                                    </div>

                                    <a class="block size-1" href="#">Cotton 100% - Pink Dress</a>
                                    <div class="rating rating-4 size-13 width-100 text-left"><!-- rating-0 ... rating-5 --></div>
                                    <div class="size-18 text-left">$77.00</div>
                                </li><!-- /item -->

                            </ul>
                        </div><!-- /SLIDE 2 -->

                    </div>

                </div>
                <!-- /FEATURED -->


                <!-- HTML BLOCK -->
                <div class="margin-bottom-60">
                    <h4>HTML BLOCK</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non placerat mi. Etiam non tellus eunit.</p>

                    <form action="#" role="form" method="post">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" name="email" class="form-control" placeholder="Enter your Email" required="required">
                            <span class="input-group-btn">
<button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-send"></i></button>
</span>
                        </div>
                    </form>

                </div>
                <!-- /HTML BLOCK -->

            </div>

        </div>

    </div>
</section>
<!-- / -->
{% endblock %}

{% block script %}
<script>
    uParse('#content', {
        rootPath: '/static/admin/js/udeitor/'
    })
</script>

<!-- PAGE LEVEL SCRIPTS -->
<script type="text/javascript" src="/static/assets/js/view/demo.shop.js"></script>
{% endblock %}
