
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1472787297'); /* IE9*/
  src: url('iconfont.eot?t=1472787297#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1472787297') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1472787297') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1472787297#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-person2:before { content: "\e601"; }
.icon-youhuiquanwenzi:before { content: "\e602"; }
.icon-community:before { content: "\e603"; }
.icon-shangjia:before { content: "\e604"; }
.icon-fasongxinxi:before { content: "\e605"; }
.icon-wenbenbianji:before { content: "\e606"; }
.icon-jiahao1:before { content: "\e607"; }
.icon-gouwuche:before { content: "\e608"; }
.icon-gouwudai:before { content: "\e609"; }
.icon-shouye:before { content: "\e60a"; }
.icon-sousuo:before { content: "\e60b"; }
.icon-wode:before { content: "\e60c"; }
.icon-yonghu:before { content: "\e60d"; }
