/**	HOME - MODAL ON LOAD
 **************************************************************** **/
.group{
	display: block !important;
    padding-top: 6px;
	border-bottom: 1px solid #ddd;
	background-color: rgba(0,0,0,0.03);
}
.timeline .timeline-entry{
	top:46px;
}
.timeline>.timeline-hline{
	border-left: rgba(0,0,0,0.06) 1px solid;
}
.timeline .timeline-entry>.timeline-vline{
	border-top: 1px dotted #eaeaea;
}
h1.blog-post-title, .blog-post-item h2{
	height: 24px;
}
ul.blog-post-info{
	height: 33px;
}
.blog-post-info>li+li:before {
	content: "•";
}
ul.blog-post-info li{
	margin: 0;
	padding: 0;
}
ul.blog-post-info li>a {
	color: #333;
}
ul.blog-post-info li>span {
	color: #888;
}
img.pull-left{
	margin-right: 10px;
}
.wangEditor-menu-container .menu-item {
	width: 26.5px !important;
}
.panel-footer .wangEditor-container,.panel-body .wangEditor-container {
	border: none;
}
.wangEditor-menu-container .menu-group:last-child{
	border: none;
}
.wangEditor-menu-container .menu-item a {
	font-size: 1em !important;
}
div.tagsinput {
	overflow-y: hidden !important;
}
.panel-footer div.tagsinput{
	border: none;
}
.wangEditor-drop-panel select{
	height: auto !important;
}
.box-icon{
	border: #ddd 1px solid;
}
.box-icon.active{
	border: #1087dd 1px solid;
}
/*.bg-grey .box-icon.active{*/
	/*border: #F07057 1px solid;*/
/*}*/
.box-icon.box-icon-transparent .box-icon-title>i{
	border: #ddd 2px solid;
}
.box-icon.box-icon-transparent.active .box-icon-title>i{
	border: #1087dd 2px solid;
}

#group >button{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-right: -1px;
}
.wangEditor-container .wangEditor-txt pre{
	font-size: 1em !important;
}
.cmswing-container .wangEditor-txt img {
	cursor: auto !important;
}
/*#eaeaea 1px dotted;*/
.question .comment-body{
	border-left: 1px solid rgba(0,0,0,0.07);
	margin-left: 60px;
	padding-left: 10px !important;
	margin-top: -15px;
	padding-top: 10px;
}
.question li.comment img.avatar {
	left: 0;
	top: 10px;
}
.question .list-inline{
	border-top: 1px solid rgba(0,0,0,0.07);
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 -15px;
}
.question .comment-author{
	border-bottom: 1px solid rgba(0,0,0,0.07);
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -10px;
	margin-right: -15px;
}
.question .comment-reply .comment-body{
	margin-top: -6px;
	padding-bottom: 10px;
}
.question .comment-reply .comment-author{
	margin-right: -6px
}
.question .comment-reply .list-inline{
	padding-top: 10px;
	margin: 0 -6px;
}
.question  li.comment-reply img.avatar {
	left: 8px;
}