/** RESTAURANT 
	home-theme-restaurant.html
 ********************************************* **/
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);

.font-khausan-script {
	font-family: "Kaushan Script" !important;
}
.slider .font-khausan-script {
	font-size:100px;
	text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}
ul>li.restaurant-menu-item .thumbnail {
	margin-right:10px;
}









