</section>
</section>
</section>
<script src="/static/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/js/bootstrap.js"></script>
<!-- App -->
<script src="/static/js/app.js"></script>
<script src="/static/js/slimscroll/jquery.slimscroll.min.js"></script>

<script src="/static/js/app.plugin.js"></script>
<script type="text/javascript" src="/static/js/jPlayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/static/js/jPlayer/add-on/jplayer.playlist.min.js"></script>
<script type="text/javascript" src="/static/js/jPlayer/demo.js"></script>
</body>
</html>