<aside class="aside bg-light dk" id="sidebar">

    <section class="vbox">
        <section class="scrollable hover">
            <section class="panel panel-success m-b-none">
                <header class="panel-heading">

                    <button class="btn btn-default btn-xs" id="expandAllBtn" type="button">展开</button>
                    <button class="btn btn-default btn-xs" id="collapseAllBtn" type="button">折叠</button>
                </header>
            </section>
            <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto ">

                <ul id="tree" class="ztree" data-cate="{{controller.get('cate_id')}}"></ul>
            </div>
        </section>
    </section>
</aside>