<!-- .aside -->
<aside class="<%= bg %> dk aside hidden-print <% if(navxs){ %> nav-xs <% } %>" id="nav">
    <section class="vbox">
        <section class="scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0"
                 data-size="10px" data-railOpacity="0.2">


                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                    <footer class="footer hidden-xs no-padder text-center-nav-xs">
                        <div class="bg hidden-xs ">
                            <div class="dropdown  wrapper-sm clearfix">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="thumb-sm avatar pull-left m-l-xs">
                        <img src="/static/img/a3.png" class="dker" alt="...">
                        <i class="on b-black"></i>
                      </span>
                      <span class="hidden-nav-xs clear">
                        <span class="block m-l">
                          <strong class="font-bold text-lt">微信公共账号</strong>
                          <b class="caret"></b>
                        </span>
                        <span class="text-muted text-xs block m-l">账号类型</span>
                      </span>
                                </a>
                                <ul class="dropdown-menu animated fadeInRight aside text-left">
                                    <li>
                                        <span class="arrow top hidden-nav-xs"></span>
                                        <a href="/admin/mp/index">公共账号设置</a>
                                    </li>
                                    <li>
                                        <a href="profile.html">群发功能</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="badge bg-danger pull-right">3</span>
                                            消息管理
                                        </a>
                                    </li>
                                    <li>
                                        <a href="docs.html">自动回复</a>
                                    </li>
                                    <li>
                                        <a href="docs.html">自定义菜单</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="modal.lockme.html" data-toggle="ajaxModal">更多功能</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </footer>
                    <!--<ul class="nav bg clearfix">-->
                    <!--<li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">-->
                    <!--微信-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="index.html">-->
                    <!--<i class="icon-wrench  icon text-success"></i>-->
                    <!--<span class="font-bold">微信管理</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="genres.html">-->
                    <!--<i class="icon-settings icon text-info"></i>-->
                    <!--<span class="font-bold">微信设置</span>-->
                    <!--</a>-->
                    <!--</li>-->

                    <!--<li class="m-b hidden-nav-xs"></li>-->
                    <!--</ul>-->
                    <ul class="nav" data-ride="collapse">
                        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                            <span class="pull-right"><a href="#"><i class="icon-plus i-lg"></i></a></span>
                            功能
                        </li>
                        <li>
                            <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-angle-left text"></i>
                          <i class="fa fa-angle-down text-active"></i>
                        </span>
                                <i class="icon-screen-desktop icon">
                                </i>
                                <span>微砍价</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <li>
                                    <a href="layout-color.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Color option</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="layout-boxed.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Boxed layout</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="layout-fluid.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Fluid layout</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-angle-left text"></i>
                          <i class="fa fa-angle-down text-active"></i>
                        </span>
                                <i class="icon-chemistry icon">
                                </i>
                                <span>UI Kit</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <li>
                                    <a href="buttons.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Buttons</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="icons.html" class="auto">
                                        <b class="badge bg-info pull-right">369</b>
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Icons</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.weidea.net" class="auto">
                                        <b class="badge bg-info pull-right">369</b>
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>More</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="grid.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Grid</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="widgets.html" class="auto">
                                        <b class="badge bg-dark pull-right">8</b>
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Widgets</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="components.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Components</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="list.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>List group</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#table" class="auto">
                            <span class="pull-right text-muted">
                              <i class="fa fa-angle-left text"></i>
                              <i class="fa fa-angle-down text-active"></i>
                            </span>
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Table</span>
                                    </a>
                                    <ul class="nav dker">
                                        <li>
                                            <a href="table-static.html">
                                                <i class="fa fa-angle-right"></i>
                                                <span>Table static</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="table-datatable.html">
                                                <i class="fa fa-angle-right"></i>
                                                <span>Datatable</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#form" class="auto">
                            <span class="pull-right text-muted">
                              <i class="fa fa-angle-left text"></i>
                              <i class="fa fa-angle-down text-active"></i>
                            </span>
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Form</span>
                                    </a>
                                    <ul class="nav dker">
                                        <li>
                                            <a href="form-elements.html">
                                                <i class="fa fa-angle-right"></i>
                                                <span>Form elements</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="form-validation.html">
                                                <i class="fa fa-angle-right"></i>
                                                <span>Form validation</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="form-wizard.html">
                                                <i class="fa fa-angle-right"></i>
                                                <span>Form wizard</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="chart.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Chart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="portlet.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Portlet</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="timeline.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Timeline</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-angle-left text"></i>
                          <i class="fa fa-angle-down text-active"></i>
                        </span>
                                <i class="icon-grid icon">
                                </i>
                                <span>Pages</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <li>
                                    <a href="profile.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="blog.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Blog</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="invoice.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Invoice</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="gmap.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Google Map</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="jvectormap.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Vector Map</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="signin.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Signin</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="signup.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>Signup</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="404.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>404</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav text-sm" data-ride="collapse">
                        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                            <!--<span class="pull-right"><a href="#"><i class="icon-plus i-lg"></i></a></span>-->
                            系统
                        </li>
                        <% if(tactive=="/admin/user"){ %><li class="active" ><% }else{ %><li><%}%>
                            <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-angle-left text"></i>
                          <i class="fa fa-angle-down text-active"></i>
                        </span>
                                <i class="icon-user icon">
                                </i>
                                <span>用户管理</span>
                            </a>
                            <ul class="nav dk text-sm">
                                <% if(active=="/admin/user/index"){ %><li class="active" ><% }else{ %><li><%}%>
                                    <a href="/admin/user/index" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>用户列表</span>
                                    </a>
                                </li>
                                <% if(active=="/admin/user/auth"){ %><li class="active" ><% }else{ %><li><%}%>
                                    <a href="/admin/user/auth" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>权限管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="layout-fluid.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>用户行为</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="layout-fluid.html" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>行为日志</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">
                                <i class=" icon-settings icon text-success-lter"></i>
                                <b class="badge bg-success dker pull-right">9</b>
                                <span>系统设置</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- / nav -->
            </div>
        </section>


    </section>
</aside>
<!-- /.aside -->