<aside class="aside bg-light dk" id="sidebar">
    <section class="vbox animated fadeInUp">
        <section class="scrollable hover">
            <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                {% for i, v in config.setup.MENU_GROUP%}
                        {% if  i == 99  %}
                <!--<a href="genres.html" class="list-group-item">
                    {{ v }}
                </a>-->
                  {% for v in controller.adminmenu[i] %}
                      
                <a href="/{{v.url}}" class="list-group-item  {% if controller.active == v.url %} active {% endif %}">
                    {{v.title}}
                </a>
                {% for c in v.children %}
                                
                <a href="/{{c.url}}" class="list-group-item {% if controller.active == c.url %} active {% endif %}">
               
                  {{c.title}}
                </a>
                {% endfor%}
                {% endfor%}
                        {% endif %}
                        {% endfor %}
                <!--<a href="genres.html" class="list-group-item">
                    blues
                </a>
                <a href="genres.html" class="list-group-item">
                    classical
                </a>
                <a href="genres.html" class="list-group-item">
                    country
                </a>
                <a href="genres.html" class="list-group-item">
                    electronic
                </a>
                <a href="genres.html" class="list-group-item">
                    emo
                </a>
                <a href="genres.html" class="list-group-item">
                    folk
                </a>
                <a href="genres.html" class="list-group-item">
                    hardcore
                </a>
                <a href="genres.html" class="list-group-item">
                    hip hop
                </a>
                <a href="genres.html" class="list-group-item">
                    indie
                </a>
                <a href="genres.html" class="list-group-item">
                    jazz
                </a>
                <a href="genres.html" class="list-group-item">
                    latin
                </a>
                <a href="genres.html" class="list-group-item">
                    metal
                </a>
                <a href="genres.html" class="list-group-item">
                    pop
                </a>
                <a href="genres.html" class="list-group-item">
                    pop punk
                </a>
                <a href="genres.html" class="list-group-item">
                    punk
                </a>
                <a href="genres.html" class="list-group-item">
                    reggae
                </a>
                <a href="genres.html" class="list-group-item">
                    rnb
                </a>
                <a href="genres.html" class="list-group-item">
                    rock
                </a>
                <a href="genres.html" class="list-group-item">
                    soul
                </a>
                <a href="genres.html" class="list-group-item">
                    world
                </a>-->
            </div>
        </section>
    </section>
</aside>