/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */

html,
			body {
				background-color: #efeff4;
			}
			.mui-bar~.mui-content .mui-fullscreen {
				top: 44px;
				height: auto;
			}
			.mui-pull-top-tips {
				position: absolute;
				top: -20px;
				left: 50%;
				margin-left: -25px;
				width: 40px;
				height: 40px;
				border-radius: 100%;
				z-index: 1;
			}
			.mui-bar~.mui-pull-top-tips {
				top: 24px;
			}
			.mui-pull-top-wrapper {
				width: 42px;
				height: 42px;
				display: block;
				text-align: center;
				background-color: #efeff4;
				border: 1px solid #ddd;
				border-radius: 25px;
				background-clip: padding-box;
				box-shadow: 0 4px 10px #bbb;
				overflow: hidden;
			}
			.mui-pull-top-tips.mui-transitioning {
				-webkit-transition-duration: 200ms;
				transition-duration: 200ms;
			}
			.mui-pull-top-tips .mui-pull-loading {
				/*-webkit-backface-visibility: hidden;
				-webkit-transition-duration: 400ms;
				transition-duration: 400ms;*/
				
				margin: 0;
			}
			.mui-pull-top-wrapper .mui-icon,
			.mui-pull-top-wrapper .mui-spinner {
				margin-top: 7px;
			}
			.mui-pull-top-wrapper .mui-icon.mui-reverse {
				/*-webkit-transform: rotate(180deg) translateZ(0);*/
			}
			.mui-pull-bottom-tips {
				text-align: center;
				background-color: #efeff4;
				font-size: 15px;
				line-height: 40px;
				color: #777;
			}
			.mui-pull-top-canvas {
				overflow: hidden;
				background-color: #fafafa;
				border-radius: 40px;
				box-shadow: 0 4px 10px #bbb;
				width: 40px;
				height: 40px;
				margin: 0 auto;
			}
			.mui-pull-top-canvas canvas {
				width: 40px;
			}
			.mui-slider-indicator.mui-segmented-control {
				background-color: #efeff4;
			}
			.mui-plus.mui-android header.mui-bar{
	display: none;
}
.mui-plus.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}
/** 04. Commons
 **************************************************************** **/
/* utils */
.size-11 			{ font-size:11px !important; line-height:15px !important; }
.size-12 			{ font-size:12px !important; line-height:16px !important; }
.size-13 			{ font-size:13px !important; line-height:17px !important; }
.size-14 			{ font-size:14px !important; line-height:18px !important; }
.size-15 			{ font-size:15px !important; line-height:19px !important; }
.size-16 			{ font-size:16px !important; line-height:20px !important; }
.size-17 			{ font-size:17px !important; line-height:23px !important; }
.size-18 			{ font-size:18px !important;  }
.size-19 			{ font-size:19px !important;  }
.size-20 			{ font-size:20px !important; }
.size-25 			{ font-size:25px !important; line-height:30px !important; }
.size-30 			{ font-size:30px !important; line-height:36px !important; }
.size-40 			{ font-size:40px !important; line-height:46px !important; }
.size-50 			{ font-size:50px !important; line-height:56px !important; }
.size-60 			{ font-size:60px !important; line-height:66px !important; }
.size-70 			{ font-size:70px !important; line-height:76px !important; }
.size-80 			{ font-size:80px !important; line-height:86px !important; }
.size-90 			{ font-size:90px !important; line-height:96px !important; }
.size-100 			{ font-size:100px !important; line-height:106px !important; }
.size-150 			{ font-size:150px !important; line-height:166px !important; }
.size-200 			{ font-size:200px !important; line-height:216px !important; }

.weight-300 			{ font-weight:300 !important; 	}
.weight-400 			{ font-weight:400 !important; 	}
.weight-500 			{ font-weight:500 !important; 	}
.weight-600 			{ font-weight:600 !important; 	}
.weight-700 			{ font-weight:700 !important; 	}
.weight-800 			{ font-weight:800 !important; 	}

.width-10			{ width:10px !important; }
.width-20			{ width:20px !important; }
.width-30			{ width:30px !important; }
.width-40			{ width:40px !important; }
.width-50			{ width:50px !important; }
.width-100			{ width:100px !important; }
.width-150			{ width:150px !important; }
.width-200			{ width:200px !important; }
.width-250			{ width:250px !important; }
.width-300			{ width:300px !important; }
.width-350			{ width:350px !important; }
.width-400			{ width:400px !important; }
.width-450			{ width:450px !important; }
.width-500			{ width:500px !important; }
.width-550			{ width:550px !important; }
.width-600			{ width:600px !important; }
.width-650			{ width:650px !important; }

.height-10			{ height:10px !important; }
.height-20			{ height:20px !important; }
.height-30			{ height:30px !important; }
.height-50			{ height:50px !important; }
.height-100			{ height:100px !important; }
.height-150			{ height:150px !important; }
.height-200			{ height:200px !important; }
.height-250			{ height:250px !important; }
.height-300			{ height:300px !important; }
.height-350			{ height:350px !important; }
.height-400			{ height:400px !important; }
.height-450			{ height:450px !important; }
.height-500			{ height:500px !important; }
.height-550			{ height:550px !important; }
.height-600			{ height:600px !important; }

.padding-0 			{ padding:0 !important; 	}
.padding-3 			{ padding:3px !important; 	}
.padding-6 			{ padding:6px !important; 	}
.padding-8 			{ padding:8px !important; 	}
.padding-10 			{ padding:10px !important; 	}
.padding-15 			{ padding:15px !important; 	}
.padding-20 			{ padding:20px !important; 	}
.padding-30 			{ padding:30px !important; 	}
.padding-40 			{ padding:40px !important; 	}
.padding-50 			{ padding:50px !important; 	}
.padding-60 			{ padding:60px !important; 	}
.padding-70 			{ padding:70px !important; 	}
.padding-80 			{ padding:80px !important; 	}
.padding-90 			{ padding:90px !important; 	}
.padding-100 		{ padding:100px !important; }

.padding-top-0		{ padding-top:0 !important; }
.padding-top-10		{ padding-top:10px !important; }
.padding-top-15		{ padding-top:15px !important; }
.padding-top-20		{ padding-top:20px !important; }
.padding-top-30		{ padding-top:30px !important; }
.padding-top-40		{ padding-top:40px !important; }
.padding-top-50		{ padding-top:50px !important; }
.padding-top-60		{ padding-top:60px !important; }
.padding-top-80		{ padding-top:80px !important; }
.padding-top-100	{ padding-top:100px !important; }
.padding-top-130	{ padding-top:130px !important; }
.padding-top-150	{ padding-top:150px !important; }
.padding-top-180	{ padding-top:180px !important; }
.padding-top-200	{ padding-top:200px !important; }

.padding-bottom-0	{ padding-bottom:0 !important; }
.padding-bottom-10	{ padding-bottom:10px !important; }
.padding-bottom-15	{ padding-bottom:15px !important; }
.padding-bottom-20	{ padding-bottom:20px !important; }
.padding-bottom-30	{ padding-bottom:30px !important; }
.padding-bottom-40	{ padding-bottom:40px !important; }
.padding-bottom-50	{ padding-bottom:50px !important; }
.padding-bottom-60	{ padding-bottom:60px !important; }
.padding-bottom-80	{ padding-bottom:80px !important; }
.padding-bottom-100	{ padding-bottom:100px !important; }
.padding-bottom-130	{ padding-bottom:130px !important; }
.padding-bottom-150	{ padding-bottom:150px !important; }
.padding-bottom-180	{ padding-bottom:180px !important; }
.padding-bottom-200	{ padding-bottom:200px !important; }

.margin-3 			{ margin:3px !important; 	}
.margin-5 			{ margin:5px !important; 	}
.margin-top-0		{ margin-top:0 !important; }
.margin-top-1		{ margin-top:1px !important; }
.margin-top-2		{ margin-top:2px !important; }
.margin-top-3		{ margin-top:3px !important; }
.margin-top-6		{ margin-top:6px !important; }
.margin-top-8		{ margin-top:8px !important; }
.margin-top-10		{ margin-top:10px !important; }
.margin-top-20		{ margin-top:20px !important; }
.margin-top-30		{ margin-top:30px !important; }
.margin-top-40		{ margin-top:40px !important; }
.margin-top-50		{ margin-top:50px !important; }
.margin-top-60		{ margin-top:60px !important; }
.margin-top-80		{ margin-top:80px !important; }
.margin-top-100		{ margin-top:100px !important; }
.margin-top-130		{ margin-top:130px !important; }
.margin-top-150		{ margin-top:150px !important; }
.margin-top-180		{ margin-top:180px !important; }
.margin-top-200		{ margin-top:200px !important; }

.margin-bottom-0	{ margin-bottom:0 !important; }
.margin-bottom-1	{ margin-bottom:1px !important; }
.margin-bottom-2	{ margin-bottom:2px !important; }
.margin-bottom-3	{ margin-bottom:3px !important; }
.margin-bottom-6	{ margin-bottom:6px !important; }
.margin-bottom-8	{ margin-bottom:8px !important; }
.margin-bottom-10	{ margin-bottom:10px !important; }
.margin-bottom-20	{ margin-bottom:20px !important; }
.margin-bottom-30	{ margin-bottom:30px !important; }
.margin-bottom-40	{ margin-bottom:40px !important; }
.margin-bottom-50	{ margin-bottom:50px !important; }
.margin-bottom-60	{ margin-bottom:60px !important; }
.margin-bottom-80	{ margin-bottom:80px !important; }
.margin-bottom-100	{ margin-bottom:100px !important; }
.margin-bottom-130	{ margin-bottom:130px !important; }
.margin-bottom-150	{ margin-bottom:150px !important; }
.margin-bottom-180	{ margin-bottom:180px !important; }
.margin-bottom-200	{ margin-bottom:200px !important; }

.margin-left-0		{ margin-left:0 !important; }
.margin-left-3		{ margin-left:3px !important; }
.margin-left-6		{ margin-left:6px !important; }
.margin-left-8		{ margin-left:8px !important; }
.margin-left-10		{ margin-left:10px !important; }
.margin-left-15		{ margin-left:15px !important; }
.margin-left-20		{ margin-left:20px !important; }
.margin-left-30		{ margin-left:30px !important; }
.margin-left-40		{ margin-left:40px !important; }
.margin-left-50		{ margin-left:50px !important; }
.margin-left-60		{ margin-left:60px !important; }
.margin-left-80		{ margin-left:80px !important; }
.margin-left-100	{ margin-left:100px !important; }
.margin-left-130	{ margin-left:130px !important; }
.margin-left-150	{ margin-left:150px !important; }
.margin-left-180	{ margin-left:180px !important; }
.margin-left-200	{ margin-left:200px !important; }
.margin-left-250	{ margin-left:250px !important; }
.margin-left-300	{ margin-left:300px !important; }

.margin-right-0		{ margin-right:0 !important; }
.margin-right-3		{ margin-right:3px !important; }
.margin-right-6		{ margin-right:6px !important; }
.margin-right-8		{ margin-right:8px !important; }
.margin-right-10	{ margin-right:10px !important; }
.margin-right-15	{ margin-right:15px !important; }
.margin-right-20	{ margin-right:20px !important; }
.margin-right-30	{ margin-right:30px !important; }
.margin-right-40	{ margin-right:40px !important; }
.margin-right-50	{ margin-right:50px !important; }
.margin-right-60	{ margin-right:60px !important; }
.margin-right-80	{ margin-right:80px !important; }
.margin-right-100	{ margin-right:100px !important; }
.margin-right-130	{ margin-right:130px !important; }
.margin-right-150	{ margin-right:150px !important; }
.margin-right-180	{ margin-right:180px !important; }
.margin-right-200	{ margin-right:200px !important; }
.margin-right-250	{ margin-right:250px !important; }
.margin-right-300	{ margin-right:300px !important; }

.line-height-0		{ line-height:0 !important; 	}
.line-height-10		{ line-height:10px !important; 	}
.line-height-20		{ line-height:20px !important; 	}
.line-height-30		{ line-height:30px !important; 	}
.line-height-40		{ line-height:40px !important; 	}
.line-height-50		{ line-height:50px !important; 	}
.line-height-60		{ line-height:60px !important; 	}
.line-height-70		{ line-height:70px !important; 	}
.line-height-80		{ line-height:80px !important; 	}
.line-height-90		{ line-height:90px !important; 	}
.line-height-100	{ line-height:100px !important; }


.nopadding 			{ padding:0 !important; 		}
.nopadding-left 		{ padding-left:0 !important; 	}
.nopadding-right 	{ padding-right:0 !important; 	}
.nopadding-top 		{ padding-top:0 !important; 	}
.nopadding-bottom	{ padding-bottom:0 !important; 	}
.nomargin 			{ margin:0 !important; 			}
.nomargin-left 		{ margin-left:0 !important; 	}
.nomargin-right 		{ margin-right:0 !important; 	}
.nomargin-top		{ margin-top:0 !important; 	}
.nomargin-bottom	{ margin-bottom:0 !important; 	}
.noborder 			{ border:0 !important; 			}
.noborder-left		{ border-left:0 !important; 	}
.noborder-right		{ border-right:0 !important; 	}
.noborder-top		{ border-top:0 !important; 		}
.noborder-bottom	{ border-bottom:0 !important; 	}
.nobg				{ background:transparent; 		}
.lowercase 			{ text-transform:lowercase; 	}
.uppercase 			{ text-transform:uppercase; 	}
.noradius			{ -webkit-border-radius:0 !important; -moz-border-radius:0 !important; border-radius:0 !important; }
.font-style-italic 	{ font-style:italic; 			}
.font-style-normal 	{ font-style:normal; 			}
.pointer 			{ cursor:pointer; 				}
.block 				{ display:block !important; 	}
.block-inline		{ display:inline-block !important; 	}
.inline-block		{ display:inline-block !important; 	}
.bold 				{ font-weight:bold !important; 	}
.fullwidth 			{ width:100% !important; max-width:100% !important; 		}
.halfwidth 			{ width:50% !important; 		}
.justify 			{ text-align:justify; 			}
.relative 			{ position:relative;			}
.absolute			{ position:absolute !important; top:0; left:0; right:0; bottom:0;	}
.text-left 			{ text-align:left !important; }
.text-right 			{ text-align:right !important; }
.text-center        {text-align: center !important;}
.noshadow			{ box-shadow:none; text-shadow:none; }
.nofloat			{ float:none !important; 		}
.display-table		{ display:table; width:100%; height:100%; position:relative; z-index:99;	}
.display-table-cell	{ display:table-cell; width:100%; height:100%; }
.vertical-align-middle	{ vertical-align:middle;		}
.txt-no-decoration	{ text-decoration:none !important; 		}
.softhide			{ display:none; 				}
img.pull-left 		{ margin:0 20px 10px 0; }
img.pull-right 		{ margin:0 0 10px 20px; }
ul>li>i				{ margin-right:10px; 	}
.no-text-underline,
.no-text-decoration	{ text-decoration:none; }
.line-through		{ text-decoration: line-through; }
.btn>i 				{ padding-right:6px; 	}
video.fullvideo 		{ width:100%; height:100%; }

/* borders */
.border-top-1 {
	border-top: 1px solid #ddd;
}
.border-top-2 {
	border-top: 2px solid #ddd;
}
.border-top-3 {
	border-top: 3px solid #ddd;
}

.border-bottom-1 {
	border-bottom: 1px solid #ddd;
}
.border-bottom-2 {
	border-bottom: 2px solid #ddd;
}
.border-bottom-3 {
	border-bottom: 3px solid #ddd;
}
.text-muted {
	color: #777 !important;
}
.text-primary {
	color: #337ab7 !important;
}
.text-success {
	color: #3c763d !important;
}
.text-info {
	color: #31708f !important;
}
.text-warning {
	color: #8a6d3b !important;
}
.text-danger {
	color: #a94442 !important;
}
.active .text-info{
	color:#111 !important;
}
.tex-white {
	color:#fff !important;
}
.bg-white{
	background-color: #fff;
}
.tex-black {
	color:#111 !important;
}
.color-gray{
	color: #929292;
}
.opacity-0 {
	filter: Alpha(Opacity=0);
	opacity:0;
}
.opacity-1 {
	filter: Alpha(Opacity=10);
	opacity:0.1;
}
.opacity-2 {
	filter: Alpha(Opacity=20);
	opacity:0.2;
}
.opacity-3 {
	filter: Alpha(Opacity=30);
	opacity:0.3;
}
.opacity-4 {
	filter: Alpha(Opacity=40);
	opacity:0.4;
}
.opacity-5 {
	filter: Alpha(Opacity=50);
	opacity:0.5;
}
.opacity-6 {
	filter: Alpha(Opacity=60);
	opacity:0.6;
}
.opacity-7 {
	filter: Alpha(Opacity=70);
	opacity:0.7;
}
.opacity-8 {
	filter: Alpha(Opacity=80);
	opacity:0.8;
}
.opacity-9 {
	filter: Alpha(Opacity=90);
	opacity:0.9;
}
.opacity-10 {
	filter: Alpha(Opacity=100);
	opacity:1;
}

/*list*/
.list-content{
	padding-top: 0px !important;
	margin-top: 84px;
	bottom: 50px;
	width: 100%;
	height: auto;
}
.list-content .list_img_holder {
	border: 0;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 300ms ease;
	-moz-transition: opacity ease .3s;
	pointer-events: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	text-decoration: none;
}
.list-content h4{
	color: #222;
	font-size: 17px;
	line-height: 21px;
	font-weight: 400;
	overflow: hidden;
	word-break:break-all;
	word-wrap:break-word;
	white-space:normal;
	margin: 0;
}
.dotdot {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
}
.line2 {
	-webkit-line-clamp: 2;
}
.list-content .item_info span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
	font-size: 12px;
}
.list-content .mui-pull-top-pocket{
	top: 0px !important;
}
/*detail*/
.detail h1.title {
	font-size: 20px!important;
	line-height: 28px;
	font-weight: bolder;
	color: #3A3A3A;
}
.detail .article-header {
	position: relative;
}
.detail .pgc-bar-top a.avatar-link {
	display: block;
	float: left;
}
.detail .pgc-bar-top .subtitle {
	padding: 1px 0 0 8px;
	font-size: 0;
	float: left;
}
.detail .pgc-bar-top .name {
	line-height: 16px;
	font-size: 12px;
	margin-bottom: 4px;
}
.detail .pgc-bar-top .name img {
	padding-left: 5px;
	height: 16px;
	margin-bottom: -3px;
}
.detail .pgc-bar-top .time span {
	font-size: 11px;
	display: inline-block;
	vertical-align: middle;
	color: #999;
}
.detail .pgc-bar-top .time .original {
	border: 1px solid #999;
	font-size: 10px;
	border-radius: 4px;
	line-height: 14px;
	width: 30px;
	color: #505050;
	text-align: center;
	margin-right: 5px;
}
.detail .article-header .favor-wrapper {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
}
.detail .article-content{
	padding-top: 15px;
}
.detail .article-content p {
	word-wrap: break-word;
	font-size: 17px;
	line-height: 28px;
	color: #333;
}
.detail .avatar {
	height: 32px;
	width: 32px;
	border: 0;
	border-radius: 32px;
}
.detail .article-content img {
	width: 100%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 4px;
	margin-bottom: 4px;
}
/*bar*/
.mui-segmented-control.mui-scroll-wrapper .bar-item:first-child {
	padding-left:15px;

}
.mui-segmented-control.mui-scroll-wrapper .bar-item {
	padding: 0 10px;

}
.mui-segmented-control.mui-scroll-wrapper .bar-item:last-child {
	padding-left:15px;

}
/*question*/
.question_card{
	background-color: #efeff4;
}
.question_card .mui-card{
	margin-left: 0px;
	margin-right: 0px;
	border-radius:0px;
}
.question_card .mui-card:first-child{
	margin-top: 0px;
}
/*shop*/
#addcart.mui-active{
	bottom: 0; height: 80%;min-height: 80%;top:inherit;overflow: inherit
}
.cmswing-container  {
	border: none !important;
}
.wangEditor-container .wangEditor-txt pre{
	font-size: 1em !important;
}

.more-icon {
	margin-left: -10px;
	padding-left: 15px;
	padding-top:7px ;
	padding-bottom:10px ;
	padding-right: 7px;
	font-size: 26px !important;
	position: absolute;
	z-index: 20;
	right: 0;
	top:0;
	background-color: #efeff4;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAABXCAQAAACjUt0DAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAAAEgAAABIAEbJaz4AAAAJdnBBZwAAABIAAABXAK421QoAAAFiSURBVEjH1ZbbtoMgDERnKP//yaYPVSAhF077dHQtamU7k0RKAxwcPCF4ItF+tWMNsVZS91uJhNlRX7FGPMgizOrEObJSiZUUAnRkR6q0qnErm7Lhc9UDBaXUt0kN0FOaOo4SQ5BRCahOA3HT5KwTE50GZhV37VazJKYljjE2SE+sPsittC1XW/FmgNVsZJcvuhvrAbLqffNadPXLYgaLzs8wWSo6rk9FYdeBUW/x1DRswfS6ysuNlcDZ7ssTSCpIfDsZn/J8b+Omh8pjR/X8DkuWndwnINpOlukFbtvzVslAEmF+TCMaCC4fkr8oKUgVzmQ4IBojHfqFqwd28O0S6AXA7ib2P+HOTlzLcXZ3+tFz6yRObiOmGY+3k6ev5XN97Uq7FoCXkl5HTrT6tQiw2u1aY/TrZF551jyMFPZiOqW1O5zXiJx1PV/2Tw52tD8ddYc/9Zlq7qhBrlrtuhX/98cbycGBFpNaiv0AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDItMjdUMTc6NDQ6NDErMDg6MDDFbrv7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTAyLTI3VDE3OjQ0OjQxKzA4OjAwtDMDRwAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAASUVORK5CYII=) no-repeat center left;
	background-size: contain;
}
.mui-scroll-more {
	position: absolute;
	z-index: 2;
	top: 46px;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
}
#SOHUCS #SOHU_MAIN .icon-pic:before {
	content: "";
}