{% extends "../inc/base.html" %}
{% block style %}
<link href="/static/assets/css/layout-question.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

<!-- SLIDER -->
<section id="slider" class="" style="background:url('/static/assets/images/1-min.jpg');height: 400px">
	<span class="overlay dark-1"><!-- dark overlay [0 to 9 opacity] --></span>

	<div class="display-table">
		<div class="display-table-cell vertical-align-middle">

			<div class="container text-center">

				<h1 class="nomargin wow fadeInUp" data-wow-delay="0.4s">
					WE ARE
					<!--
                        TEXT ROTATOR
                        data-animation="fade|flip|flipCube|flipUp|spin"
                    -->
					<span class="rotate " data-animation="fade" data-speed="1500">
									CMSWING, MULTIPURPOSE, POWERFUL
								</span>
				</h1>

				<p class="lead size-20 wow fadeInUp" data-wow-delay="0.7s">
					一款基于ThinkJS的功能强大的（PC端,手机端和微信公众平台）电子商务平台及CMS建站系统
					<!--Over <span class="countTo" data-speed="4000">550</span> html files!-->
					<!--<span class="theme-color weight-400 font-style-italic">Admin included</span> &amp; MLT-->
				</p>

				<a class="btn btn-default btn-lg" href="/documentation">Getting Started</a>
			</div>

		</div>
	</div>

</section>
<!-- /SLIDER -->



<!-- INFO BAR -->
<section class="info-bar info-bar-clean ">
<div class="container">

<div class="row">

<div class="col-sm-3 padding-top-0 padding-bottom-0">
<i><img src="http://git.oschina.net/logo.gif" style="width:32px; margin-top: -2px"></i>
<h3>码云主页</h3>
<p>去 <a href="http://git.oschina.net/arterli/CmsWing" target="_blank">码云</a> 查看最新的开发进度</p>
</div>

<div class="col-sm-3 padding-top-0 padding-bottom-0">
<i class="glyphicon glyphicon-download-alt"></i>
<h3>下载CmsWing</h3>
	{% topic data = "lastd",limit= "1",cid="111",position="1",isstu="1",issub="2",group="1"%}
	{%set vv = lastd[0].title|strToArray("@")%}
<p><a href="/download">下载最新版本</a> {{vv[1]}} 下载次数:{{lastd[0].download}}</p>
</div>

<div class="col-sm-3 padding-top-0 padding-bottom-0">
<i><img src="/static/logo_32x32.png" style="width:32px; margin-top: -2px"></i>
<h3>交流学习</h3>
<p><a href="/question">社区</a> QQ群:49757468</p>
</div>
	<div class="col-sm-3 padding-top-0 padding-bottom-0">
		<i><img src="/static/thinkjslogo_32.png" style="width:32px; margin-top: -2px"></i>
		<h3>ThinkJS</h3>
		<p><a href="https://thinkjs.org" target="_blank">官方网站</a> QQ群:339337680</p>
	</div>

</div>

</div>
</section>
<!-- /INFO BAR -->
<!-- RECENT NEWS -->
<section>
<div class="container">

<header class="text-center margin-bottom-20">
	<div class="heading-title heading-line-double text-center margin-bottom-0"><h3>示例/教程</h3>
		</div>

</header>

<!--
controlls-over		= navigation buttons over the image
buttons-autohide 	= navigation buttons visible on mouse hover only

data-plugin-options:
"singleItem": true
"autoPlay": true (or ms. eg: 4000)
"navigation": true
"pagination": true
"items": "4"

owl-carousel item paddings
.owl-padding-0
.owl-padding-3
.owl-padding-6
.owl-padding-10
.owl-padding-15
.owl-padding-20
-->
<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
	{% topic data = "indexnew",cid="46",limit="12",ispic="1"%}
	{%for v in indexnew%}
<div class="img-hover">
<a href="{{v.name|get_url(v.id)}}" target="_blank">
<img class="img-responsive" src="{{v.cover_id|get_pic('m=1,w=256,h=126')}}" alt="">
</a>
<h5 class="text-left margin-top-10 margin-bottom-2"><a href="{{v.name|get_url(v.id)}}" target="_blank">{{v.title|truncate(20, true, "...")}}</a></h5>
<p class="text-left" style="height: 42px;overflow:hidden;">{{v.description}}</p>
<ul class="text-left size-12 list-inline list-separator">
<li>
<i class="fa fa-calendar"></i>{{v.update_time|moment}}
</li>
<li>
<a href="{{v.name|get_url(v.id)}}#comments">
<i class="fa fa-comments"></i>
3
</a>
</li>
</ul>
</div>
	{%endfor%}


</div>

</div>
</section>
<!-- /RECENT NEWS -->
<!-- -->
<section class="alternate">
	<div class="container portfolio">
		<header class="section-header text-center margin-bottom-20">
			<div class="heading-title heading-line-double text-center margin-bottom-0">
				<h3><span>DEMO</span> 演示</h3>
				<p class="size-12">CmsWing 模型演示</p>
			</div>
		</header>
		<div  class=" portfolio-title-over">
			<div class="row mix-grid">


				<div class="col-md-3 col-sm-3 mix development"><!-- item -->

					<div class="item-box thumbnail">
						<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/static/dome/s_wenzhang.jpg" data-plugin-options='{"type":"image"}'>
													<span class="glyphicon glyphicon-qrcode size-20"></span>
												</a>

												<!-- details -->
												<a class="ico-rounded" href="/wenzhangceshi" target="_blank">
													<span class="glyphicon glyphicon-option-horizontal size-20"></span>
												</a>

											</span>
										</span>

							<!-- overlay title -->
							<div class="item-box-overlay-title">
								<h4 class="nomargin">文章模型演示</h4>
								<ul class="list-inline categories nomargin">
									<li><a href="#">系统模型</a></li>
									<li><a href="#">PC端</a></li>
									<li><a href="#">移动端</a></li>
								</ul>
							</div><!-- /overlay title -->

							<img class="img-responsive" src="/static/dome/wenzhang.jpg"  alt="">
						</figure>
					</div>

				</div><!-- /item -->


				<div class="col-md-3 col-sm-3 mix development"><!-- item -->

					<div class="item-box thumbnail">
						<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/static/dome/s_shipin.jpg" data-plugin-options='{"type":"image"}'>
													<span class="glyphicon glyphicon-qrcode size-20"></span>
												</a>

												<!-- details -->
												<a class="ico-rounded" href="/shipinceshi" target="_blank">
													<span class="glyphicon glyphicon-option-horizontal size-20"></span>
												</a>

											</span>
										</span>

							<!-- overlay title -->
							<div class="item-box-overlay-title">
								<h4 class="nomargin">视频模型演示</h4>
								<ul class="list-inline categories nomargin">
									<li><a href="#">系统模型</a></li>
									<li><a href="#">PC端</a></li>
									<li><a href="#">移动端</a></li>
								</ul>
							</div><!-- /overlay title -->

							<img class="img-responsive" src="/static/dome/shipin.jpg"  alt="">
						</figure>
					</div>

				</div><!-- /item -->

				<div class="col-md-3 col-sm-3 mix development"><!-- item -->

					<div class="item-box thumbnail">
						<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/static/dome/s_tupian.jpg" data-plugin-options='{"type":"image"}'>
													<span class="glyphicon glyphicon-qrcode size-20"></span>
												</a>

												<!-- details -->
												<a class="ico-rounded" href="/tupianceshi" target="_blank">
													<span class="glyphicon glyphicon-option-horizontal size-20"></span>
												</a>

											</span>
										</span>

							<!-- overlay title -->
							<div class="item-box-overlay-title">
								<h4 class="nomargin">图片模型演示</h4>
								<ul class="list-inline categories nomargin">
									<li><a href="#">系统模型</a></li>
									<li><a href="#">PC端</a></li>
									<li><a href="#">移动端</a></li>
								</ul>
							</div><!-- /overlay title -->

							<img class="img-responsive" src="/static/dome/tupian.jpg"  alt="">
						</figure>
					</div>

				</div><!-- /item -->

				<div class="col-md-3 col-sm-3 mix development"><!-- item -->

					<div class="item-box thumbnail">
						<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/static/dome/s_shangcheng.jpg" data-plugin-options='{"type":"image"}'>
													<span class="glyphicon glyphicon-qrcode size-20"></span>
												</a>

												<!-- details -->
												<a class="ico-rounded" href="/shangchengceshi" target="_blank">
													<span class="glyphicon glyphicon-option-horizontal size-20"></span>
												</a>

											</span>
										</span>

							<!-- overlay title -->
							<div class="item-box-overlay-title">
								<h4 class="nomargin">商城模型演示</h4>
								<ul class="list-inline categories nomargin">
									<li><a href="#">系统模型</a></li>
									<li><a href="#">PC端</a></li>
									<li><a href="#">移动端</a></li>
								</ul>
							</div><!-- /overlay title -->

							<img class="img-responsive" src="/static/dome/shangcheng.jpg"  alt="">
						</figure>
					</div>

				</div><!-- /item -->
				<div class="col-md-3 col-sm-3 mix development  margin-top-20"><!-- item -->

					<div class="item-box thumbnail">
						<figure >
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/static/dome/s_xiazai.jpg" data-plugin-options='{"type":"image"}'>
													<span class="glyphicon glyphicon-qrcode size-20"></span>
												</a>

												<!-- details -->
												<a class="ico-rounded" href="/xiazaiceshi" target="_blank">
													<span class="glyphicon glyphicon-option-horizontal size-20"></span>
												</a>

											</span>
										</span>

							<!-- overlay title -->
							<div class="item-box-overlay-title">
								<h4 class="nomargin">下载模型演示</h4>
								<ul class="list-inline categories nomargin">
									<li><a href="#">系统模型</a></li>
									<li><a href="#">PC端</a></li>
									<li><a href="#">移动端</a></li>
								</ul>
							</div><!-- /overlay title -->

							<img class="img-responsive" src="/static/dome/xiazai.jpg"  alt="">
						</figure>
					</div>

				</div><!-- /item -->
				<div class="col-md-3 col-sm-3 mix development  margin-top-20"><!-- item -->

					<div class="item-box thumbnail">
						<figure >
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/static/dome/s_danyemianceshi.jpg" data-plugin-options='{"type":"image"}'>
													<span class="glyphicon glyphicon-qrcode size-20"></span>
												</a>

												<!-- details -->
												<a class="ico-rounded" href="/danyeceshi" target="_blank">
													<span class="glyphicon glyphicon-option-horizontal size-20"></span>
												</a>

											</span>
										</span>

							<!-- overlay title -->
							<div class="item-box-overlay-title">
								<h4 class="nomargin">单页面模型演示</h4>
								<ul class="list-inline categories nomargin">
									<li><a href="#">系统模型</a></li>
									<li><a href="#">PC端</a></li>
									<li><a href="#">移动端</a></li>
								</ul>
							</div><!-- /overlay title -->

							<img class="img-responsive" src="/static/dome/danyemianceshi.jpg"  alt="">
						</figure>
					</div>

				</div><!-- /item -->
				<div class="col-md-3 col-sm-3 mix development  margin-top-20"><!-- item -->

					<div class="item-box thumbnail">
						<figure >
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
                                               {#
												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/static/dome/s_danyemianceshi.jpg" data-plugin-options='{"type":"image"}'>
													<span class="glyphicon glyphicon-qrcode size-20"></span>
												</a>
                                                #}
												<!-- details -->
												<a class="ico-rounded" href="http://btdaye.com/" target="_blank">
													<span class="glyphicon glyphicon-option-horizontal size-20"></span>
												</a>

											</span>
										</span>

							<!-- overlay title -->
							<div class="item-box-overlay-title">
								<h4 class="nomargin">bt大爷</h4>
								<ul class="list-inline categories nomargin">
									<li><a href="#">二次开发</a></li>
									<li><a href="#">PC端</a></li>
									<li><a href="#">移动端</a></li>
								</ul>
							</div><!-- /overlay title -->

							<img class="img-responsive" src="/static/dome/btdaye.jpg"  alt="">
						</figure>
					</div>

				</div><!-- /item -->
				<div class="col-md-3 col-sm-3 mix development  margin-top-20"><!-- item -->

					<div class="item-box thumbnail">
						<figure >
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
                                               {#
												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/static/dome/s_danyemianceshi.jpg" data-plugin-options='{"type":"image"}'>
													<span class="glyphicon glyphicon-qrcode size-20"></span>
												</a>
                                                #}
												<!-- details -->
												<a class="ico-rounded" href="http://www.lvoo.net/" target="_blank">
													<span class="glyphicon glyphicon-option-horizontal size-20"></span>
												</a>

											</span>
										</span>

							<!-- overlay title -->
							<div class="item-box-overlay-title">
								<h4 class="nomargin">单页面模型演示</h4>
								<ul class="list-inline categories nomargin">
									<li><a href="#">模板制作</a></li>
									<li><a href="#">PC端</a></li>
									<!--<li><a href="#">移动端</a></li>-->
								</ul>
							</div><!-- /overlay title -->

							<img class="img-responsive" src="/static/dome/lvoo.jpg"  alt="">
						</figure>
					</div>

				</div><!-- /item -->

			</div>

		</div>

	</div>
</section>
<!-- / -->
<section>
	<div class="container">

		<div class="row">

			<!-- RIGHT -->
			<div class="col-md-9 col-sm-9">
				<h3 class="page-header weight-300 margin-top-0 margin-bottom-0">
					<a href="/question.html" data-toggle="tooltip" title="" data-original-title="互帮互助有问题必达"><i class="fa fa-plus-square-o"></i></a>
					社区 <strong>问答</strong>
				</h3>
				<div class="timeline">
					<div class="timeline-hline"><!-- horizontal line cache='1000'--></div>
					{%model data="list",table="question",order="update_time DESC",limit="10"%}
					{% for val in list %}
					{% set categoryname = val.category_id|get_cate %}
					{% set imgs= val.detail|img_text_view(200,120)%}
					<!-- POST ITEM -->
					<div class="blog-post-item blog-post-item-inverse padding-top-20 padding-bottom-20 margin-bottom-0 clearfix">
						<div class="timeline-entry" ><!-- .rounded = entry -->
							<a href="#"><img src="/uc/index/avatar/uid/{{val.uid}}" style="width: 58px;height: 58px; margin-top: -10px"></a>
							<div class="timeline-vline"><!-- vertical line --></div>
						</div>
						<!-- IMAGE -->
						{% if imgs|length==1 %}
						<figure class="blog-item-small-image margin-bottom-0">
							<img class="img-responsive" src="{{imgs[0]}}" alt="">
						</figure>
						{% endif %}
						<div class="blog-item-small-content">
							<h2><a href="/mod/question/{{val.id}}{{http.config('view.file_ext')}}" title="{{val.title}}">{{val.title}}</a></h2>
							<ul class="blog-post-info list-inline padding-bottom-10">
								<li>

									<a class="" href="{{categoryname.url}}">
										<span class="label label-light">{{categoryname.name}}</span>
									</a>
								</li>
								<li>{%if val.answer_users>0%}
									<a href="#">
										<span class="font-lato">{{val.answer_users|get_nickname}}</span>
									</a>
									<span class="font-lato"> 回复了问题</span>
									{%else%}
									<a href="#">
										<span class="font-lato">{{val.uid|get_nickname}}</span>
									</a>
									<span class="font-lato"> 发起了问题</span>
									{%endif%}
								</li>
								<li>
                                <span class="font-lato">
                                {{val.focus_count}} 人关注
                                    </span>
								</li>
								<li>
									<span class="font-lato">{{val.answer_count}} 个回复</span>

								</li>
								<li>
									<span class="font-lato">{{val.view}} 次浏览</span>
								</li>
								<li>
									<span class="font-lato"> {{val.update_time|moment}}</span>
								</li>

							</ul>
							{% if imgs|length>1 %}
							<div class="row margin-bottom-10">
								{%set i = 0%}
								{%for img in imgs%}
								{%if i< 4 %}
								<div class="col-md-3"><img class="img-responsive" src="{{img}}" alt=""></div>
								{%endif%}
								{%set i=i+1%}
								{%endfor%}
							</div>
							{%endif%}
							<p>{{val.detail|delhtmltags|truncate(90, true, "...")|safe}}</p>
						</div>

					</div>
					<!-- /POST ITEM -->
					{%endfor%}

				</div>

				<!-- PAGINATION -->
				<a class="btn btn-featured btn-default btn-inverse" href="/question.html" >
					<span>今天，你遇到了什么问题呢？进入社区寻求答案！</span>
					<i class="et-happy"></i>
				</a>
				<!-- /PAGINATION -->

			</div>
			<!-- LEFT -->
			<div class="col-md-3 col-sm-3">

				{% if controller.is_login %}
				<div class="alert alert-info margin-bottom-20"><!-- INFO -->
					今天，你遇到了什么问题呢？
					<a href="/mod/question/sys/add/cid/123" class="btn btn-primary btn-3d btn-block margin-top-10">提问</a>
				</div>
				{%else%}
				<div class="alert alert-info margin-bottom-20"><!-- INFO -->
					你好! 你还没有登录，请先登录.
					<a class="btn btn-block btn-social btn-dropbox margin-top-10  " href="/uc/public/login" data-toggle="ajaxModal">
						<i class="fa fa-sign-in"></i> 登录{{controller.setup.WEB_SITE_TITLE}}
					</a>
				</div>
				{%endif%}

				<div class="box-inner nopadding  margin-bottom-20">
					<h3>
						<a class="pull-right size-11 text-warning" href="/topic">更多</a>
						热门话题
					</h3>
					<div class="" >
						{% keywords data ="topic",type="hot",limit="5" %}
						{%for k in topic%}
						<div class="clearfix margin-bottom-10"><!-- discussion item -->
							{%if k.pic==0%}
							<i class="ico-light ico-60 ico-hover et-chat pull-left margin-bottom-0 margin-top-0" ></i>
							{%else%}
							<img class="thumbnail pull-left" src="/static/assets/images/demo/people/300x300/4-min.jpg" width="60" height="60" alt="" />
							{%endif%}
							<h4 class=" nomargin noborder nopadding bold"><a class="tag " href="{{k.url}}">
								<span class="txt">{{k.keyname}}</span>
								<span class="num"><i class="fa fa-fire"></i></span>
							</a>
							</h4>
							<span class="size-13 text-muted">
                                {{k.videonum}} 个主题, {{k.focus_count}} 人关注
												</span>
						</div><!-- /discussion item -->
						{%endfor%}


					</div>
				</div>


				{%model data="data",table="question_user",cache='1000',order="question_count DESC",alias="a",limit="10",join='{"member": {"join": "left","as":"b","on": ["a.uid", "b.id"]}}'%}
				{%if data.length>0%}
				<div class="box-inner nopadding  margin-bottom-20">
					<h3>
						<a class="pull-right size-11 text-warning" href="#">更多</a>
						热门用户
					</h3>
					<div class="" >
						{%for user in data%}
						<div class="clearfix margin-bottom-10"><!-- squared item -->
							<img class="thumbnail pull-left rounded" src="/uc/index/avatar/uid/{{user.uid}}" width="40" height="40" alt="" />
							<h4 class="size-14 nomargin noborder nopadding bold"><a href="#">{{user.username}}</a></h4>
							<span class="size-12 text-muted">{{user.question_count}} 个问题, {{user.agree_count}} 次赞同</span>
						</div><!-- /squared item -->
						{%endfor%}

					</div>
				</div>

				{%endif%}
				<div class="box-inner nopadding  margin-bottom-20">
					<h3>
						<a class="pull-right size-11 text-warning" href="#">更多</a>
						捐赠墙
					</h3>
					<div class="" >
						<div class="clearfix margin-bottom-20"><!-- notification item -->
							<span class="label label-success label-square pull-left" style="width: auto;padding-left: 5px;padding-right: 5px">
													<i class="fa fa-rmb"></i>5.00
												</span>
							<span class="size-14 text-muted"><b class="weight-500 text-warning">仁伟</b>: 支付宝-转账</span>
						</div>
						<div class="clearfix margin-bottom-20"><!-- notification item -->
							<span class="label label-success label-square pull-left" style="width: auto;padding-left: 10px;padding-right: 10px">
													<i class="fa fa-rmb"></i>1500.00
												</span>
							<span class="size-14 text-muted"><b class="weight-500 text-warning">伴猪看斜阳</b>: 支付宝-转账</span>
						</div>
						<div class="clearfix margin-bottom-20"><!-- notification item -->
							<span class="label label-success label-square pull-left" style="width: auto;padding-left: 10px;padding-right: 10px">
													<i class="fa fa-rmb"></i>500.00
												</span>
							<span class="size-14 text-muted"><b class="weight-500 text-warning">张轶军</b>: 微信-转账</span>
						</div>
						<div class="clearfix margin-bottom-20"><!-- notification item -->
							<span class="label label-success label-square pull-left" style="width: auto;padding-left: 10px;padding-right: 10px">
													<i class="fa fa-rmb"></i>50.00
												</span>
							<span class="size-14 text-muted"><b class="weight-500 text-warning">koala</b>:QQ红包-转账</span>
						</div>
						<div class="clearfix margin-bottom-20"><!-- notification item -->
							<span class="label label-success label-square pull-left" style="width: auto;padding-left: 10px;padding-right: 10px">
													<i class="fa fa-rmb"></i>50.00
												</span>
							<span class="size-14 text-muted"><b class="weight-500 text-warning">dancingalone</b>:oschina-捐助</span>
						</div>
					</div>
				</div>

			</div>


		</div>


	</div>
</section>

<!--
controlls-over		= navigation buttons over the image
buttons-autohide 	= navigation buttons visible on mouse hover only

data-plugin-options:
"singleItem": true
"autoPlay": true (or ms. eg: 4000)
"navigation": true
"pagination": true
-->
<section class="heading-title heading-arrow-bottom" style="padding-top: 10px ;padding-bottom: 10px">
	<div class="container">

		<div class="text-center">
			<h4>友情 <span>链接</span></h4>
			<p><a href="/ext/link/index/apply">申请友情链接</a> | <a href="/ext/link/index">更多>></a> </p>
		</div>

	</div>
</section>
<div class="text-center margin-top-20 margin-bottom-20">
<div class="owl-carousel nomargin" data-plugin-options='{"items":6, "singleItem": false, "autoPlay": true}'>
	{% model data ="link",table="ext_link",where='{"passed":1}',limit="8"%}
	{%for l in link%}
<div>
	<a href="{{l.url}}" target="_blank">
<img class="img-responsive" src="{{l.logo}}" alt="{{l.name}}">
	</a>
</div>
	{%endfor%}
</div>
</div>
{% endblock %}
{%block script%}

{%endblock%}