{% extends "../inc/base.html" %}
{% block style %}
<link href="/static/assets/plugins/slider.revolution.v5/css/pack.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/layout-question.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<section class="alternate parallax-2">
	<div class="overlay dark-0"><!-- dark overlay [1 to 9 opacity] --></div>
	<div class="container " style="position: relative;z-index: 10">
		{{11|show_ad("code")|safe}}
		<div class="row">
			<div class="col-md-9">
				<div id="rev_slider_8_1_wrapper" class="rev_slider_wrapper arrows-bottom fullwidthbanner-container box-shadow-3" data-alias="facebook-feed8" style="margin:0px auto;background-color:#dddddd;">
					<!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
					<div id="rev_slider_8_1" class="rev_slider fullwidthabanner softhide" data-version="5.0.7">
						<ul>
							{% topic data = "slider",limit= "10",position='2',issub="1"%}
							{%for val in slider%}
							{%if val.model_id==4%}
							{% set pic = val.pics|strToArray%}
							<!-- SLIDE  -->
							<li data-index="rs-{{val.id}}" data-transition="scaledownfromleft" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="{{pic[0]|get_pic('m=1,w=100,h=50')}}"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="{{val.title|truncate(16, true, '...')}}" data-param1="{{val.update_time|moment('YYYY-MM-DD HH:mm:ss')}}" data-param2="" data-description='{% if val.price|get_price_format("2") %}<span class="line-through f-14">¥{{val.price|get_price_format("2")}}</span>{%endif%}
					<b class="text-danger size-16">¥{{val.price|get_price_format("1")}}</b>'>
								<!-- MAIN IMAGE -->
								<img src="/static/assets/images/1x1.png"  alt=""   data-lazyload="{{pic[0]|get_pic('m=2,w=528,h=422')}}" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<div class="tp-caption Facebook-Likes  "
									 id="slide-28-layer-1"
									 data-x="10"
									 data-y="bottom" data-voffset="10"
									 data-width="['165']"
									 data-height="['32']"
									 data-transform_idle="o:1;tO:-20% 50%;"

									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
									 data-transform_out="opacity:0;s:700;e:Power1.easeInOut;s:700;e:Power1.easeInOut;"
									 data-start="500"
									 data-splitin="none"
									 data-splitout="none"
									 data-basealign="slide"
									 data-responsive_offset="off"
									 data-responsive="off"

									 style="z-index: 5;  max-width: 90px; max-width: 32px; max-width: 32px; white-space: normal;text-align:center;"><i class="fa fa-thumbs-o-up"></i> {{val.view}}
								</div>

								<!-- LAYER NR. 2 -->
								<a class="tp-caption Facebook-Likes" href="{{val.name|get_url(val.id)}}" target="_blank"
								   id="slide-28-layer-2"
								   data-x="176"
								   data-y="bottom" data-voffset="10"
								   data-width="['45']"
								   data-height="['32']"
								   data-transform_idle="o:1;tO:-20% 50%;"
								   data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:500;e:Power1.easeInOut;"
								   data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(0, 0, 0, 1.00);cursor:pointer;"

								   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								   data-transform_out="opacity:0;s:700;e:Power1.easeInOut;s:700;e:Power1.easeInOut;"
								   data-start="500"
								   data-splitin="none"
								   data-splitout="none"
								   data-actions=''
								   data-basealign="slide"
								   data-responsive_offset="off"
								   data-responsive="off"

								   style="fa fa-linkz-index: 6; min-width: 45px; max-width: 45px; max-width: 32px; max-width: 32px; white-space: normal; color: rgba(0, 0, 0, 1.00);text-align:center;background-color:rgba(255, 255, 255, 1.00);"><i class="fa fa-link"></i>
								</a>
							</li>
							{%elif val.model_id==10%}
							<!-- SLIDE  -->
							<li data-index="rs-{{val.id}}" data-transition="scaledownfromleft" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="{{val.cover_id|get_pic('m=1,w=100,h=50')}}"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="{{val.title|truncate(16, true, '...')}}" data-param1="{{val.update_time|moment('YYYY-MM-DD HH:mm:ss')}}" data-param2="" data-description="开始:{{val.create_time|moment('YYYY-MM-DD')}} - 结束:{{val.deadline|moment('YYYY-MM-DD')}}">
								<!-- MAIN IMAGE -->
								<img src="/static/assets/images/1x1.png"  alt=""   data-lazyload="{{val.cover_id|get_pic('m=2,w=528,h=422')}}" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->


								<!-- LAYER NR. 1 -->
								<div class="tp-caption Facebook-Likes  "
									 id="slide-28-layer-1"
									 data-x="10"
									 data-y="bottom" data-voffset="10"
									 data-width="['165']"
									 data-height="['32']"
									 data-transform_idle="o:1;tO:-20% 50%;"

									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
									 data-transform_out="opacity:0;s:700;e:Power1.easeInOut;s:700;e:Power1.easeInOut;"
									 data-start="500"
									 data-splitin="none"
									 data-splitout="none"
									 data-basealign="slide"
									 data-responsive_offset="off"
									 data-responsive="off"

									 style="z-index: 5;  max-width: 90px; max-width: 32px; max-width: 32px; white-space: normal;text-align:center;"><i class="fa fa-thumbs-o-up"></i> {{val.view}}
								</div>

								<!-- LAYER NR. 2 -->
								<a class="tp-caption Facebook-Likes" href="{{val.name|get_url(val.id)}}" target="_blank"
								   id="slide-28-layer-2"
								   data-x="176"
								   data-y="bottom" data-voffset="10"
								   data-width="['45']"
								   data-height="['32']"
								   data-transform_idle="o:1;tO:-20% 50%;"
								   data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:500;e:Power1.easeInOut;"
								   data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(0, 0, 0, 1.00);cursor:pointer;"

								   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								   data-transform_out="opacity:0;s:700;e:Power1.easeInOut;s:700;e:Power1.easeInOut;"
								   data-start="500"
								   data-splitin="none"
								   data-splitout="none"
								   data-actions=''
								   data-basealign="slide"
								   data-responsive_offset="off"
								   data-responsive="off"

								   style="fa fa-linkz-index: 6; min-width: 45px; max-width: 45px; max-width: 32px; max-width: 32px; white-space: normal; color: rgba(0, 0, 0, 1.00);text-align:center;background-color:rgba(255, 255, 255, 1.00);"><i class="fa fa-link"></i>
								</a>
							</li>
							{%else %}
							<!-- SLIDE  -->
							<li data-index="rs-{{val.id}}" data-transition="scaledownfromleft" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="{{val.cover_id|get_pic('m=1,w=100,h=50')}}"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="{{val.title|truncate(16, true, '...')}}" data-param1="{{val.update_time|moment('YYYY-MM-DD HH:mm:ss')}}" data-param2="" data-description="{{val.description|truncate(18, true, '...')}}">
								<!-- MAIN IMAGE -->
								<img src="/static/assets/images/1x1.png"  alt=""   data-lazyload="{{val.cover_id|get_pic('m=2,w=528,h=422')}}" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->


								<!-- LAYER NR. 1 -->
								<div class="tp-caption Facebook-Likes  "
									 id="slide-28-layer-1"
									 data-x="10"
									 data-y="bottom" data-voffset="10"
									 data-width="['165']"
									 data-height="['32']"
									 data-transform_idle="o:1;tO:-20% 50%;"

									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
									 data-transform_out="opacity:0;s:700;e:Power1.easeInOut;s:700;e:Power1.easeInOut;"
									 data-start="500"
									 data-splitin="none"
									 data-splitout="none"
									 data-basealign="slide"
									 data-responsive_offset="off"
									 data-responsive="off"

									 style="z-index: 5;  max-width: 90px; max-width: 32px; max-width: 32px; white-space: normal;text-align:center;"><i class="fa fa-thumbs-o-up"></i> {{val.view}}
								</div>

								<!-- LAYER NR. 2 -->
								<a class="tp-caption Facebook-Likes" href="{{val.name|get_url(val.id)}}" target="_blank"
								   id="slide-28-layer-2"
								   data-x="176"
								   data-y="bottom" data-voffset="10"
								   data-width="['45']"
								   data-height="['32']"
								   data-transform_idle="o:1;tO:-20% 50%;"
								   data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:500;e:Power1.easeInOut;"
								   data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(0, 0, 0, 1.00);cursor:pointer;"

								   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								   data-transform_out="opacity:0;s:700;e:Power1.easeInOut;s:700;e:Power1.easeInOut;"
								   data-start="500"
								   data-splitin="none"
								   data-splitout="none"
								   data-actions=''
								   data-basealign="slide"
								   data-responsive_offset="off"
								   data-responsive="off"

								   style="fa fa-linkz-index: 6; min-width: 45px; max-width: 45px; max-width: 32px; max-width: 32px; white-space: normal; color: rgba(0, 0, 0, 1.00);text-align:center;background-color:rgba(255, 255, 255, 1.00);"><i class="fa fa-link"></i>
								</a>
							</li>
							{%endif%}
							{%endfor%}
						</ul>
						<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
					</div>
				</div><!-- END REVOLUTION SLIDER -->

			</div>
			<div class="col-md-3">
				<div class="box-light padding-10 ">
					<div class="box-inner">
						<h3>
							<a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
							名家
						</h3>
						<div class="slimscroll" style="height: 247px" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
							{%model data="authorlist",table="author",order="update_time DESC",limit="10"%}
							{% for val in authorlist %}
							<div class="clearfix margin-bottom-10"><!-- post item -->
								<img class="thumbnail pull-left margin-right-10" src="{{val.pin|get_pic('m=1,w=100,h=100')}}" width="60" height="60" alt="" />
								<h4 class="size-14 nomargin noborder nopadding"><a href="/mod/artist/{{val.pinyin}}.html" target="_blank">{{val.title}}</a></h4>
								<span class="size-12 text-muted">{{val.description|truncate(20, true, "...")}}</span>
							</div><!-- /post item -->
							{%endfor%}

						</div>
					</div>

					<div class="box-footer">
						<!-- INLINE SEARCH -->
						<div class="inline-search clearfix">
							<form action="#" method="get" class="widget_search nomargin">
								<input type="search" placeholder="Search Post..." name="s" class="serch-input">
								<button type="submit">
									<i class="fa fa-search"></i>
								</button>
								<div class="clear"></div>
							</form>
						</div>
						<!-- /INLINE SEARCH -->

					</div>

				</div>
			</div>

		</div>

		{%if 14|show_ad('code')%}
		<!-- INFO BAR -->
		<div class="margin-top-20">
			{{14|show_ad('code')|safe}}
		</div>
		<!-- /INFO BAR -->
		{%endif%}
	</div>
</section>
<section>
	<div class="container">

		<div class="row">

			<!-- RIGHT -->
			<div class="col-sm-9">
				<ul class="nav nav-tabs nav-justified">
					<li class="active"><a href="#new" data-toggle="tab">最新</a></li>
					<li ><a href="#hot" data-toggle="tab">最热</a></li>
					<li><a href="#wenda" data-toggle="tab">问答</a></li>
					{#
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#dropdown1" tabindex="-1" data-toggle="tab">@fat</a></li>
							<li><a href="#dropdown2" tabindex="-1" data-toggle="tab">@mdo</a></li>
						</ul>
					</li>
					#}
				</ul>

				<div class="tab-content">
					<div class="tab-pane fade in active" id="new">
						{% topic data = "newlist",limit="10"%}
						{% for val in newlist %}
						{% set categoryname = val.category_id|get_cate %}
						{%if val.model_id==4%}
						{% set pic = val.pics|strToArray%}
						<!-- POST ITEM -->
						<div class="blog-post-item padding-bottom-20 margin-bottom-20 clearfix">

							<!-- IMAGE -->
							{% if pic[0]>0 %}
							<figure class="blog-item-small-image margin-bottom-0">
								<img class="img-responsive" src="{{pic[0]|get_pic('m=1,w=200,h=120')}}" alt="">
							</figure>
							{% endif %}
							<div class="blog-item-small-content">
								<h2><a href="{{val.name|get_url(val.id)}}" target="_blank" title="{{val.title}}">{{val.title|truncate(50, true, "...")}}</a></h2>

								<ul class="blog-post-info list-inline padding-bottom-10">
									<li>
										<a href="#">
											<i class="fa fa-clock-o"></i>
											<span class="font-lato">{{val.update_time|dateformat('Y-m-d H:i')}}</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-comment-o"></i>
											<span class="font-lato">{{val.view}}</span>
										</a>
									</li>
									<li>
										<i class="fa fa-folder-open-o"></i>

										<a class="category" href="{{categoryname.url}}">
											<span class="font-lato">{{categoryname.name}}</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-user"></i>
											<span class="font-lato">{{val.uid|get_nickname}}</span>
										</a>
									</li>
								</ul>

								<p><div class="shop-item-price" style="font-size: 20px;margin-top: 6px;font-weight: bold; float: left">
								{% if val.price|get_price_format('2') %}<span class="line-through" style="color: #999;font-size: 15px;display: inline-block;padding: 0 10px;font-weight: 400;">¥{{val.price|get_price_format('2')}}</span>{%endif%}
								¥{{val.price|get_price_format('1')}}
							</div><div class="shop-item-buttons" style="float: left;margin-left: 15px">
								<a class="btn btn-default" href="{{val.name|get_url(val.id)}}" target="_blank"><i class="fa fa-cart-plus"></i> 立即购买</a>
								<!-- replace data-item-id width the real item ID - used by js/view/demo.shop.js -->
								<a class="btn btn-default add-wishlist" href="#" data-item-id="1" data-toggle="tooltip" title="" data-original-title="Add To Wishlist"><i class="fa fa-heart nopadding"></i></a>
								<a class="btn btn-default add-compare" href="#" data-item-id="1" data-toggle="tooltip" title="" data-original-title="Add To Compare"><i class="fa fa-bar-chart-o nopadding" data-toggle="tooltip"></i></a>
							</div></p>
							</div>

						</div>
						<!-- /POST ITEM -->
						{%elif val.model_id === 10 %}
						<!-- POST ITEM -->
						<div class="blog-post-item padding-bottom-20 margin-bottom-20 clearfix">
							<div class="ribbon">
								<div class="ribbon-inner">{% if null|getnow < val.create_time %}未开幕{%elif (null|getnow > val.create_time) and (null|getnow < val.deadline)%}展览中{%elif null|getnow > val.deadline%}已结束{%endif%}</div>
							</div>
							<!-- IMAGE -->
							{% if val.cover_id>0 %}
							<figure class="blog-item-small-image margin-bottom-0">
								<img class="img-responsive" src="{{val.cover_id|get_pic('m=1,w=200,h=120')}}" alt="">
							</figure>
							{% endif %}
							<div class="blog-item-small-content">
								<h2><a href="{{val.name|get_url(val.id)}}" target="_blank" title="{{val.title}}">{{val.title|truncate(50, true, "...")}}</a></h2>

								<ul class="blog-post-info list-inline padding-bottom-10">
									<li>
										<a href="#">
											<i class="fa fa-clock-o"></i>
											<span class="font-lato">{{val.update_time|dateformat('Y-m-d H:i')}}</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-comment-o"></i>
											<span class="font-lato">{{val.view}}</span>
										</a>
									</li>
									<li>
										<i class="fa fa-folder-open-o"></i>

										<a class="category" href="{{categoryname.url}}">
											<span class="font-lato">{{categoryname.name}}</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-user"></i>
											<span class="font-lato">{{val.uid|get_nickname}}</span>
										</a>
									</li>
								</ul>

								<div class="alert alert-mini alert-success "><!-- SUCCESS -->
									<strong></strong> <span style="width: 60px"><i class="fa fa-calendar-check-o"></i> 开始:</span> {{ val.create_time|dateformat('Y-m-d') }} <span style="width: 60px"><i class="fa fa-calendar-times-o"></i> 结束:</span> {{val.deadline|dateformat('Y-m-d')}} <span style="width: 60px"><i class="fa fa-map-marker"></i> 地点:</span> {{val.id|getmodelfield(val.model_id,'addr')}}
								</div>

							</div>

						</div>
						<!-- /POST ITEM -->
						{%else%}
						<!-- POST ITEM -->
						<div class="blog-post-item padding-bottom-20 margin-bottom-20 clearfix">

							<!-- IMAGE -->
							{% if val.cover_id>0 %}
							<figure class="blog-item-small-image margin-bottom-0">
								<img class="img-responsive" src="{{val.cover_id|get_pic('m=1,w=200,h=120')}}" alt="">
							</figure>
							{% endif %}
							<div class="blog-item-small-content">
								<h2><a href="{{val.name|get_url(val.id)}}" target="_blank" title="{{val.title}}">{{val.title|truncate(50, true, "...")}}</a></h2>

								<ul class="blog-post-info list-inline padding-bottom-10">
									<li>
										<a href="#">
											<i class="fa fa-clock-o"></i>
											<span class="font-lato">{{val.update_time|dateformat('Y-m-d H:i')}}</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-comment-o"></i>
											<span class="font-lato">{{val.view}}</span>
										</a>
									</li>
									<li>
										<i class="fa fa-folder-open-o"></i>

										<a class="category" href="{{categoryname.url}}">
											<span class="font-lato">{{categoryname.name}}</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-user"></i>
											<span class="font-lato">{{val.uid|get_nickname}}</span>
										</a>
									</li>
								</ul>

								<p>{{val.description|truncate(90, true, "...")}}</p>
							</div>

						</div>
						<!-- /POST ITEM -->
						{%endif%}
						{%endfor%}
					</div>
					<div class="tab-pane fade" id="hot">
						{% topic data = "hotlist",limit="10",type="hot"%}
						{% for val in hotlist %}
						{% set categoryname = val.category_id|get_cate %}
						{%if val.model_id==4%}
						{% set pic = val.pics|strToArray%}
						<!-- POST ITEM -->
						<div class="blog-post-item padding-bottom-20 margin-bottom-20 clearfix">

							<!-- IMAGE -->
							{% if pic[0]>0 %}
							<figure class="blog-item-small-image margin-bottom-0">
								<img class="img-responsive" src="{{pic[0]|get_pic('m=1,w=200,h=120')}}" alt="">
							</figure>
							{% endif %}
							<div class="blog-item-small-content">
								<h2><a href="{{val.name|get_url(val.id)}}" target="_blank" title="{{val.title}}">{{val.title}}</a></h2>

								<ul class="blog-post-info list-inline padding-bottom-10">
									<li>
										<a href="#">
											<i class="fa fa-clock-o"></i>
											<span class="font-lato">{{val.update_time|dateformat('Y-m-d H:i')}}</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-comment-o"></i>
											<span class="font-lato">{{val.view}}</span>
										</a>
									</li>
									<li>
										<i class="fa fa-folder-open-o"></i>

										<a class="category" href="{{categoryname.url}}">
											<span class="font-lato">{{categoryname.name}}</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-user"></i>
											<span class="font-lato">{{val.uid|get_nickname}}</span>
										</a>
									</li>
								</ul>

								<p><div class="shop-item-price" style="font-size: 20px;margin-top: 6px;font-weight: bold; float: left">
								{% if val.price|get_price_format('2') %}<span class="line-through" style="color: #999;font-size: 15px;display: inline-block;padding: 0 10px;font-weight: 400;">¥{{val.price|get_price_format('2')}}</span>{%endif%}
								¥{{val.price|get_price_format('1')}}
							</div><div class="shop-item-buttons" style="float: left;margin-left: 15px">
								<a class="btn btn-default" href="{{val.name|get_url(val.id)}}" target="_blank"><i class="fa fa-cart-plus"></i> 立即购买</a>
								<!-- replace data-item-id width the real item ID - used by js/view/demo.shop.js -->
								<a class="btn btn-default add-wishlist" href="#" data-item-id="1" data-toggle="tooltip" title="" data-original-title="Add To Wishlist"><i class="fa fa-heart nopadding"></i></a>
								<a class="btn btn-default add-compare" href="#" data-item-id="1" data-toggle="tooltip" title="" data-original-title="Add To Compare"><i class="fa fa-bar-chart-o nopadding" data-toggle="tooltip"></i></a>
							</div></p>
							</div>

						</div>
						<!-- /POST ITEM -->
						{%elif val.model_id === 10 %}
						<!-- POST ITEM -->
						<div class="blog-post-item padding-bottom-20 margin-bottom-20 clearfix">
							<div class="ribbon">
								<div class="ribbon-inner">{% if null|getnow < val.create_time %}未开幕{%elif (null|getnow > val.create_time) and (null|getnow < val.deadline)%}展览中{%elif null|getnow > val.deadline%}已结束{%endif%}</div>
							</div>
							<!-- IMAGE -->
							{% if val.cover_id>0 %}
							<figure class="blog-item-small-image margin-bottom-0">
								<img class="img-responsive" src="{{val.cover_id|get_pic('m=1,w=200,h=120')}}" alt="">
							</figure>
							{% endif %}
							<div class="blog-item-small-content">
								<h2><a href="{{val.name|get_url(val.id)}}" target="_blank" title="{{val.title}}">{{val.title}}</a></h2>

								<ul class="blog-post-info list-inline padding-bottom-10">
									<li>
										<a href="#">
											<i class="fa fa-clock-o"></i>
											<span class="font-lato">{{val.update_time|dateformat('Y-m-d H:i')}}</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-comment-o"></i>
											<span class="font-lato">{{val.view}}</span>
										</a>
									</li>
									<li>
										<i class="fa fa-folder-open-o"></i>

										<a class="category" href="{{categoryname.url}}">
											<span class="font-lato">{{categoryname.name}}</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-user"></i>
											<span class="font-lato">{{val.uid|get_nickname}}</span>
										</a>
									</li>
								</ul>

								<div class="alert alert-mini alert-success "><!-- SUCCESS -->
									<strong></strong> <span style="width: 60px"><i class="fa fa-calendar-check-o"></i> 开始:</span> {{ val.create_time|dateformat('Y-m-d') }} <span style="width: 60px"><i class="fa fa-calendar-times-o"></i> 结束:</span> {{val.deadline|dateformat('Y-m-d')}} <span style="width: 60px"><i class="fa fa-map-marker"></i> 地点:</span> {{val.id|getmodelfield(val.model_id,'addr')}}
								</div>

							</div>

						</div>
						<!-- /POST ITEM -->
						{%else%}
						<!-- POST ITEM -->
						<div class="blog-post-item padding-bottom-20 margin-bottom-20 clearfix">

							<!-- IMAGE -->
							{% if val.cover_id>0 %}
							<figure class="blog-item-small-image margin-bottom-0">
								<img class="img-responsive" src="{{val.cover_id|get_pic('m=1,w=200,h=120')}}" alt="">
							</figure>
							{% endif %}
							<div class="blog-item-small-content">
								<h2><a href="{{val.name|get_url(val.id)}}" target="_blank" title="{{val.title}}">{{val.title}}</a></h2>

								<ul class="blog-post-info list-inline padding-bottom-10">
									<li>
										<a href="#">
											<i class="fa fa-clock-o"></i>
											<span class="font-lato">{{val.update_time|dateformat('Y-m-d H:i')}}</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-comment-o"></i>
											<span class="font-lato">{{val.view}}</span>
										</a>
									</li>
									<li>
										<i class="fa fa-folder-open-o"></i>

										<a class="category" href="{{categoryname.url}}">
											<span class="font-lato">{{categoryname.name}}</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-user"></i>
											<span class="font-lato">{{val.uid|get_nickname}}</span>
										</a>
									</li>
								</ul>

								<p>{{val.description|truncate(90, true, "...")}}</p>
							</div>

						</div>
						<!-- /POST ITEM -->
						{%endif%}
						{%endfor%}
					</div>
					<div class="tab-pane fade" id="wenda">
						<div class="timeline">
							<div class="timeline-hline"><!-- horizontal line cache='1000'--></div>
							{%model data="list",table="question",order="update_time DESC",limit="10"%}
							{% for val in list %}
							{% set categoryname = val.category_id|get_cate %}
							{% set imgs= val.detail|img_text_view(200,120)%}
							<!-- POST ITEM -->
							<div class="blog-post-item blog-post-item-inverse padding-top-20 padding-bottom-20 margin-bottom-0 clearfix">
								<div class="timeline-entry" ><!-- .rounded = entry -->
									<a href="#"><img src="/uc/index/avatar/uid/{{val.uid}}" style="width: 58px;height: 58px; margin-top: -10px"></a>
									<div class="timeline-vline"><!-- vertical line --></div>
								</div>
								<!-- IMAGE -->
								{% if imgs|length==1 %}
								<figure class="blog-item-small-image margin-bottom-0">
									<img class="img-responsive" src="{{imgs[0]}}" alt="">
								</figure>
								{% endif %}
								<div class="blog-item-small-content">
									<h2><a href="/mod/question/{{val.id}}{{http.config('view.file_ext')}}" title="{{val.title}}">{{val.title}}</a></h2>
									<ul class="blog-post-info list-inline padding-bottom-10">
										<li>

											<a class="" href="{{categoryname.url}}">
												<span class="label label-light">{{categoryname.name}}</span>
											</a>
										</li>
										<li>{%if val.answer_users>0%}
											<a href="#">
												<span class="font-lato">{{val.answer_users|get_nickname}}</span>
											</a>
											<span class="font-lato"> 回复了问题</span>
											{%else%}
											<a href="#">
												<span class="font-lato">{{val.uid|get_nickname}}</span>
											</a>
											<span class="font-lato"> 发起了问题</span>
											{%endif%}
										</li>
										<li>
                                <span class="font-lato">
                                {{val.focus_count}} 人关注
                                    </span>
										</li>
										<li>
											<span class="font-lato">{{val.answer_count}} 个回复</span>

										</li>
										<li>
											<span class="font-lato">{{val.view}} 次浏览</span>
										</li>
										<li>
											<span class="font-lato"> {{val.update_time|moment}}</span>
										</li>

									</ul>
									{% if imgs|length>1 %}
									<div class="row margin-bottom-10">
										{%set i = 0%}
										{%for img in imgs%}
										{%if i< 4 %}
										<div class="col-md-3"><img class="img-responsive" src="{{img}}" alt=""></div>
										{%endif%}
										{%set i=i+1%}
										{%endfor%}
									</div>
									{%endif%}
									<p>{{val.detail|delhtmltags|truncate(90, true, "...")|safe}}</p>
								</div>

							</div>
							<!-- /POST ITEM -->
							{%endfor%}

						</div>

						<!-- PAGINATION -->

						<a class="btn btn-featured btn-default btn-inverse" href="/question.html" >
							<span>今天，你遇到了什么问题呢？进入社区寻求答案！</span>
							<i class="et-happy"></i>
						</a>
						<!-- /PAGINATION -->
					</div>


				</div>
			</div>
			<!-- LEFT -->
			<div class="col-md-3 col-sm-3">

				{% if controller.is_login %}
				<div class="alert alert-info margin-bottom-20 box-shadow-4"><!-- INFO -->
					今天，你遇到了什么问题呢？
					<a href="/mod/question/sys/add/cid/123" class="btn btn-primary btn-3d btn-block margin-top-10">提问</a>
				</div>
				{%else%}
				<div class="alert alert-info margin-bottom-20 box-shadow-4"><!-- INFO -->
					你好! 你还没有登录，请先登录.
					<a class="btn btn-block btn-social btn-dropbox margin-top-10  " href="/uc/public/login" data-toggle="ajaxModal">
						<i class="fa fa-sign-in"></i> 登录{{controller.setup.WEB_SITE_TITLE}}
					</a>
				</div>
				{%endif%}

				<div class="box-inner nopadding  margin-bottom-20">
					<h3>
						<a class="pull-right size-11 text-warning" href="/topic">更多</a>
						热门话题
					</h3>
					<div class="" >
						{% keywords data ="topic",type="hot",limit="5" %}
						{%for k in topic%}
						<div class="clearfix margin-bottom-10"><!-- discussion item -->
							{%if k.pic==0%}
							<i class="ico-light ico-60 ico-hover et-chat pull-left margin-bottom-0 margin-top-0" ></i>
							{%else%}
							<img class="thumbnail pull-left" src="/static/assets/images/demo/people/300x300/4-min.jpg" width="60" height="60" alt="" />
							{%endif%}
							<h4 class=" nomargin noborder nopadding bold"><a class="tag " href="{{k.url}}">
								<span class="txt">{{k.keyname}}</span>
								<span class="num"><i class="fa fa-fire"></i></span>
							</a>
							</h4>
							<span class="size-13 text-muted">
                                {{k.videonum}} 个主题, {{k.focus_count}} 人关注
												</span>
						</div><!-- /discussion item -->
						{%endfor%}


					</div>
				</div>


				{%model data="data",table="question_user",cache='1000',order="question_count DESC",alias="a",limit="10",join='{"member": {"join": "left","as":"b","on": ["a.uid", "b.id"]}}'%}
				{%if data.length>0%}
				<div class="box-inner nopadding  margin-bottom-20">
					<h3>
						<a class="pull-right size-11 text-warning" href="#">更多</a>
						热门用户
					</h3>
					<div class="" >
						{%for user in data%}
						<div class="clearfix margin-bottom-10"><!-- squared item -->
							<img class="thumbnail pull-left rounded" src="/uc/index/avatar/uid/{{user.uid}}" width="40" height="40" alt="" />
							<h4 class="size-14 nomargin noborder nopadding bold"><a href="#">{{user.username}}</a></h4>
							<span class="size-12 text-muted">{{user.question_count}} 个问题, {{user.agree_count}} 次赞同</span>
						</div><!-- /squared item -->
						{%endfor%}

					</div>
				</div>

				{%endif%}

				{{13|show_ad('code')|safe}}
			</div>


		</div>


	</div>
</section>

<!--
controlls-over		= navigation buttons over the image
buttons-autohide 	= navigation buttons visible on mouse hover only

data-plugin-options:
"singleItem": true
"autoPlay": true (or ms. eg: 4000)
"navigation": true
"pagination": true
-->
<section class="heading-title " style="padding-top: 10px ;padding-bottom: 10px;background-color: rgba(0,0,0,0.05)">
	<div class="container">

		<!-- H4 -->
		<div class="heading-title heading-border heading-color nomargin">
			<h4 style="background-color: rgba(0,0,0,0);color: #333">友情链接 <span>Friendship link</span></h4>
			<p class="font-lato size-14"><a href="/ext/link/index/apply">申请友情链接</a> | <a href="/ext/link/index">更多&gt;&gt;</a> </p>
		</div>

	</div>
</section>
<div class="text-center margin-top-20 margin-bottom-20">
<div class="owl-carousel nomargin" data-plugin-options='{"items":6, "singleItem": false, "autoPlay": true}'>
	{% model data ="link",table="ext_link",where='{"passed":1}',limit="8"%}
	{%for l in link%}
<div>
	<a href="{{l.url}}" target="_blank">
<img class="img-responsive" src="{{l.logo}}" alt="{{l.name}}">
	</a>
</div>
	{%endfor%}
</div>
</div>
{% endblock %}
{%block script%}
<!-- REVOLUTION SLIDER -->
<script type="text/javascript" src="/static/assets/plugins/slider.revolution.v5/js/jquery.themepunch.revolution.min.js"></script>	<script type="text/javascript">
    jQuery(document).ready(function() {
        if(jQuery("#rev_slider_8_1").revolution == undefined){
            revslider_showDoubleJqueryError("#rev_slider_8_1");
        }else{
            revapi8 = jQuery("#rev_slider_8_1").show().revolution({
                sliderType:"standard",
                jsFileLocation:plugin_path + "slider.revolution.v5/js/",
                sliderLayout:"auto",
                dottedOverlay:"none",
                delay:9000,
                navigation: {
                    keyboardNavigation:"on",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation:"off",
                    onHoverStop:"off",
                    touch:{
                        touchenabled:"on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    }
                    ,
                    arrows: {
                        style:"gyges",
                        enable:true,
                        hide_onmobile:false,
                        hide_onleave:false,
                        tmp:'',
                        left: {
                            h_align:"right",
                            v_align:"bottom",
                            h_offset:40,
                            v_offset:0
                        },
                        right: {
                            h_align:"right",
                            v_align:"bottom",
                            h_offset:0,
                            v_offset:0
                        }
                    }
                    ,
                    tabs: {
                        style:"ares",
                        enable:true,
                        width:350,
                        height:80,
                        min_width:350,
                        wrapper_padding:0,
                        wrapper_color:"#f5f5f5",
                        wrapper_opacity:"1",
                        tmp:'{% raw %}<div class="tp-tab-content">  <span class="tp-tab-date">{{param1}}</span>  <span class="tp-tab-title">{{title}}</span><span class="tp-tab-description tex-888 size-12">{{description}}</span></div><div class="tp-tab-image"></div>{%endraw%}',
                        visibleAmount: 10,
                        hide_onmobile: true,
                        hide_under:776,
                        hide_onleave:false,
                        hide_delay:200,
                        direction:"vertical",
                        span:true,
                        position:"outer-left",
                        space:0,
                        h_align:"left",
                        v_align:"top",
                        h_offset:0,
                        v_offset:0
                    }
                },
                gridwidth:800,
                gridheight:640,
                lazyType:"single",
                shadow:0,
                spinner:"off",
                stopLoop:"on",
                stopAfterLoops:0,
                stopAtSlide:1,
                shuffle:"off",
                autoHeight:"off",
                disableProgressBar:"on",
                hideThumbsOnMobile:"off",
                hideSliderAtLimit:0,
                hideCaptionAtLimit:0,
                hideAllCaptionAtLilmit:0,
                debugMode:false,
                fallbacks: {
                    simplifyAll:"off",
                    nextSlideOnWindowFocus:"off",
                    disableFocusListener:false,
                }
            });
        }
    });
</script>

{%endblock%}