.dataTables_wrapper {
  position: relative;
}
.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
  z-index: 1;
}
.dataTables_wrapper .table {
  border: 1px solid #eee;
  border-width: 1px 0;
}
.dataTables_wrapper .row {
  margin-left: -15px;
  margin-right: -15px;
}
.dataTables_wrapper label {
  font-weight: normal;
  font-size: 12px;
  display: block;
  margin-bottom: 0;
}
.dataTables_wrapper select,
.dataTables_wrapper input {
  font-size: 12px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 3px;
  display: inline;
  border: 1px solid #d9d9d9;
}
.dataTables_wrapper select {
  width: 75px;
}

.dataTables_wrapper input[type="checkbox"],
.dataTables_wrapper input[type="radio"]{
  height: auto;
}

.dataTables_filter,
.dataTables_paginate {
  float: right;
}
.dataTables_length,
.dataTables_filter {
  padding: 15px;
}
.dataTables_info,
.dataTables_paginate {
  padding: 15px;
}
.dataTables_wrapper .paginate_button,
.dataTables_wrapper .paginate_active {
  cursor: pointer;
  outline: 0;
  border: 1px solid #d9d9d9;
  border-right-width: 0;
  background: #fff;
  padding: 4px 8px;
}
.dataTables_wrapper .paginate_active {
  background-color: #f5f5f5;
}
.dataTables_wrapper .paginate_button_disabled {
  color: #ccc;
  background-color: #fafafa;
}
.paginate_button.first {
  border-radius: 3px 0 0 3px;
}
.paginate_button.last {
  border-radius: 0 3px 3px 0;
  border-right-width: 1px;
}
.dataTables_wrapper th {
  cursor: pointer;
  outline: 0;
}
.dataTables_wrapper th:after {
  font-family: FontAwesome;
  color: #666;
  position: relative;
  font-weight: normal;
  float: right;
}
.dataTables_wrapper .sorting:after {
  content: "\f0dc";
  color: #ccc;
}
.dataTables_wrapper .sorting_asc:after {
  content: "\f0de";
}
.dataTables_wrapper .sorting_desc:after {
  content: "\f0dd";
}