{% extends "../inc/base.html" %}
{% block style %}
<script src="/static/admin/js/udeitor/ueditor.parse.min.js"></script>
{% endblock %}
{% block content %}
<!--
PAGE HEADER

CLASSES:
.page-header-xs	= 20px margins
.page-header-md	= 50px margins
.page-header-lg	= 80px margins
.page-header-xlg= 130px margins
.dark			= dark page header

.shadow-before-1 	= shadow 1 header top
.shadow-after-1 	= shadow 1 header bottom
.shadow-before-2 	= shadow 2 header top
.shadow-after-2 	= shadow 2 header bottom
.shadow-before-3 	= shadow 3 header top
.shadow-after-3 	= shadow 3 header bottom
-->
<section class="page-header dark page-header-xs parallax parallax-2" style="background-image:url('/static/assets/images/demo/thematics/lawyer/slider_bg_4-min.jpg')">
<div class="overlay dark-2"><!-- dark overlay [1 to 9 opacity] --></div>
<div class="container">

<h1>{{category.title}}</h1>

<!-- breadcrumbs -->
<ol class="breadcrumb f-14">
<li><a href="/">首页</a></li>
{%for val in breadcrumb %}
<li><a href="{{val.url}}">{{val.title}}</a></li>
{% endfor %}
</ol><!-- /breadcrumbs -->

<!-- page tabs -->
{%column data="cate",pid=category.pid%}
{%if cate%}
<ul class="page-header-tabs list-inline">

<!--<li class="active"><a href="portfolio-masonry-3-columns.html">With Gutter</a></li>-->
{%for val in cate%}
<li  {%if val.id == category.id %}class="active"{%endif%}><a href="{{val.url}}">{{val.name}}</a></li>
{%endfor%}
</ul>
{%endif%}<!-- /page tabs -->
</div>
</section>
<!-- /PAGE HEADER -->
<!-- -->
<section>
<div class="container">

<div class="row">

<!-- LEFT -->
<div class="col-md-3 col-sm-3">

<!-- INLINE SEARCH -->
<div class="inline-search clearfix margin-bottom-30">
<form action="" method="get" class="widget_search">
<input type="search" placeholder="Start Searching..." id="s" name="s" class="serch-input">
<button type="submit">
<i class="fa fa-search"></i>
</button>
</form>
</div>
<!-- /INLINE SEARCH -->

<hr />

<!-- side navigation -->
{% column data="cate",cid=category.id %}
{% if cate %}
<div class="side-nav margin-bottom-60 margin-top-30">
<div class="side-nav-head">
<button class="fa fa-bars"></button>
<h4>CATEGORIES</h4>
</div>
<ul class="list-group list-group-bordered list-group-noicon uppercase">
{%for val in cate%}
<li class="list-group-item"><a href="{{val.url}}"><span class="size-11 text-muted pull-right">(12)</span> {{val.name}}</a></li>
{%endfor%}
</ul>
<!-- /side navigation -->
</div>
{%endif%}

<!-- JUSTIFIED TAB -->
<div class="tabs nomargin-top hidden-xs margin-bottom-60">

<!-- tabs -->
<ul class="nav nav-tabs nav-bottom-border nav-justified">
<li class="active">
<a href="#tab_1" data-toggle="tab">
Popular
</a>
</li>
<li>
<a href="#tab_2" data-toggle="tab">
Recent
</a>
</li>
</ul>

<!-- tabs content -->
<div class="tab-content margin-bottom-60 margin-top-30">

<!-- POPULAR -->
<div id="tab_1" class="tab-pane active">

<div class="row tab-post"><!-- post -->
<div class="col-md-3 col-sm-3 col-xs-3">
<a href="blog-sidebar-left.html">
<img src="/static/assets/images/demo/people/300x300/1-min.jpg" width="50" alt="" />
</a>
</div>
<div class="col-md-9 col-sm-9 col-xs-9">
<a href="blog-sidebar-left.html" class="tab-post-link">Maecenas metus nulla</a>
<small>June 29 2014</small>
</div>
</div><!-- /post -->

<div class="row tab-post"><!-- post -->
<div class="col-md-3 col-sm-3 col-xs-3">
<a href="blog-sidebar-left.html">
<img src="/static/assets/images/demo/people/300x300/2-min.jpg" width="50" alt="" />
</a>
</div>
<div class="col-md-9 col-sm-9 col-xs-9">
<a href="blog-sidebar-left.html" class="tab-post-link">Curabitur pellentesque neque eget diam</a>
<small>June 29 2014</small>
</div>
</div><!-- /post -->

<div class="row tab-post"><!-- post -->
<div class="col-md-3 col-sm-3 col-xs-3">
<a href="blog-sidebar-left.html">
<img src="/static/assets/images/demo/people/300x300/3-min.jpg" width="50" alt="" />
</a>
</div>
<div class="col-md-9 col-sm-9 col-xs-9">
<a href="blog-sidebar-left.html" class="tab-post-link">Nam et lacus neque. Ut enim massa, sodales</a>
<small>June 29 2014</small>
</div>
</div><!-- /post -->

</div>
<!-- /POPULAR -->


<!-- RECENT -->
<div id="tab_2" class="tab-pane">

<div class="row tab-post"><!-- post -->
<div class="col-md-3 col-sm-3 col-xs-3">
<a href="blog-sidebar-left.html">
<img src="/static/assets/images/demo/people/300x300/4-min.jpg" width="50" alt="" />
</a>
</div>
<div class="col-md-9 col-sm-9 col-xs-9">
<a href="/static/blog-sidebar-left.html" class="tab-post-link">Curabitur pellentesque neque eget diam</a>
<small>June 29 2014</small>
</div>
</div><!-- /post -->

<div class="row tab-post"><!-- post -->
<div class="col-md-3 col-sm-3 col-xs-3">
<a href="blog-sidebar-left.html">
<img src="/static/assets/images/demo/people/300x300/5-min.jpg" width="50" alt="" />
</a>
</div>
<div class="col-md-9 col-sm-9 col-xs-9">
<a href="blog-sidebar-left.html" class="tab-post-link">Maecenas metus nulla</a>
<small>June 29 2014</small>
</div>
</div><!-- /post -->

<div class="row tab-post"><!-- post -->
<div class="col-md-3 col-sm-3 col-xs-3">
<a href="blog-sidebar-left.html">
<img src="/static/assets/images/demo/people/300x300/6-min.jpg" width="50" alt="" />
</a>
</div>
<div class="col-md-9 col-sm-9 col-xs-9">
<a href="blog-sidebar-left.html" class="tab-post-link">Quisque ut nulla at nunc</a>
<small>June 29 2014</small>
</div>
</div><!-- /post -->
</div>
<!-- /RECENT -->

</div>

</div>
<!-- JUSTIFIED TAB -->


<!-- TAGS -->
<h3 class="hidden-xs size-16 margin-bottom-20">TAGS</h3>
<div class="hidden-xs margin-bottom-60">

<a class="tag" href="#">
<span class="txt">RESPONSIVE</span>
<span class="num">12</span>
</a>
<a class="tag" href="#">
<span class="txt">CSS</span>
<span class="num">3</span>
</a>
<a class="tag" href="#">
<span class="txt">HTML</span>
<span class="num">1</span>
</a>
<a class="tag" href="#">
<span class="txt">JAVASCRIPT</span>
<span class="num">28</span>
</a>
<a class="tag" href="#">
<span class="txt">DESIGN</span>
<span class="num">6</span>
</a>
<a class="tag" href="#">
<span class="txt">DEVELOPMENT</span>
<span class="num">3</span>
</a>
</div>



<hr />


<!-- SOCIAL ICONS -->
<div class="hidden-xs margin-top-30 margin-bottom-60">
<a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
<i class="icon-facebook"></i>
<i class="icon-facebook"></i>
</a>

<a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
<i class="icon-twitter"></i>
<i class="icon-twitter"></i>
</a>

<a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
<i class="icon-gplus"></i>
<i class="icon-gplus"></i>
</a>

<a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
<i class="icon-linkedin"></i>
<i class="icon-linkedin"></i>
</a>

<a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
<i class="icon-rss"></i>
<i class="icon-rss"></i>
</a>
</div>

</div>

<!-- RIGHT -->
<div class="col-md-9 col-sm-9">

<h1 class="blog-post-title">{{info.title}}</h1>
<ul class="blog-post-info list-inline">
<li>
<a href="#">
<i class="fa fa-clock-o"></i>
<span class="font-lato">{{ info.update_time|dateformat('Y-m-d H:i') }}</span>
</a>
</li>
<li>
<a href="#">
<i class="fa fa-comment-o"></i>
<span class="font-lato">28 Comments</span>
</a>
</li>
<li>
<i class="fa fa-folder-open-o"></i>

<a class="category" href="#">
<span class="font-lato">{{info.category_id}}</span>
</a>
<a class="category" href="#">
<span class="font-lato">Photography</span>
</a>
</li>
<li>
<a href="#">
<i class="fa fa-user"></i>
<span class="font-lato">{{info.uid|get_nickname}}</span>
</a>
</li>
</ul>

<!-- OWL SLIDER -->
<!--
<div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 4500, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
<a class="lightbox" href="assets/images/demo/1200x800/10-min.jpg" data-plugin-options='{"type":"image"}'>
<img class="img-responsive" src="assets/images/demo/content_slider/10-min.jpg" alt="" />
</a>
<a class="lightbox" href="assets/images/demo/1200x800/3-min.jpg" data-plugin-options='{"type":"image"}'>
<img class="img-responsive" src="assets/images/demo/content_slider/3-min.jpg" alt="" />
</a>
<a class="lightbox" href="assets/images/demo/1200x800/21-min.jpg" data-plugin-options='{"type":"image"}'>
<img class="img-responsive" src="assets/images/demo/content_slider/21-min.jpg" alt="" />
</a>
</div>
-->
<!-- /OWL SLIDER -->

<!-- IMAGE -->
{% if info.cover_id>0 %}
<figure class="margin-bottom-20">
<img class="img-responsive" src="{{info.cover_id|get_cover('path')}}" alt="{{info.title}}">
</figure>
{% endif %}
<!-- /IMAGE -->

<!-- VIDEO -->
<!--
<div class="margin-bottom-20 embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="http://player.youku.com/embed/XMTQ0ODQ2Nzg4OA==" width="800" height="450"></iframe>
</div>
-->
<!-- /VIDEO -->


<!-- article content -->
<div id="content">
{{info.content|safe}}
</div>
<!-- /article content -->


<div class="divider divider-dotted"><!-- divider --></div>


<!-- TAGS -->
<a class="tag" href="#">
<span class="txt">RESPONSIVE</span>
<span class="num">12</span>
</a>
<a class="tag" href="#">
<span class="txt">CSS</span>
<span class="num">3</span>
</a>
<a class="tag" href="#">
<span class="txt">HTML</span>
<span class="num">1</span>
</a>
<a class="tag" href="#">
<span class="txt">JAVASCRIPT</span>
<span class="num">28</span>
</a>
<a class="tag" href="#">
<span class="txt">DESIGN</span>
<span class="num">6</span>
</a>
<a class="tag" href="#">
<span class="txt">DEVELOPMENT</span>
<span class="num">3</span>
</a>
<!-- /TAGS -->



<!-- SHARE POST -->
<div class="clearfix margin-top-30">

<span class="pull-left margin-top-6 bold hidden-xs">
Share Post:
</span>

<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-right" data-toggle="tooltip" data-placement="top" title="Facebook">
<i class="icon-facebook"></i>
<i class="icon-facebook"></i>
</a>

<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter pull-right" data-toggle="tooltip" data-placement="top" title="Twitter">
<i class="icon-twitter"></i>
<i class="icon-twitter"></i>
</a>

<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus pull-right" data-toggle="tooltip" data-placement="top" title="Google plus">
<i class="icon-gplus"></i>
<i class="icon-gplus"></i>
</a>

<a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin pull-right" data-toggle="tooltip" data-placement="top" title="Linkedin">
<i class="icon-linkedin"></i>
<i class="icon-linkedin"></i>
</a>

<a href="#" class="social-icon social-icon-sm social-icon-transparent social-pinterest pull-right" data-toggle="tooltip" data-placement="top" title="Pinterest">
<i class="icon-pinterest"></i>
<i class="icon-pinterest"></i>
</a>

<a href="#" class="social-icon social-icon-sm social-icon-transparent social-call pull-right" data-toggle="tooltip" data-placement="top" title="Email">
<i class="icon-email3"></i>
<i class="icon-email3"></i>
</a>

</div>
<!-- /SHARE POST -->


<div class="divider"><!-- divider --></div>


<ul class="pager">
<li class="previous"><a class="noborder" href="#">&larr; Previous Post</a></li>
<li class="next"><a class="noborder" href="#">Next Post &rarr;</a></li>
</ul>


<div class="divider"><!-- divider --></div>


<!-- COMMENTS -->
<div id="comments" class="comments">

<h4 class="page-header margin-bottom-60 size-20">
<span>3</span> COMMENTS
</h4>

<!-- comment item -->
<div class="comment-item">

<!-- user-avatar -->
<span class="user-avatar">
<img class="pull-left media-object" src="/static/assets/images/avatar.png" width="64" height="64" alt="">
</span>

<div class="media-body">
<a href="#commentForm" class="scrollTo comment-reply">reply</a>
<h4 class="media-heading bold">John Doe</h4>
<small class="block">June 29, 2014 - 11:23</small>
Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>
</div>

<!-- comment item -->
<div class="comment-item">

<!-- user-avatar -->
<span class="user-avatar">
<img class="pull-left media-object" src="/static/assets/images/avatar.png" width="64" height="64" alt="">
</span>

<div class="media-body">
<a href="#commentForm" class="scrollTo comment-reply">reply</a>
<h4 class="media-heading bold">Diana Doe</h4>
<small class="block">June 29, 2014 - 11:23</small>
Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>
</div>

<!-- comment item -->
<div class="comment-item">

<!-- user-avatar -->
<span class="user-avatar">
<img class="media-object" src="/static/assets/images/avatar.png" width="64" height="64" alt="">
</span>

<div class="media-body">
<a href="#commentForm" class="scrollTo comment-reply">reply</a>
<h4 class="media-heading bold">Melissa Doe</h4>
<small class="block">June 29, 2014 - 11:23</small>
Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

<!-- comment reply -->
<div class="media">

<!-- user-avatar -->
<span class="user-avatar">
<img class="media-object" src="/static/assets/images/avatar.png" width="64" height="64" alt="">
</span>

<div class="media-body">
<h4 class="media-heading bold">Peter Doe</h4>
<small class="block">June 29, 2014 - 11:23</small>
Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>
</div>

</div>
</div>



<h4 class="page-header size-20 margin-bottom-60 margin-top-100">
LEAVE A <span>COMMENT</span>
</h4>

<!-- Form -->
<form action="#" method="post">

<div class="row">
<div class="form-group">
<div class="col-md-4">
<label>NAME</label>
<input required="required" type="text" value="" maxlength="100" class="form-control input-lg" name="author" id="author">
</div>
<div class="col-md-4">
<label>EMAIL</label>
<input required="required" type="email" value="" maxlength="100" class="form-control input-lg" name="contact_email" id="contact_email">
</div>
<div class="col-md-4">
<label>WEBSITE</label>
<input type="email" value="" maxlength="100" class="form-control input-lg" name="url" id="url">
</div>
</div>
</div>

<div class="row">
<div class="form-group">
<div class="col-md-12">
<label>COMMENT</label>
<textarea required="required" maxlength="5000" rows="5" class="form-control" name="comment" id="comment"></textarea>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">

<button class="btn btn-3d btn-lg btn-reveal btn-black">
<i class="fa fa-check"></i>
<span>SUBMIT MESSAGE</span>
</button>

</div>
</div>

</form>
<!-- /Form -->

</div>
<!-- /COMMENTS -->


</div>

</div>


</div>
</section>
<!-- / -->
{% endblock %}

{% block script %}
<script>
uParse('#content', {
rootPath: '/static/admin/js/udeitor/'
})
</script>
{% endblock %}
