{% extends "../inc/base.html" %}
{% block style %}

<script src="/static/admin/js/udeitor/ueditor.parse.min.js"></script>
{% endblock %}
{% block content %}
<!--
PAGE HEADER

CLASSES:
.page-header-xs	= 20px margins
.page-header-md	= 50px margins
.page-header-lg	= 80px margins
.page-header-xlg= 130px margins
.dark			= dark page header

.shadow-before-1 	= shadow 1 header top
.shadow-after-1 	= shadow 1 header bottom
.shadow-before-2 	= shadow 2 header top
.shadow-after-2 	= shadow 2 header bottom
.shadow-before-3 	= shadow 3 header top
.shadow-after-3 	= shadow 3 header bottom
-->
<section class="page-header dark page-header-xs " >
    <div class="container">

        <h1>{{category.title}}</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb f-14">
            <li><a href="/">首页</a></li>
            {%for val in breadcrumb %}
            <li><a href="{{val.url}}">{{val.title}}</a></li>
            {% endfor %}
        </ol><!-- /breadcrumbs -->

        <!-- page tabs -->
        {%column data="cate",pid=category.pid%}
        {%if cate%}
        <ul class="page-header-tabs list-inline">

            <!--<li class="active"><a href="portfolio-masonry-3-columns.html">With Gutter</a></li>-->
            {%for val in cate%}
            <li  {%if val.id == category.id %}class="active"{%endif%}><a href="{{val.url}}">{{val.name}}</a></li>
            {%endfor%}
        </ul>
        {%endif%}<!-- /page tabs -->
    </div>
</section>
<!-- /PAGE HEADER -->
<!-- -->
<section class="container">
    <!-- OWL SLIDER -->
<div class="video_bg">
   <div id="video-box" style="width: 860px; height: 524px">

   </div>
    <div class="listbox" id="player_sidebar">

        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#home" data-toggle="tab">选集</a></li>
            <li><a href="#profile" data-toggle="tab">会员</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="home">
                <div class="tvinfo">
                    <h3>极限挑战 第二季</h3>
                    <a class="iku_share" id="iku_share" style="display:none"><i></i>放到桌面</a>
                    <p class="tvintro">
                        更新至<em>20160605</em>集  <em></em>
                        <a href="javascript:" class="showinfo_btn" id="dropdown">
                            节目信息	<span class="caret"></span>
                        </a>
                    </p>
                    <p class="tvintro_panel" id="tvintro_panel" style="display: none;">
                        《极限挑战》是东方卫视推出的一档围绕社会热点和时代背景的大型原创励志真人秀节目。第二季节目六位固定成员全员回归——黄渤、孙红雷、黄磊、王迅、罗志祥、张艺兴，并每...<a target="_blank" href="http://www.youku.com/show_page/id_z234cc978f0e411e583e8.html">详情</a>
                    </p>
                </div>
                <div class="subscribe">
                    <span class="m_img"><a href="http://i.youku.com/u/UMzA5ODU3MTE5Ng==" target="_blank" charset="hz-4009164-1000705"><img src="http://g2.ykimg.com/0130391F4555B075C9C1F82E2C1C6F1E2A90BE-A36E-56DD-C0D7-BE5D879F9833" alt="单身公主相亲记"></a></span>
                    <span class="m_title" id="subnamelistarea"><a href="http://i.youku.com/u/UMzA5ODU3MTE5Ng==" data-from="hz-4009165-1000705" charset="hz-4009165-1000705" target="_blank">极限挑战官方</a><a href="http://zipindao.youku.com/zpd/strategy" target="_blank" title="道长等级：12"><i class="lvl12"></i></a></span>
		    <span class="m_action" id="officiallistfollow">
				<div class="sub_action " id="user_follow_info_official"><div class="btn btn-info btn-sm" id="subscribe_official" subname="" subimg="" data-stat-role="ck"><span class="form_btn_text">订&nbsp;&nbsp;阅</span></div></div>
		    	<div class="sub_state" style="display: block;"><span class="num" id="user_fans_num_official">186.2万</span><b class="arrow"><em class="arrow_bg">◆</em><em class="arrow_co">◆</em></b></div>
		    </span>
                </div>
            </div>
            <div class="tab-pane fade" id="profile">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
            </div>

        </div>
    </div>
</div>
    <!-- /OWL SLIDER -->

</section>
<!-- / -->
<!--
				PAGE HEADER

				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
<section class="page-header page-header-xs">
    <div class="container">

        <h1 class="blog-post-title">{{info.title}}</h1>
        <ul class="page-options list-inline">
            <li><a href="#" class="glyphicon glyphicon-menu-left"></a></li>
            <li><a href="#" class="glyphicon glyphicon-th-large"></a></li>
            <li><a href="#" class="glyphicon glyphicon-menu-right"></a></li>
        </ul>

    </div>
</section>
<!-- /PAGE HEADER -->
<!-- -->
<section>
    <div class="container">

        <div class="row">

            <!-- LEFT -->

            <div class="col-md-9 col-sm-9">
                {#
                <h1 class="blog-post-title">{{info.title}}</h1>

                <ul class="blog-post-info list-inline">
                    <li>
                        <a href="#">
                            <i class="fa fa-clock-o"></i>
                            <span class="font-lato">{{ info.update_time|dateformat('Y-m-d H:i') }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-comment-o"></i>
                            <span class="font-lato">28 Comments</span>
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-folder-open-o"></i>

                        <a class="category" href="#">
                            <span class="font-lato">{{info.category_id}}</span>
                        </a>
                        <a class="category" href="#">
                            <span class="font-lato">Photography</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span class="font-lato">{{info.uid|get_nickname}}</span>
                        </a>
                    </li>
                </ul>
                #}

                <!-- OWL SLIDER -->
                <!--
                <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 4500, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
                <a class="lightbox" href="assets/images/demo/1200x800/10-min.jpg" data-plugin-options='{"type":"image"}'>
                <img class="img-responsive" src="assets/images/demo/content_slider/10-min.jpg" alt="" />
                </a>
                <a class="lightbox" href="assets/images/demo/1200x800/3-min.jpg" data-plugin-options='{"type":"image"}'>
                <img class="img-responsive" src="assets/images/demo/content_slider/3-min.jpg" alt="" />
                </a>
                <a class="lightbox" href="assets/images/demo/1200x800/21-min.jpg" data-plugin-options='{"type":"image"}'>
                <img class="img-responsive" src="assets/images/demo/content_slider/21-min.jpg" alt="" />
                </a>
                </div>
                -->
                <!-- /OWL SLIDER -->

                <!-- IMAGE -->
                {#
                {% if info.cover_id>0 %}
                <figure class="margin-bottom-20">
                    <img class="img-responsive" src="{{info.cover_id|get_pic('m=2,w=847')}}" alt="{{info.title}}">
                </figure>
                {% endif %}
                #}
                <!-- /IMAGE -->

                <!-- VIDEO -->
                <!--
                <div class="margin-bottom-20 embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="http://player.youku.com/embed/XMTQ0ODQ2Nzg4OA==" width="800" height="450"></iframe>
                </div>
                -->
                <!-- /VIDEO -->

                {#
                <!-- article content -->
                <div id="content">
                    {{info.content|safe}}
                </div>
                #}
                <!-- /article content -->
                <!--打赏-->
                <div id="cyReward" role="cylabs" data-use="reward" sourceid="{{info.id}}" cid="{{category.id}}" class="text-center"></div>
                <!--打赏-->

                <!--评论表情-->
                <div id="cyEmoji" role="cylabs" data-use="emoji" sourceid="{{info.id}}" cid="{{category.id}}"></div>
                <!--评论表情-->
                <div class="divider divider-dotted"><!-- divider --></div>

                {#
                <!-- TAGS -->
                <a class="tag" href="#">
                    <span class="txt">RESPONSIVE</span>
                    <span class="num">12</span>
                </a>
                <a class="tag" href="#">
                    <span class="txt">CSS</span>
                    <span class="num">3</span>
                </a>
                <a class="tag" href="#">
                    <span class="txt">HTML</span>
                    <span class="num">1</span>
                </a>
                <a class="tag" href="#">
                    <span class="txt">JAVASCRIPT</span>
                    <span class="num">28</span>
                </a>
                <a class="tag" href="#">
                    <span class="txt">DESIGN</span>
                    <span class="num">6</span>
                </a>
                <a class="tag" href="#">
                    <span class="txt">DEVELOPMENT</span>
                    <span class="num">3</span>
                </a>
                <!-- /TAGS -->

                <!-- SHARE POST -->
                <div class="clearfix margin-top-30">

<span class="pull-left margin-top-6 bold hidden-xs">
Share Post:
</span>

                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-right" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter pull-right" data-toggle="tooltip" data-placement="top" title="Twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus pull-right" data-toggle="tooltip" data-placement="top" title="Google plus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin pull-right" data-toggle="tooltip" data-placement="top" title="Linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-pinterest pull-right" data-toggle="tooltip" data-placement="top" title="Pinterest">
                        <i class="icon-pinterest"></i>
                        <i class="icon-pinterest"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-call pull-right" data-toggle="tooltip" data-placement="top" title="Email">
                        <i class="icon-email3"></i>
                        <i class="icon-email3"></i>
                    </a>

                </div>
                <!-- /SHARE POST -->


                <div class="divider"><!-- divider --></div>


                <ul class="pager">
                    <li class="previous"><a class="noborder" href="#">&larr; Previous Post</a></li>
                    <li class="next"><a class="noborder" href="#">Next Post &rarr;</a></li>
                </ul>

                #}
                <div class="divider"><!-- divider --></div>


                <!-- COMMENTS -->
                <div id="comments" class="comments margin-top-20">
                    <!--打分版，用户可以对当前新闻、游戏或者应用等进行1-5级的评分-->
                    <div id="SOHUCS" sid="{{info.id}}"></div>
                    <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
                    <script type="text/javascript">
                        window._config = { showScore: true };
                        window.changyan.api.config({
                            appid: '{{controller.setup.CY_APPID}}',
                            conf: '{{controller.setup.CY_APPKEY}}'
                        });
                    </script>
                </div>
                <!-- /COMMENTS -->


            </div>
            <!-- RIGHT -->
            <div class="col-md-3 col-sm-3">

                <!-- INLINE SEARCH -->
                <div class="inline-search clearfix margin-bottom-30">
                    <form action="" method="get" class="widget_search">
                        <input type="search" placeholder="Start Searching..." id="s" name="s" class="serch-input">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <!-- /INLINE SEARCH -->

                <hr />
                <div class="panel panel-default">
                    <div class="panel-body">

                        <p class="font-lato size-18">{{info.description}}</p>

                        <ul class="portfolio-detail-list list-unstyled nomargin">
                            <li><span style="width: 60px"><i class="fa fa-user"></i>作者:</span> Smarty Inc.</li>
                            <li><span style="width: 60px"><i class="fa fa-calendar"></i>时间:</span>{{ info.update_time|dateformat('Y-m-d H:i') }}</li>
                            <li><span style="width: 60px"><i class="fa fa-lightbulb-o"></i>分类:</span> HTML / CSS</li>
                            <li><span style="width: 60px"><i class="fa fa-link"></i>来源:</span> <a href="#">www.stepofweb.com</a></li>
                        </ul>

                    </div>

                    <div class="panel-footer">

                        <!-- Social Icons -->
                        <a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">

                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google plus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-sm social-icon-transparent social-pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                            <i class="icon-pinterest"></i>
                            <i class="icon-pinterest"></i>
                        </a>
                        <!-- /Social Icons -->

                    </div>

                </div>
                <!-- side navigation -->
                {% column data="cate",cid=category.id %}
                {% if cate %}
                <div class="side-nav margin-bottom-20 margin-top-20">
                    <div class="side-nav-head">
                        <button class="fa fa-bars"></button>
                        <h4>CATEGORIES</h4>
                    </div>
                    <ul class="list-group list-group-bordered list-group-noicon uppercase">
                        {%for val in cate%}
                        <li class="list-group-item"><a href="{{val.url}}"><span class="size-11 text-muted pull-right">(12)</span> {{val.name}}</a></li>
                        {%endfor%}
                    </ul>
                    <!-- /side navigation -->
                </div>
                {%endif%}

                <!-- JUSTIFIED TAB -->
                <div class="tabs nomargin-top hidden-xs margin-bottom-10">

                    <!-- tabs -->
                    <ul class="nav nav-tabs nav-bottom-border nav-justified">
                        <li class="active">
                            <a href="#tab_1" data-toggle="tab">
                                最热
                            </a>
                        </li>
                        <li>
                            <a href="#tab_2" data-toggle="tab">
                                最新
                            </a>
                        </li>
                    </ul>

                    <!-- tabs content -->
                    <div class="tab-content margin-bottom-0 margin-top-10">

                        <!-- POPULAR -->
                        <div id="tab_1" class="tab-pane active">
                            <!-- /post -->
                            {% topic data = "hotlist",limit= "5",cid=category.id,type="hot"%}
                            {%for v in hotlist%}
                            <div class="row tab-post"><!-- post -->
                                {%if v.cover_id%}
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <a href="{{v.name|get_url(v.id)}}">
                                        <img src="{{v.cover_id|get_pic('m=1,w=50,h=50')}}" width="50" alt="" />
                                    </a>
                                </div>
                                {%endif%}
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <a href="{{v.name|get_url(v.id)}}" class="tab-post-link">{{v.title}}</a>
                                    <small>{{v.update_time|dateformat('Y-m-d H:i')}}</small>
                                </div>
                            </div><!-- /post -->
                            {%endfor%}

                        </div>
                        <!-- /POPULAR -->


                        <!-- RECENT -->
                        <div id="tab_2" class="tab-pane">
                            {% topic data = "newlist",limit= "5",cid=category.id%}
                            {%for v in newlist%}
                            <div class="row tab-post"><!-- post -->
                                {%if v.cover_id%}
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <a href="{{v.name|get_url(v.id)}}">
                                        <img src="{{v.cover_id|get_pic('m=1,w=50,h=50')}}" width="50" alt="" />
                                    </a>
                                </div>
                                {%endif%}
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <a href="{{v.name|get_url(v.id)}}" class="tab-post-link">{{v.title}}</a>
                                    <small>{{v.update_time|dateformat('Y-m-d H:i')}}</small>
                                </div>
                            </div><!-- /post -->
                            {%endfor%}
                            <!-- /post -->
                        </div>
                        <!-- /RECENT -->

                    </div>
                </div>
                <!-- JUSTIFIED TAB -->


                <!-- TAGS -->
                <h3 class="hidden-xs size-16 margin-bottom-10">TAGS</h3>
                <div class="hidden-xs margin-bottom-20">

                    <a class="tag" href="#">
                        <span class="txt">RESPONSIVE</span>
                        <span class="num">12</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">CSS</span>
                        <span class="num">3</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">HTML</span>
                        <span class="num">1</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">JAVASCRIPT</span>
                        <span class="num">28</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">DESIGN</span>
                        <span class="num">6</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">DEVELOPMENT</span>
                        <span class="num">3</span>
                    </a>
                </div>



                <hr />


                <!-- SOCIAL ICONS -->
                <div class="hidden-xs margin-top-20 margin-bottom-20">
                    <a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
                        <i class="icon-rss"></i>
                        <i class="icon-rss"></i>
                    </a>
                </div>

            </div>

        </div>


    </div>
</section>
<!-- / -->
{% endblock %}

{% block script %}
<script type="text/javascript" src="http://7xjfim.com2.z0.glb.qiniucdn.com/Iva.js"></script>
<script type="text/javascript" charset="utf-8" src="http://changyan.itc.cn/js/??lib/jquery.js,changyan.labs.js?appid={{controller.setup.CY_APPID}}"></script>
<script>
    var ivaInstance = new Iva(
            'video-box',//父容器id或者父容器DOM对象，给父容器设置宽高640px*480px以上可以获得最佳的浏览体验；
            {
                appkey: 'VJa72yR7W',//必填，请在控制台查看应用标识
                live: false,//选填，是否是直播流，默认为false
                video: 'http://{{controller.setup.QINIU_DOMAIN_NAME}}/{{info.video_id|get_file("savename",false)}}',//必填，播放地址（http://www.tudou.com/programs/view/tM_vZCQy2uM/）或者资源地址（http://7xi4ig.com2.z0.glb.qiniucdn.com/shapuolang_ts.mp4）
                title: '小视频',//选填，视频标题
                cover: '',//选填，视频封面url
                videoStartPrefixSeconds: 0,//选填，跳过片头，默认为0
                videoEndPrefixSeconds: 0,//选填，跳过片尾，默认为0
                /* 以下参数可以在“控制台->项目看板->应用管理->播放器设置”进行全局设置，前端设置可以覆盖全局设置 */
                skinSelect: 0,//选填，播放器皮肤，可选0、1、2，默认为0，
                autoplay: false,//选填，是否自动播放，默认为false
                rightHand: true,//选填，是否开启右键菜单，默认为false
                autoFormat: false,//选填，是否自动选择最高清晰度，默认为false
                bubble: true,//选填，是否开启云泡功能，默认为true
                jumpStep: 10,//选填，左右方向键快退快进的时间
                tagTrack: false,//选填，云链是否跟踪，默认为false
                tagShow: false,//选填，云链是否显示，默认为false
                tagDuration: 5,//选填，云链显示时间，默认为5秒
                tagFontSize: 16//选填，云链文字大小，默认为16像素
            }
    );

    uParse('#content', {
        rootPath: '/static/admin/js/udeitor/'
    })
    $(function () {
        $('#dropdown').click(function () {
            $("#tvintro_panel").toggle();
        })

    })
</script>
{% endblock %}
