{% extends "../inc/base.html" %}
{% block content %}
<!--
PAGE HEADER

CLASSES:
.page-header-xs	= 20px margins
.page-header-md	= 50px margins
.page-header-lg	= 80px margins
.page-header-xlg= 130px margins
.dark			= dark page header

.shadow-before-1 	= shadow 1 header top
.shadow-after-1 	= shadow 1 header bottom
.shadow-before-2 	= shadow 2 header top
.shadow-after-2 	= shadow 2 header bottom
.shadow-before-3 	= shadow 3 header top
.shadow-after-3 	= shadow 3 header bottom
-->
<section class="page-header dark page-header-xs parallax parallax-2" style="background-image:url('/static/assets/images/demo/panorama/2-min.jpg')">
<div class="overlay dark-2"><!-- dark overlay [1 to 9 opacity] --></div>
<div class="container">

<h1>{{category.title}}</h1>

<!-- breadcrumbs -->
<ol class="breadcrumb f-14">
<li><a href="/">首页</a></li>
{%for val in breadcrumb %}
{% if val.id == category.id %}
<li class="active">{{val.title}}</li>
{% else %}
<li><a href="{{val.url}}">{{val.title}}</a></li>

{% endif %}
{% endfor %}
</ol><!-- /breadcrumbs -->
<!-- page tabs -->
{%column data="cate",pid=category.pid%}
{%if cate%}
<ul class="page-header-tabs list-inline">

<!--<li class="active"><a href="portfolio-masonry-3-columns.html">With Gutter</a></li>-->
{%for val in cate%}
<li  {%if val.id == category.id %}class="active"{%endif%}><a href="{{val.url}}">{{val.name}}</a></li>
{%endfor%}
</ul>
{%endif%}
<!-- /page tabs -->
</div>
</section>
<!-- /PAGE HEADER -->
<!-- -->
{%set cate = category.id|get_cate()%}
{% groups data="groups",cid=category.id%}
<section {%if groups|length > 0 %}class="padding-top-20"{%endif%}>
<div class="container">
    {{cate.groups}}
    {%if groups|length >0 %}

    <div class="text-center">
        <ul class="nav nav-pills mix-filter">

            <li class="filter {%if group_id==0%}active{%endif%}"><a href="{{cate.url}}">全部</a></li>
            {%for v in groups%}
            <li class="filter {%if group_id==v.id%}active{%endif%}"><a href="{{v.url}}">{{v.name}}</a></li>
            {%endfor%}
        </ul>
    </div>
    <div class="divider divider-dotted margin-top-0"><!-- divider --></div>
    {%endif%}
    {%if sort%}
    <ul class="nav nav-tabs nav-top-border">
        {%for val in sort.types%}
        <li class="{%if sortid == val.enable%}active{%endif%}"><a href="{{cate.url}}/{{group_id}}/{{val.enable}}" >{{val.name}}</a></li>
        {%endfor%}

    </ul>

    <div class="tab-content table-bordered" style="padding: 0; margin-bottom: 20px; margin-top: -1px">
        <table class="table table-hover  m-b-none" style="margin-top: -1px">
            <tbody>
            {%for val in typevar%}
            {%if val.search > 1%}
            <tr>
                <td style="width: 80px" class="text-right">
                    {{val.option.title}}:
                </td>
                <td>
                    {%if 0 == nsobj[val.option.identifier] or null == nsobj[val.option.identifier]%}
                    <span style="margin-right: 10px">全部</span>
                    {%else%}
                    <a href="{{cate.url}}/{{group_id}}/{{sortid}}/{{0|sort_url(val.option.identifier,typevar,nsobj,2)}}" class="text-info" style="margin-right: 10px">全部</a>
                    {%endif%}
                    {%for v in val.rules %}
                    {%if v.id|sort_act(nsobj[val.option.identifier])%}
                    <span style="margin-right: 10px">{{v.name}}</span>
                    {%else%}
                    <a href="{{cate.url}}/{{group_id}}/{{sortid}}/{{v.id|sort_url(val.option.identifier,typevar,nsobj,2)}}" class="text-info" style="margin-right: 10px">{{v.name}}</a>
                    {%endif%}
                    {%endfor%}
                     <!--子栏目-->
                    {%for v in val.rules %}
                    {%if v.id|sort_act(nsobj[val.option.identifier])%}
                    {% if v.children%}
                    <div class="subtsm">

                        {% for v_ in v.children %}
                        {%if v_.id|sort_act(nsobj[val.option.identifier])%}
                        <span style="margin-right: 10px">{{v_.name}}</span>
                        {%else%}
                        <a href="{{cate.url}}/{{group_id}}/{{sortid}}/{{v_.id|sort_url(val.option.identifier,typevar,nsobj,2)}}" class="text-info" style="margin-right: 10px">{{v_.name}}</a>
                        {%endif%}
                        {% endfor %}
                    </div>
                    {%endif%}
                    {%endif%}
                    {%endfor%}
                    <!--子栏目-->
                    {%for v in val.rules %}
                    {%if v.id|sort_act(nsobj[val.option.identifier])%}
                    {% if v.children%}

                        {% for v_ in v.children %}
                        {%if v_.id|sort_act(nsobj[val.option.identifier])%}
                    {% if v_.children%}
                    <div class="subtsm">
                    {% for v__ in v_.children %}

                        {%if v__.id|sort_act(nsobj[val.option.identifier])%}

                        <span style="margin-right: 10px">{{v__.name}}</span>
                        {%else%}
                        <a href="{{cate.url}}/{{group_id}}/{{sortid}}/{{v__.id|sort_url(val.option.identifier,typevar,nsobj,2)}}" class="text-info" style="margin-right: 10px">{{v__.name}}</a>

                    {%endif%}
                        {%endfor%}
                    </div>
                    {%endif%}
                        {%endif%}
                        {% endfor %}

                    {%endif%}
                    {%endif%}
                    {%endfor%}
                </td>

            </tr>
            {%endif%}
            {%endfor%}

            </tbody>
        </table>
    </div>
    {%endif%}
<div class="row">

<!-- LEFT -->
    <div class="col-md-9 col-sm-9">
        <div id="portfolio" class="portfolio-gutter portfolio-title-over">
<div class="row">
    {% for val in list %}
    <div class="col-md-4 col-sm-4 mix "><!-- item -->

        <div class="item-box">
            <figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="{{val.cover_id|get_pic('')}}" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus size-20"></span>
												</a>

                                                <!-- details -->
												<a class="ico-rounded" href="{{val.name|get_url(val.id)}}" target="_blank">
													<span class="glyphicon glyphicon-option-horizontal size-20"></span>
												</a>

											</span>
										</span>

                <!-- overlay title -->
                <div class="item-box-overlay-title">
                    <h3 class="size-14">{{val.title|block(16)}}</h3>
                    <ul class="list-inline categories nomargin">
                        <li><a href="#"><i class="fa fa-clock-o"></i>
                            <span class="font-lato">{{val.update_time|dateformat('Y-m-d H:i')}}</span></a></li>
                        <li><a href="#"><i class="fa fa-eye"></i>
                            <span class="font-lato">{{val.view}}</span></a></li>
                        <li><a href="#">
                            <i class="fa fa-user"></i>
                            <span class="font-lato">{{val.uid|get_nickname}}</span>
                        </a></li>
                    </ul>
                </div><!-- /overlay title -->

                <img class="img-responsive" src="{{val.cover_id|get_pic('m=1,w=600,h=399')}}" width="600" height="399" alt="">
            </figure>
        </div>

    </div><!-- /item -->
    {%endfor%}
</div>
            </div>




        <!-- PAGINATION -->
        <div class="text-left">
            <!-- Pagination Default -->
            {{pagination | safe}}
            <!-- /Pagination Default -->
        </div>
        <!-- /PAGINATION -->

    </div>

<!-- RIGHT -->

    <div class="col-md-3 col-sm-3">

        <!-- INLINE SEARCH -->
        <div class="inline-search clearfix margin-bottom-30">
            <form action="" method="get" class="widget_search">
                <input type="search" placeholder="Start Searching..." id="s" name="s" class="serch-input">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        <!-- /INLINE SEARCH -->

        <hr />
{#
        <!-- side navigation -->
        {%column data="cates",cid=category.id,isnum="1"%}
        {%if ccates%}
        <div class="side-nav margin-bottom-20 margin-top-20">
            <div class="side-nav-head">
                <button class="fa fa-bars"></button>
                <h4>{{category.title}} 子分类</h4>
            </div>
            <ul class="list-group list-group-bordered list-group-noicon uppercase">
                {%for val in cates%}
                <li class="list-group-item"><a href="{{val.url}}"><span class="size-11 text-muted pull-right">({{val.doc_num}})</span> {{val.name}}</a></li>
                {%endfor%}
            </ul>
            <!-- /side navigation -->
        </div>
        {%endif%}

#}
        <!-- JUSTIFIED TAB -->
        <div class="tabs nomargin-top hidden-xs margin-bottom-10">

            <!-- tabs -->
            <ul class="nav nav-tabs nav-bottom-border nav-justified">
                <li class="active">
                    <a href="#tab_1" data-toggle="tab">
                        最热
                    </a>
                </li>
                <li>
                    <a href="#tab_2" data-toggle="tab">
                        最新
                    </a>
                </li>
            </ul>

            <!-- tabs content -->
            <div class="tab-content margin-bottom-0 margin-top-10">

                <!-- POPULAR -->
                <div id="tab_1" class="tab-pane active">
                    <!-- /post -->
                    {% topic data = "hotlist",limit= "5",cid=category.id,type="hot"%}
                    {%for v in hotlist%}
                    <div class="row tab-post"><!-- post -->
                        {%if v.cover_id%}
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <a href="{{v.name|get_url(v.id)}}">
                                <img src="{{v.cover_id|get_pic('m=1,w=50,h=50')}}" width="50" alt="" />
                            </a>
                        </div>
                        {%endif%}
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <a href="{{v.name|get_url(v.id)}}" class="tab-post-link">{{v.title}}</a>
                            <small>{{v.update_time|dateformat('Y-m-d H:i')}}</small>
                        </div>
                    </div><!-- /post -->
                    {%endfor%}

                </div>
                <!-- /POPULAR -->


                <!-- RECENT -->
                <div id="tab_2" class="tab-pane">
                    {% topic data = "newlist",limit= "5",cid=category.id%}
                    {%for v in newlist%}
                    <div class="row tab-post"><!-- post -->
                        {%if v.cover_id%}
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <a href="{{v.name|get_url(v.id)}}">
                                <img src="{{v.cover_id|get_pic('m=1,w=50,h=50')}}" width="50" alt="" />
                            </a>
                        </div>
                        {%endif%}
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <a href="{{v.name|get_url(v.id)}}" class="tab-post-link">{{v.title}}</a>
                            <small>{{v.update_time|dateformat('Y-m-d H:i')}}</small>
                        </div>
                    </div><!-- /post -->
                    {%endfor%}
                    <!-- /post -->
                </div>
                <!-- /RECENT -->

            </div>

        </div>
        <!-- JUSTIFIED TAB -->


        <!-- TAGS -->
        <h3 class="hidden-xs size-16 margin-bottom-20">TAGS</h3>
        <div class="hidden-xs margin-bottom-20">

            <a class="tag" href="#">
                <span class="txt">RESPONSIVE</span>
                <span class="num">12</span>
            </a>
            <a class="tag" href="#">
                <span class="txt">CSS</span>
                <span class="num">3</span>
            </a>
            <a class="tag" href="#">
                <span class="txt">HTML</span>
                <span class="num">1</span>
            </a>
            <a class="tag" href="#">
                <span class="txt">JAVASCRIPT</span>
                <span class="num">28</span>
            </a>
            <a class="tag" href="#">
                <span class="txt">DESIGN</span>
                <span class="num">6</span>
            </a>

            <a class="tag" href="#">
                <span class="txt">DEVELOPMENT</span>
                <span class="num">3</span>
            </a>
        </div>



        <hr />


        <!-- SOCIAL ICONS -->
        <div class="hidden-xs margin-top-30 margin-bottom-60">
            <a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
            </a>

            <a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
            </a>

            <a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
            </a>

            <a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
                <i class="icon-rss"></i>
                <i class="icon-rss"></i>
            </a>
        </div>

    </div>
</div>

</div>
</section>
<!-- / -->
{% endblock %}