{% extends "../inc/base.html" %}
{% block style%}
<link href="/static/assets/css/layout-shop.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    	<!-- 
				PAGE HEADER 
				
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
			<section class="page-header page-header-xs">
				<div class="container">

					<h1>{{controller.meta_title}}</h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb">
						<li><a href="/">首页</a></li>
						<li class="active">{{controller.meta_title}}</li>
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
			<!-- /PAGE HEADER -->




			<!-- CART -->
			<section>
				<div class="container">

<div class="row process-wizard process-wizard-primary">

	<div class="col-xs-3 process-wizard-step complete">
		<div class="text-center process-wizard-stepnum">第一步</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="#" class="process-wizard-dot"></a>
		<div class="process-wizard-info text-center">购物车</div>
	</div>

	<div class="col-xs-3 process-wizard-step active"><!-- complete -->
		<div class="text-center process-wizard-stepnum">第二步</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="#" class="process-wizard-dot"></a>
		<div class="process-wizard-info text-center">确认订单信息</div>
	</div>

	<div class="col-xs-3 process-wizard-step disabled"><!-- complete -->
		<div class="text-center process-wizard-stepnum">第三步</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="#" class="process-wizard-dot"></a>
		<div class="process-wizard-info text-center">选择支付</div>
	</div>

	<div class="col-xs-3 process-wizard-step disabled"><!-- active -->
		<div class="text-center process-wizard-stepnum">第四步</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="#" class="process-wizard-dot"></a>
		<div class="process-wizard-info text-center">订购完成</div>
	</div>

</div>
<hr/>

<div class="heading-title heading-dotted text-center">
						<h4>填写并核对 <span>[订单信息]</span></h4>
					</div>	
                    
                    <div class="panel panel-default">
	<div class="panel-body">
        <section>
        <div class="heading-title heading-line-single margin-bottom-20">
						<h5>收货人信息</h5>
					</div>
                    <div class="addr-box">
         {% for val in addrlist %}
        
		<div class="icheck addr-list m-b">
            <div class="item">
            <input type="radio"  name="address" value="{{val.id}}" {% if val.is_default == 1 %} checked {% endif%} >
                            <label ><ul class="text-left list-inline list-separator margin-bottom-0">
                                {% if val.is_default == 1 %} 
								<li>
									<span class="label label-info">默认地址 </span>
								</li>
                                {% endif%}
								<li>
									{{val.accept_name}}
								</li>
                                <li>
									{{val.province}} 
								</li>
                                <li>
									{{val.city}} 
								</li>
                                <li>
									{{val.addr}}
								</li>
                                <li>{{val.mobile}} </li>
							</ul>     </label>
                            </div> 
                          <div class="item">
                                        {% if val.is_default == 0 %}  <a href="#" class="btn btn-default btn-xs is_d" data-addr-id = "{{val.id}}" ><i class="fa fa-check white"></i> 设为默认 </a>  {% endif%}
										<a href="/cart/editaddrmodal/id/{{val.id}}" class="btn btn-default btn-xs edit"  data-toggle="ajaxModal"> <i class="fa fa-edit white"  ></i> 编辑 </a>
										<a href="#" class="btn btn-default btn-xs del swal"  data-addr-id = "{{val.id}}"><i class="fa fa-times white"></i> 删除 </a>
						  </div>   
                            
         </div>
         {% endfor %}
            
                    </div>
                    <button class="btn btn-danger btn-sm add-addr-btn noradius " data-toggle="modal" data-target=".add-addr-dialog"> <i class="fa fa-plus-square"></i>  新增收货地址</button>
        </section>
        <section>
        <div class="heading-title heading-line-single margin-bottom-20">
						<h5>支付方式</h5>
					</div>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </section>
          <section>
        <div class="heading-title heading-line-single margin-bottom-20">
						<h5>送货清单</h5>
					</div>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </section>
         <section>
        <div class="heading-title heading-line-single margin-bottom-20">
						<h5>发票信息</h5>
					</div>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </section>
	</div>
</div>		
				</div>
			</section>
			<!-- /CART -->

<div class="modal fade add-addr-dialog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<!-- header modal -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title " id="myLargeModalLabel">新增收货人信息</h4>
			</div>

			<!-- body modal -->
			<div class="modal-body">
				<form  method="post"  class="add-addr" >
									<fieldset>
										<!-- required [php action request] -->
										<div class="row">
											<div class="form-group" id="areas">
												<div class="col-md-3 col-sm-12">
													<label>所在地区（省份/直辖市） *</label>
													<select class="form-control pointer " id="province" name="province" required>
														<option value="">--- 省份/直辖市 ---</option>
														
													</select>
												</div>
                                                <div class="col-md-3 col-sm-12">
													<label>（市） *</label>
													<select class="form-control pointer " id="city" name="city" required>
														<option value="">--- 市 ---</option>
														
													</select>
												</div>
                                                <div class="col-md-3 col-sm-12">
													<label>（县/区） *</label>
													<select class="form-control pointer " id="county" name="county" required>
														<option value="">--- 县/区 ---</option>
													</select>
												</div>
											</div>
										</div>
                                          <div class="row">
											<div class="form-group">
												<div class="col-md-12 col-sm-12">
													<label>街道地址 *</label>
													<textarea class="form-control required" rows="4" name="addr" required></textarea>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="form-group">
												<div class="col-md-6 col-sm-6">
													<label>邮政编码 *</label>
													<input type="text" class="form-control required" value="" name="zip" required>
												</div>
												<div class="col-md-6 col-sm-6">
													<label>手机号码 *</label>
													<input type="text" class="form-control required" value="" name="mobile" required>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="form-group">
												<div class="col-md-6 col-sm-6">
													<label>收货人姓名 *</label>
													<input type="text" class="form-control required" value="" name="accept_name" required>
												</div>
												<div class="col-md-6 col-sm-6">
													<label>电话号码 </label>
													<input type="text" class="form-control " value="" name="phone">
												</div>
											</div>
										</div>

										

										<div class="row">
											<div class="form-group">
												<div class="col-md-12 col-sm-12">
													<label>
														设为默认地址
														
													</label>
													<!-- checkbox -->
                                        <label class="checkbox">
                                            <input type="checkbox" value="1" name="is_default">
                                            <i></i> 设置为默认收货地址
                                        </label>
												</div>
											</div>
										</div>

									</fieldset>
									<div class="row">
										<div class="col-md-12">
											<button class="btn btn-3d btn-teal btn-lg btn-block margin-top-30" type="submit">
												保存收货人地址
											</button>
										</div>
									</div>

				</form>	
			</div>
  
		</div>
	</div>
</div>

{% endblock %}

{% block script%}
<!-- PAGE LEVEL SCRIPTS -->
		<script type="text/javascript" src="/static/assets/js/view/demo.shop.js"></script>
{% endblock %}