{% extends "../inc/base.html" %}
{% block style%}
<link href="/static/assets/css/layout-shop.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    	<!-- 
				PAGE HEADER 
				
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
			<section class="page-header page-header-xs">
				<div class="container">

					<h1>{{controller.meta_title}}</h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb">
						<li><a href="/">首页</a></li>
						<li class="active">{{controller.meta_title}}</li>
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
			<!-- /PAGE HEADER -->




			<!-- CART -->
			<section>
				<div class="container">

				
					<!-- EMPTY CART -->
					<div class="panel panel-default">
						<div class="panel-body">
							<strong>购物车内暂时没有商品!</strong><br />
							去 <a href="/">首页</a> 挑选喜欢的商品。<br />
							
							<span class="label label-warning">{{controller.setup.WEB_SITE_TITLE}}</span>
						</div>
					</div>
					<!-- /EMPTY CART -->



					<!-- CART -->
					<div class="row">

						<!-- LEFT -->
						<div class="col-lg-9 col-sm-8">

							<!-- CART -->
							<form class="cartContent clearfix" method="post" action="#">

								<!-- cart content -->
								<div id="cartContent">
									<!-- cart header -->
									<div class="item head clearfix">
										<span class="cart_img"></span>
										<span class="product_name size-13 bold">PRODUCT NAME</span>
										<span class="remove_item size-13 bold"></span>
										<span class="total_price size-13 bold">TOTAL</span>
										<span class="qty size-13 bold">QUANTITY</span>
									</div>
									<!-- /cart header -->

									<!-- cart item -->
									<div class="item">
										<div class="cart_img pull-left width-100 padding-10 text-left"><img src="assets/images/demo/shop/products/100x100/p1.jpg" alt="" width="80" /></div>
										<a href="shop-single-left.html" class="product_name">
											<span>Man shirt XL</span>
											<small>Color: Brown, Size: XL</small>
										</a>
										<a href="#" class="remove_item"><i class="fa fa-times"></i></a>
										<div class="total_price">$<span>21.00</span></div>
										<div class="qty"><input type="number" value="1" name="qty" maxlength="3" max="999" min="1" /> &times; $21.00</div>
										<div class="clearfix"></div>
									</div>
									<!-- /cart item -->

									<!-- cart item -->
									<div class="item">
										<div class="cart_img pull-left width-100 padding-10 text-left"><img src="assets/images/demo/shop/products/100x100/p8.jpg" alt="" width="80" /></div>
										<a href="shop-single-left.html" class="product_name">
											<span>Great Black Shoes For Man and Only Man...</span>
											<small>Color: Black, Size: 8.5</small>
										</a>
										<a href="#" class="remove_item"><i class="fa fa-times"></i></a>
										<div class="total_price">$<span>32.56</span></div>
										<div class="qty"><input type="number" value="1" name="qty" maxlength="3" max="999" min="1" /> &times; $32.56</div>
										<div class="clearfix"></div>
									</div>
									<!-- /cart item -->

									<!-- cart item -->
									<div class="item">
										<div class="cart_img pull-left width-100 padding-10 text-left"><img src="assets/images/demo/shop/products/100x100/p13.jpg" alt="" width="80" /></div>
										<a href="shop-single-left.html" class="product_name">
											<span>Pink Lady Perfect Shoes</span>
											<small>Color: Pink, Size: 6.5</small>
										</a>
										<a href="#" class="remove_item"><i class="fa fa-times"></i></a>
										<div class="total_price">$<span>67.19</span></div>
										<div class="qty"><input type="number" value="1" name="qty" maxlength="3" max="999" min="1" /> &times; $67.19</div>
										<div class="clearfix"></div>
									</div>
									<!-- /cart item -->


									<!-- update cart -->
									<button class="btn btn-success margin-top-20 margin-right-10 pull-right"><i class="glyphicon glyphicon-ok"></i> UPDATE CART</button>
									<button class="btn btn-danger margin-top-20 margin-right-10 pull-right"><i class="glyphicon glyphicon-remove"></i> CLEAR CART</button>
									<!-- /update cart -->

									<div class="clearfix"></div>
								</div>
								<!-- /cart content -->

							</form>
							<!-- /CART -->

						</div>


						<!-- RIGHT -->
						<div class="col-lg-3 col-sm-4">

							<!-- TOGGLE -->
							<div class="toggle-transparent toggle-bordered-full clearfix">

								<div class="toggle nomargin-top">
									<label>Voucher</label>

									<div class="toggle-content">
										<p>Enter your discount coupon code.</p>

										<form action="#" method="post" class="nomargin">
											<input type="text" id="cart-code" name="cart-code" class="form-control text-center margin-bottom-10" placeholder="Voucher Code" required="required">
											<button class="btn btn-primary btn-block" type="submit">SUBMIT</button>
										</form>
									</div>
								</div>

								<div class="toggle">
									<label>Shipping tax calculator</label>

									<div class="toggle-content">
										<p>To get a shipping estimate, please enter your destination.</p>

										<form action="#" method="post" class="nomargin">
											<label>Country*</label>
											<select id="cart-tax-country" name="cart-tax-country" class="form-control pointer margin-bottom-20">
												<option value="1">United States</option>
												<option value="2">United Kingdom</option>
												<option value="2">...........</option>
												<!-- add all here -->
											</select>

											<label>State/Province</label>
											<select id="cart-tax-state" name="cart-tax-state" class="form-control pointer margin-bottom-20">
												<option value="1">Alabama</option>
												<option value="2">Alaska</option>
												<option value="2">...........</option>
												<!-- add all here -->
											</select>

											<label>Zip/Postal Code</label>
											<input type="text" id="cart-tax-postal" name="cart-tax-postal" class="form-control margin-bottom-20">

											<button class="btn btn-primary btn-block" type="submit">SUBMIT</button>
										</form>
									</div>
								</div>

							</div>
							<!-- /TOGGLE -->
							
							<div class="toggle-transparent toggle-bordered-full clearfix">
								<div class="toggle active">
									<div class="toggle-content">
										
										<span class="clearfix">
											<span class="pull-right">$120.75</span>
											<strong class="pull-left">Subtotal:</strong>
										</span>
										<span class="clearfix">
											<span class="pull-right">$0.00</span>
											<span class="pull-left">Discount:</span>
										</span>
										<span class="clearfix">
											<span class="pull-right">$0.00</span>
											<span class="pull-left">Shipping:</span>
										</span>

										<hr />

										<span class="clearfix">
											<span class="pull-right size-20">$120.75</span>
											<strong class="pull-left">TOTAL:</strong>
										</span>

										<hr />

										<a href="shop-checkout.html" class="btn btn-primary btn-lg btn-block size-15"><i class="fa fa-mail-forward"></i> Proceed to Checkout</a>
									</div>
								</div>
							</div>

						</div>

					</div>
					<!-- /CART -->
					
				</div>
			</section>
			<!-- /CART -->


{% endblock %}

{% block script%}
<!-- PAGE LEVEL SCRIPTS -->
		<script type="text/javascript" src="/static/assets/js/view/demo.shop.js"></script>
{% endblock %}