<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{controller.meta_title}} | {{config.setup.WEB_SITE_TITLE}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/static/mobile/css/mui.min.css">
    <link rel="stylesheet" href="/static/mobile/css/app.css">
    <link rel="stylesheet" href="/static/mobile/fonts/iconfont.css">
    {% block style %}{% endblock %}
    <!--页面头部css钩子加载-->
    {% if pagehook%}
    {%for field in pagehook.fields%}
    {%if pagehook.editor == '1'%}
    {{HOOKS@pageHeader@1[field.name]|safe}}
    {%elif pagehook.editor == '2_1'%}
    {{HOOKS@pageHeader@2_1[field.name]|safe}}
    {%elif pagehook.editor == '2_2'%}
    {{HOOKS@pageHeader@2_2[field.name]|safe}}
    {%elif pagehook.editor == '3'%}
    {{HOOKS@pageHeader@3[field.name]|safe}}
    {%else%}
    {{HOOKS@pageHeader[field.name]|safe}}
    {%endif%}
    {%endfor%}
    {%endif%}
    <!--/页面头部css钩子加载结束-->
    {% macro content(pagehook) %}
    <!--内容钩子加载-->
    {% if pagehook%}
    {%for field in pagehook.fields%}
    {%if pagehook.editor == '1'%}
    {{HOOKS@pageContent@1[field.name]|safe}}
    {%elif pagehook.editor == '2_1'%}
    {{HOOKS@pageContent@2_1[field.name]|safe}}
    {%elif pagehook.editor == '2_2'%}
    {{HOOKS@pageContent@2_2[field.name]|safe}}
    {%elif pagehook.editor == '3'%}
    {{HOOKS@pageContent@3[field.name]|safe}}
    {%else%}
    {{HOOKS@pageContent[field.name]|safe}}
    {%endif%}
    {%endfor%}
    {%endif%}
    <!--/内容钩子加载结束-->
    {% endmacro %}
    {%if config.setup.WEB_TONGJI%}
    <!--统计代码-->
    {{config.setup.WEB_TONGJI|safe}}
    <!--统计-->
    {%endif%}

</head>

<body {%block bodyattr%} {%endblock%}>
{% block content %}
{% endblock%}
<script src="/static/mobile/js/mui.min.js"></script>
<script src="/static/mobile/libs/lodash.min.js"></script>
<script src="/static/mobile/libs/zepto.min.js"></script>
<script>
    if(mui('.mui-scroll-more').length>0){
        mui('.mui-scroll-more').scroll();
    }
    if(mui("#sliderSegmentedControl").length>0){
    mui("#sliderSegmentedControl").on("tap","a.mui-control-item",function(){
        var url = this.getAttribute("data-url");
        //打开关于页面
        //alert(url)
        mui.openWindow({
            url: url
        });
    })
    }
</script>
{% block script %}{% endblock %}
<!--页面footer钩子，一般用于加载插件JS文件和JS代码-->
{% if pagehook%}
{%for field in pagehook.fields%}
{%if pagehook.editor == '1'%}
{{HOOKS@pageFooter@1[field.name]|safe}}
{%elif pagehook.editor == '2_1'%}
{{HOOKS@pageFooter@2_1[field.name]|safe}}
{%elif pagehook.editor == '2_2'%}
{{HOOKS@pageFooter@2_2[field.name]|safe}}
{%elif pagehook.editor == '3'%}
{{HOOKS@pageFooter@3[field.name]|safe}}
{%else%}
{{HOOKS@pageFooter[field.name]|safe}}
{%endif%}
{%endfor%}
{%endif%}
<!--/页面footer钩子，一般用于加载插件JS文件和JS代码-->

</body>

</html>